* {
    margin: 0;
    padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #222;
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

// * {
//     outline: 1px solid #ccc;
// }

.container {
    position: relative;
    margin: 50px auto 0px;
    padding: 20px;
    width: 800px;
    height: 600px;
    border: 1px solid #ccc;

    .questionPosition {
        position: absolute;
        top: 20px;
        right: 30px;
        z-index: 100;

        ul {
            display: flex;

            li {
                margin-right: 20px;
                width: 40px;
                height: 40px;
                // color: #fff;
                text-align: center;
                line-height: 40px;
                background-color: #ffd8d8;
                border-radius: 50%;

                &.active {
                    background-color: #fda3a3;
                }

                &:last-child {
                    margin-right: 0;
                }

                &.correct {
                    background-image: url(./img/quiz_p_o.png);
                    background-size: 40px;
                    background-repeat: no-repeat;
                }
                &.incorrect {
                    background-image: url(./img/quiz_p_x.png);
                    background-size: 40px;
                    background-repeat: no-repeat;
                }
            }
        }
    }

    .quiz_content {
        position: relative;
        width: 100%;
        height: 100%;

        

        .title {
            display: flex;
            height: 40px;

            .questionNum {
                font-size: 30px;
            }

            .questionTitle {
                margin-left: 30px;
                font-size: 26px;
            }
        }

        .answer {
            position: relative;
            width: 800px;
            height: 520px;
            padding: 40px;
            box-sizing: border-box;
            // outline: 1px solid #f00;

            // ul {
                .answerTit {
                    position: relative;
                    display: block;
                    height: 50px;
                    line-height: 50px;

                    &.active {
                        color: #3131ff;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: -25px;
                            width: 15px;
                            height: 15px;
                            background-color: #f00;
                            border-radius: 50%;
                            transform: translateY(-50%);
                        }
                    }

                    &.correct {
                        color: #f00;
                        font-weight: bold;
                    }
                }
            // }

            .input {
                width: 300px;
                height: 40px;
                line-height: 40px;
                font-size: 18px;
                text-align: center;
            }
        }

        .resultBtn {
            display: flex;
            justify-content: end;
            height: 40px;

            div {
                margin-right: 10px;
                width: 150px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                border: 1px solid #000;
                border-radius: 20px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .nextBtn,
        .lastBtn {
            display: flex;
            justify-content: end;
            height: 40px;

            >div {
                width: 150px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                border: 1px solid #000;
                border-radius: 20px;
            }
        }

    }

    .page1 {
        display: none;
    }

    .page2 {
        display: none;
    }

    .page3 {
        display: none;

        .answer {
            overflow: hidden;
            position: relative;
            
            #canvas_answer {
                position: absolute;
                top: 0; left: 0;
                margin: 40px;  
                z-index: -1; 
            }
            #canvas {
                z-index: 1;
            }
            
            .objContainer {
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;

                .content {
                    position: absolute;
                    top: 100px;
                    .obj {
                        margin-bottom: 120px;
                        width: 20px; height: 20px;
                        background-color: #ddd;
                        border-radius: 50%;

                        &:last-child {margin-bottom: 0;}
                    }
                }
                .drag {
                    left: 100px;
                    .dragObj {
                        z-index: 100;
                        &:nth-of-type(1) {
                            background-color: #fd6500;
                        }

                        &:nth-of-type(2) {
                            background-color: #ff9100;
                        }

                        &:nth-of-type(3) {
                            background-color: #fde400;
                        }
                    }
                }

                .drop {
                    right: 100px;
                }
            }

            .fake {
                position: absolute;
                top: 0px; left: 0px;
                width: 100%; height: 100%;
                z-index: 1;

                .wrap {
                    position: absolute;
                    top: 100px; left: 100px;
                    .fakeObj {
                        margin-bottom: 120px;
                        width: 20px; height: 20px;
                        background-color: #ddd;
                        border-radius: 50%;
                        // opacity: 0.6;
                    }
                }
            }
        }

    }

    .resultPage {
        .title {
            display: block;
            width: 100%;
            margin: 50px 0;
            font-size: 20px;
            text-align: center;
        }

        .quizResult {

            ul {
                display: flex;

                li {
                    width: calc(100%/3);
                    height: 300px;
                    border: 1px solid #000;
                    
                    &:nth-of-type(even) {
                        border-left: none;
                        border-right: none;
                    }

                    .questionNum {
                        display: block;
                        height: 60px;
                        line-height: 60px;
                        text-align: center;
                    }

                    .question_result {
                        height: calc(300px - 60px);
                        
                        background-repeat: no-repeat;
                        background-position: center;

                        &.true {
                            background-image: url(./img/quiz_final_o.png);
                        }
                        &.false {
                            background-image: url(./img/quiz_final_x.png);
                        }
                    }
                }
            }
        }

        .btn_container {
            margin-top: 50px;
            display: flex;
            justify-content: space-evenly;

            div {
                padding: 10px 30px;
                font-size: 18px;
                color: #fff;
                background-color: rgb(255, 162, 152);
                border-radius: 50px;
            }
        }
    }

    .endPage {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-self: center;

        span {
            display: block;
            width: 100%;
            font-size: 30px;
            text-align: center;
        }
        p{
            position: absolute;
            right: 0; bottom: 0;
            display: block;
            width: 20px; height: 20px;
            border: 1px solid #000;
            cursor: pointer;
        }
    }
}