* {
    margin: 0;
    padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #222;
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

.container {
    position: absolute;
    // margin: 50px auto 0px;
    // padding: 20px;
    width: 800px;
    height: 600px;
    border: 1px solid #ccc;

    .questionPosition {
        position: absolute;
        top: 20px;
        right: 30px;
        z-index: 100;

        ul {
            display: flex;

            li {
                margin-right: 20px;
                width: 40px;
                height: 40px;
                // color: #fff;
                text-align: center;
                line-height: 40px;
                background-color: #ffd8d8;
                border-radius: 50%;

                &.active {
                    background-color: #fda3a3;
                }

                &:last-child {
                    margin-right: 0;
                }

                &.correct {
                    background-image: url(./img/quiz_p_o.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                &.incorrect {
                    background-image: url(./img/quiz_p_x.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }

    .quiz_content {
        position: relative;
        width: 100%;
        height: 100%;

        .title {
            display: flex;
            flex-wrap: wrap;
            height: 40px;

            .questionNum {
                font-size: 30px;
            }

            .questionTitle {
                margin-left: 30px;
                font-size: 26px;
            }

            .notice {
                margin-left: 50px;
                width: 100%;
            }
        }

        .answer {
            position: relative;
            width: 100%;
            height: 85%;
            padding: 40px;
            box-sizing: border-box;
            // overflow: hidden;

            .answerTit {
                position: relative;
                display: block;
                height: 50px;
                line-height: 50px;

                &.active {
                    color: #3131ff;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: -25px;
                        width: 15px;
                        height: 15px;
                        background-color: #f00;
                        border-radius: 50%;
                        transform: translateY(-50%);
                    }
                }

                &.correct {
                    color: #f00;
                    font-weight: bold;
                }
            }

            // essay
            .input {
                display: block;
                margin-top: 10px;
                margin-bottom: 50px;
                width: 300px;
                height: 40px;
                line-height: 40px;
                font-size: 18px;
                text-align: center;

                &:last-child {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            // drawing
            #canvas_answer {
                position: absolute;
                top: 0;
                left: 0;
                margin: 40px;
                z-index: -1;
            }

            #canvas {
                z-index: 1;
            }

            .objContainer {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                .content {
                    position: absolute;
                    // top: 100px;
                    top: 50%;
                    transform: translateY(-50%);

                    .obj {
                        margin-bottom: 120px;
                        width: 20px;
                        height: 20px;
                        background-color: #ddd;
                        border-radius: 50%;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                .drag {
                    left: 100px;

                    .dragObj {
                        z-index: 100;
                        background-color: #fde400;
                    }
                }

                .drop {
                    right: 100px;
                    z-index: -2;
                }
            }

            .fake {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                z-index: -2;

                .wrap {
                    position: absolute;
                    // top: 100px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 100px;

                    .fakeObj {
                        margin-bottom: 120px;
                        width: 20px;
                        height: 20px;
                        background-color: #ddd;
                        border-radius: 50%;
                        // opacity: 0.6;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .resultBtn {
            display: flex;
            justify-content: end;
            height: 40px;

            div {
                margin-right: 10px;
                width: 150px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                border: 1px solid #000;
                border-radius: 20px;

                &:last-child {
                    margin-right: 0;
                }
            }

            .preview {
                &.active {
                    font-weight: bold;
                    background-color: #ddd;
                }
            }
        }

        .nextBtn,
        .lastBtn {
            display: none;
            float: right;
            height: 40px;

            >div {
                width: 150px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                border: 1px solid #000;
                border-radius: 20px;
            }
        }

    }

    .resultPage {
        display: none;

        .title {
            display: block;
            width: 100%;
            margin: 50px 0;
            font-size: 20px;
            text-align: center;
        }

        .quizResult {

            ul {
                display: flex;

                li {
                    width: calc(100%/3);
                    height: 300px;
                    border: 1px solid #ddd;

                    &:nth-of-type(even) {
                        border-left: none;
                        border-right: none;
                    }

                    &:last-child {
                        border-left: 1px solid #ddd;
                        border-right: 1px solid #ddd;
                    }

                    .questionNum {
                        display: block;
                        height: 60px;
                        line-height: 60px;
                        text-align: center;
                    }

                    .question_result {
                        height: calc(300px - 60px);

                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: auto;

                        &.true {
                            background-image: url(./img/quiz_final_o.png);
                        }

                        &.false {
                            background-image: url(./img/quiz_final_x.png);
                        }
                    }
                }
            }
        }

        .btn_container {
            margin-top: 50px;
            display: flex;
            justify-content: space-evenly;

            div {
                padding: 10px 30px;
                font-size: 18px;
                color: #fff;
                background-color: rgb(255, 162, 152);
                border-radius: 50px;
            }
        }
    }

    .endPage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-self: center;

        span {
            display: block;
            width: 100%;
            font-size: 30px;
            text-align: center;
        }

        p {
            position: absolute;
            right: 0;
            bottom: 0;
            display: block;
            width: 20px;
            height: 20px;
            border: 1px solid #000;
            cursor: pointer;
        }
    }


    .result {
        div {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .correct {
            background-color: #a4d6ff50;
        }

        .chance,
        .incorrect {
            background-color: #ff7b7b63;
        }
    }
}


// @media screen and (max-width: 840px) {
//     .container {
//         width: 80%;

//         .questionPosition {
//             right: 20px;
//             top: 20px;

//             ul {
//                 li {
//                     margin-right: 5px;
//                     width: 35px;
//                     height: 35px;
//                     line-height: 35px;
//                 }
//             }
//         }
//     }
// }

// @media screen and (max-height: 700px) {
//     .container {
//         margin: 15px auto;
//         padding: 10px 20px;

//         .quiz_content {
//             .title {
//                 height: 35px;

//                 .questionNum,
//                 .questionTitle {
//                     font-size: 24px;
//                 }
//             }

//             .answer {
//                 padding: 10px;

//                 #canvas_answer {
//                     margin: 10px;
//                 }

//                 .objContainer {
//                     .content {
//                         .obj {
//                             margin-bottom: 70px;
//                         }
//                     }

//                     .drag {
//                         left: 70px;
//                     }

//                     .drop {
//                         right: 70px;
//                     }
//                 }

//                 .fake {
//                     .wrap {
//                         left: 70px;

//                         .fakeObj {
//                             margin-bottom: 70px;
//                         }
//                     }
//                 }
//             }

//             .resultBtn,
//             .nextBtn,
//             .lastBtn {
//                 position: absolute;
//                 right: 0;
//                 bottom: 0;
//                 height: 30px;

//                 div {
//                     width: 120px;
//                     height: 30px;
//                     line-height: 30px;
//                 }
//             }
//         }

//         .resultPage {
//             .title {
//                 height: 30px;
//                 margin: 10px 0;
//             }

//             .quizResult {
//                 ul {
//                     li {
//                         height: 190px;

//                         .questionNum {
//                             height: 40px;
//                             line-height: 40px;
//                         }

//                         .question_result {
//                             height: calc(100% - 50px);
//                         }
//                     }
//                 }
//             }

//             .btn_container {
//                 margin-top: 15px;

//                 div {
//                     padding: 5px 20px;
//                 }
//             }
//         }
//     }
// }

// @media screen and (max-width: 700px) {
//     .container {
//         width: 80%;

//         .questionPosition {
//             top: 10px;
//             right: 10px;

//             ul {
//                 li {
//                     margin-right: 5px;
//                     width: 35px;
//                     height: 35px;
//                     line-height: 35px;
//                 }
//             }
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     .container {
//         .quiz_content {
//             .title {
//                 flex-wrap: nowrap;
//                 padding-top: 45px;
//                 // box-sizing: border-box;

//                 .questionTitle {
//                     margin-left: 10px;
//                 }
//             }

//             .answer {
//                 padding: 10px;

//                 .input {
//                     width: 100%;
//                 }

//                 #canvas_answer {
//                     margin: 10px;
//                 }

//                 .objContainer {
//                     .drag {
//                         left: 20px;
//                     }

//                     .drop {
//                         right: 20px;
//                     }
//                 }

//                 .fake {
//                     .wrap {
//                         left: 20px;
//                     }
//                 }
//             }
//         }

//         .resultPage {
//             .btn_container {
//                 div {
//                     padding: 7px 10px;
//                 }
//             }
//         }
//     }
// }