#sub_container{padding:160px 0px; width: 960px; }
#titleArea{/*padding-bottom:30px;*/ margin: 60px auto 20px; /*border-bottom:1px solid #000;*/}
.xans-board-listpackage .ec-base-button{max-width:1200px; padding:30px 14px;}
.xans-board-list{max-width:1200px; margin:0 auto;}
.ec-base-paginate.typeList{max-width:1200px; margin:0 auto; margin-top:30px;}
.xans-board-search{max-width:1200px; margin:30px auto;}
.btnStrong{width:150px; font-size:1.2rem;}
.xans-board-listpackage .boardSort span{width: 1200px; left: 236px; position: relative;}
.xans-board-search.xans-board-search-9.boardSearch9{margin:30px auto;}

.xans-board-list .summary a{color:#353535;}

.table_h{
    padding: 15px 0 15px !important;
    font-size: 15px;
    font-weight: 300;
    color: #353535 !important;
    vertical-align: middle;
    background: #fff;
    box-sizing:border-box;
    text-align:center;
}
.th_no{width:70px; float:left; }
.tb_no{width:70px; height:19px; text-align:center; line-height:19px; float:left;font-size:1.5rem;  }
.table_h .thumb{width:110px;}
 .xans-board-list .summary{left:90px; width:calc( 100% - 90px ); font-size:1.5rem; }
.xans-board-list .summary > a > span{padding:0px;}
.xans-board-list .thumb, .xans-board-list .thumb img{display:none;}
.xans-board-list .subject{width:500px; text-align:center;  color:#353535; white-space: nowrap; font-size:1.5rem; }
.xans-board-list .category{display:none;}
.xans-board-list .name{margin-left:0px; font-size:1.5rem; }
.table_h .date, .table_h .answer{font-size: 15px !important; color: #353535 !important; }
.xans-board-list .date,  .xans-board-list .answer{font-size: 11px; color: #939393;}




.banner {text-align:center;margin:0 auto;}
.banner img {max-width:100%;}


.xans-board-listpackage { background:#fff; }

/* 글쓰기 버튼 */
.xans-board-listpackage .ec-base-button { padding:0 14px; }

/* 정렬 */
/* .xans-board-listpackage .boardSort { padding:0 14px; }*/
.xans-board-listpackage .boardSort:after { content:""; display:block; clear:both; }
.xans-board-listpackage .boardSort span { float:left; width:49%; font-size:13px; }
.xans-board-listpackage .boardSort span:first-of-type { padding:0 2% 0 0; }
.xans-board-listpackage .boardSort span select { margin:7px 0; width:100%; border: 1px solid #ececec; }

/* 공지사항 */
.xans-board-notice { margin:-1px 0 0; font-size:1.2rem; border-top:1px solid #ececec; background:#fff; }
.xans-board-notice li { overflow:hidden; position:relative; padding:30px 0; min-height:18px; color:#555; border-bottom:1px solid #eee; background:#fff;}
.xans-board-notice .thumb { float:left; }
.xans-board-notice .thumb img { width:100px; max-height:100px; padding:0 7px; }
.xans-board-notice .summary {  position:absolute;left:0px; text-align:right; width:100%;border:0px solid #000;}
.xans-board-notice .summary a { display:block; color:#333; }
.xans-board-notice .summary > a > span {   padding:0 6px 0 0; }
.xans-board-notice .subject {position:absolute;left:140px;top:0; display:block; padding:0px 0 0px;font-size:1.5rem; line-height:1.6em; color:#000; font-weight:bold;  }
.xans-board-notice span {/*display:none;*/margin-top:0px;padding:0px 10px 0 10px !important;font-size:1.5rem;line-height:1.6em;font-weight:300;width:100px;text-align:center;vertical-align:middle;}
.xans-board-notice span.comment {width:auto;padding:0 0;display:inline-block;}

/* 고정글 */
.xans-board-fixed { margin:-1px 0 0; font-size:1.2rem; border-top:1px solid #ececec; background:#fff; }
.xans-board-fixed li { overflow:hidden; position:relative; padding:7px 0 7px 0px; min-height:60px; color:#000; border-bottom:1px solid #ececec; background:#fff;}
.xans-board-fixed .thumb { float:left; }
.xans-board-fixed .thumb img { width:100px; max-height:100px; padding:0 7px; }
.xans-board-fixed .summary {  position:absolute;left:0px;top:50%;margin-top:-13px; padding:0 7px;text-align:right; width:100%;border:0px solid #000;}
.xans-board-fixed .summary a { display:block; color:#333; }
.xans-board-fixed .summary > a > span {   padding:0 6px 0 0; }
.xans-board-fixed .subject {position:absolute;left:140px;top:0; display:block; padding:0px 0 0px;font-size:1.5rem; line-height:1.6em; color:#000; font-weight:bold;  }
.xans-board-fixed span {display:none;margin-top:0px;padding:0px 10px 0 10px !important;font-size:1.5rem;line-height:1.6em;font-weight:300;width:100px;text-align:center;vertical-align:middle;}
.xans-board-fixed span.comment {width:auto;padding:0 0;display:inline-block;}

/* 게시글 */
.xans-board-list { margin:-1px 0 0; font-size:1.2rem; border-top:1px solid #ececec; background:#fff; }
.xans-board-list li { overflow:hidden; position:relative; padding:30px 0px; min-height:18px; color:#555; border-bottom:1px solid #eee; }
.xans-board-list .thumb { float:left; }
.xans-board-list .thumb img { width:100px; max-height:100px; padding:0 7px; }
.xans-board-list .summary {  position:absolute;left:0px; text-align:right; width:100%;border:0px solid #000;}
.xans-board-list .summary a { display:block; color:#555; }
.xans-board-list .summary > a > span {   padding:0 6px 0 0; }
.xans-board-list .subject {position:absolute;left:10px;top:0; display:block; padding:0px 0 0px;font-size:1.2rem; line-height:1.6em; color:#555; font-weight:normal;  }
.xans-board-list span {display:inline-block;margin-top:0px;font-size:1.2rem;line-height:1.6em;font-weight:300;width:120px;text-align:center;vertical-align:top;}
.xans-board-list span.comment {width:auto;padding:0 0;}

/* 게시글 없음 */
.xans-board-empty { padding:28px 0; text-align:center; font-size:1.3rem; border-bottom:1px solid #d5d5d5; background:#fff; }

/* 운영일지 */
.xans-board-list-11 { margin:-1px 0 0; font-size:11px; border-top:1px solid #d5d5d5; background:#fff; }
.xans-board-paging-11 { margin:0 0 29px; background:#fff; }

/* 1:1맞춤상담 */
.xans-board-listpackage-9 .boardSort span.consult { position:relative; padding:0 49px 0 0; width:32%; }
.xans-board-listpackage-9 .boardSort span.consult select { width:100%; }
.xans-board-listpackage-9 .boardSort span.consult button { position:absolute; right:0; top:0; }
.xans-board-listpackage-9 .summary .answer strong { color:#000; }

/* 갤러리게시판 이미지타입, 리스트타입 보기 */
.xans-board-listheader-8 { width:100%; margin:7px 0 0; background:#fff; }
.xans-board-listheader-8 ul { height:36px; border:1px solid #c8cdd2; border-bottom:none; font-size:0; }
.xans-board-listheader-8 ul:after { content:""; display:block; clear:both; }
.xans-board-listheader-8 li { float:left; width:50%; height:36px; text-align:center; vertical-align:middle; background:#f1f1f1; }
.xans-board-listheader-8 li.selected { background:#fff; }
.xans-board-listheader-8 li a { display:inline-block; width:100%; border-left:1px solid #c8cdd2; border-bottom:1px solid #c8cdd2; color:#333; font-size:14px; line-height:35px; }
.xans-board-listheader-8 li:first-child a { border-left:none; }
.xans-board-listheader-8 li.selected a { border-bottom:none; color:#333; font-weight:bold; }

.xans-board-paging-1002.ec-base-paginate.typeList { background:#fff; margin-top:30px; }


@media screen and (max-width: 1024px) {
    .xans-board-notice li { min-height:60px; }
    .xans-board-notice .thumb img { width:60px; height:60px;}
    .xans-board-notice .summary {  position:relative;left:0px;top:0%;margin-top:8px; padding:0 7px;text-align:left; width:auto;border:0px solid #000;}
    .xans-board-notice .subject {position:relative;left:0px;top:0;   }
    .xans-board-notice span {display:inline-block;margin-top:0px;padding:0px 10px 0 0px !important;font-size:1.2rem;width:auto;}
    .xans-board-notice span.comment {width:auto;padding:0 0!important;}
    
        
    .xans-board-fixed li { min-height:60px; }
    .xans-board-fixed .thumb img { width:60px; height:60px;}
    .xans-board-fixed .summary {  position:relative;left:0px;top:0%;margin-top:8px; padding:0 7px;text-align:left; width:auto;border:0px solid #000;}
    .xans-board-fixed .subject {position:relative;left:0px;top:0;   }
    .xans-board-fixed span {display:inline-block;margin-top:0px;padding:0px 10px 0 0px !important;font-size:1.2rem;width:auto;}
    .xans-board-fixed span.comment {width:auto;padding:0 0!important;}
    
        
    .xans-board-list li { min-height:60px; }
    .xans-board-list .thumb img { width:60px; height:60px;}
    .xans-board-list .summary {  position:relative;left:0px;top:0%;margin-top:8px; padding:0 7px;text-align:left; width:auto;border:0px solid #000;}
    .xans-board-list .subject {position:relative;left:0px;top:0;   }
    .xans-board-list span {display:inline-block;margin-top:0px;padding:0px 10px 0 0px !important;font-size:1.2rem;width:auto;}
    .xans-board-list span.comment {width:auto;padding:0 0!important;}
}


@media screen and (max-width:1024px){
    #sub_container {
        padding: 60px 5% 60px 5% !important;
        width:initial;
    }
        .btnStrong{width:120px; font-size:1.2rem;}
    
    .xans-board-listpackage .boardSort span{width:100%; left:0px;}
    
    #board_qa{width:95%; padding:0px 2.5%; }
    
    .xans-board-list .summary{left:0px; margin-top:0px; width: calc( 100% - 7px ); text-align:left; }
    .xans-board-list .subject{position:relative; width:auto; font-size:13px; color:#1b1b1b; text-align:left; padding-left:0px; left:0px; }
    .xans-board-list .name{font-size:11px; color:#939393; }
    .xans-board-list span{font-size:11px; color:#999; display: inline-block; margin-top: 0px; padding: 0px 10px 0 0px !important; width: auto;}
    .table_h, .tb_no{display:none;}
    .xans-board-list li{min-height:auto; padding: 7px 0 7px 0px;}
    .xans-board-list ul li:nth-child(2){border-top:1px solid #d5d5d5;}
    }
    
    @media screen and (max-width:768px) {
    .xans-board-listpackage .ec-base-button { padding:0; }
      .xans-board-listpackage .ec-base-button .btnStrong {width:100%;}
    }