@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
// 폰트변수
$outfit : 'Outfit', 'Pretendard-Regular', sans-serif;
$gowun : 'Gowun Batang', serif;
$mill : 'Sorts Mill Goudy', serif;
$pre : 'Pretendard-Regular';



* { margin: 0; padding: 0; font-size: 14px; font-family: $outfit;}
body.noneScroll {overflow: hidden;    position: relative;    height: 100%;}
li { list-style: none;}
a:link, a:active, a:visited { text-decoration: none; color: #000; }

span.memo { font-size: 10px; background-color: lemonchiffon; }

.wrap { position: relative; }

header { position: absolute; top: 30px; width: 100%; text-align: center; }
header .logo { color:#fff; font-size: 30px; text-transform: uppercase;}

nav { position: relative; top: 30px; }
nav .gnb,
nav .right_nav { position: fixed;}
nav .gnb { left: 30px; }
nav ul li a { font-size: 18px; line-height: 1.5; }
/*nav .gnb li a,
nav .gnb div a { font-size: 28px;}*/
nav .gnb li.active a,
nav .gnb div.active a { color:#ff5722; }
nav .gnb div a span.link {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    font-size: 10px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
nav .right_nav { right: 30px; text-align: right; }
nav .right_nav .menu { margin-bottom: 20px; }
nav .right_nav .customer li a { font-size: 16px; }

.mobile_nav { display: none; }

.mobile_nav { 
    position: fixed;
    top: 30px;
    z-index: 999;
    
    > ul {
        position: absolute;
        z-index: 999;

        left: 15px;
        li {
            
            span {
                display: block;
                width: 20px;
                height: 1px;
                background-color: #000;
                margin-bottom: 5px;
                transition: all .2s;
            }
        }

        .burger.active {
            span:nth-of-type(1) { transform: rotate(45deg) translate(0px,8px); }
            span:nth-of-type(2) { transform: translateX(-10px); opacity: 0;}
            span:nth-of-type(3) { transform: rotate(-45deg) translate(0px,-8px); }
        }

    }
}

.side_menu {
    // display: none;
    position: fixed;
    z-index: 1;
    padding: 60px 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transition: all .3s;
    transition-timing-function: ease-in-out;
    transform: translateX(-100%);
    opacity: 0;

    .wrap {
        > ul {
            hr {
                margin: 20px 10px;
                border: 0;
                border-top: 1px solid #ccc;
            }
            li {
                padding-left: 15px;
                line-height: 1.6;
                a {
                    span.link {
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        margin-left: -3px;
                        font-size: 10px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }

            .menu,
            .gnb { font-size: 24px; }
        }
    }
}

.side_menu.active {
    // display: block;
    transform: translateX(0);
    opacity: 1;
}

main {}
main section { padding: 0 30px; height: 100vh; }

main .main_visual { display: flex; flex-wrap: wrap; }
main .main_visual .frame { width: 50%; height: 100vh; }
main .main_visual .frame img { width: 100%; height: 100%; object-fit: cover;}

main {

    .brand_story { background-color: #ffecd2;}
    .production_process { background-color: #fee4cb;}
    .event {background-color: #fdd9c1; }
    .store { background-color:#fdcfb6; }
    .support { background-color: #fcc4ac;}
    .footer {background-color: #f0cb7a;}
}


.brand_story { }
.brand_story .text { margin: 0 auto; padding: 100px 0; width: 50%; text-align: center; font-size: 25px; font-family: $mill;}


.production_process { padding: 150px 0; height: 100%; font-family: $pre; }
.production_process .version1 .img_wrap { display: flex; justify-content: space-between; padding: 0 30px; margin-bottom: 200px; }
.production_process .version1 .img_wrap .frame { width: calc(100%/3); height: 700px;}
.production_process .version1 .img_wrap .frame:nth-of-type(2) { margin: 0 40px;}
.production_process .version1 .img_wrap .frame img { width: 100%; height: 100%; object-fit: cover;}
.production_process .version1 .sec1 { margin-bottom: 200px; }
.production_process .version1 .sec1 .title { padding-bottom: 20px; font-size: 28px; font-weight: 800; text-align: center; }
.production_process .version1 .sec1 .sub { margin: 0 auto; width: 70%; text-align: center; }
.production_process .version1 .section { margin-top: 10px; display: flex; justify-content: center; align-items: center; }
.production_process .version1 .section .frame { margin-right: 20px; width: 500px; height: 600px;}
.production_process .version1 .section .frame img { width: 100%; height: 100%; object-fit: cover;}
.production_process .version1 .section .text_wrap { margin-left: 20px; width: 500px; } 
.production_process .version1 .section .text_wrap .tit { margin-bottom: 20px; }
.production_process .version1 .section .text_wrap .sub { display: block;}

.production_process .version2 { padding: 0 30px;}
.production_process .version2 .sec1 { margin-bottom: 100px; }
.production_process .version2 .sec1 .title { padding-bottom: 20px; font-size: 28px; font-weight: 800; text-align: center; }
.production_process .version2 .sec1 .sub { margin: 0 auto; width: 70%; text-align: center; }
.production_process .version2 .sec2 { display: flex; justify-content: space-between; margin-bottom: 100px; }
.production_process .version2 .sec2 .frame { width: calc(100%/3); height: 600px; }
.production_process .version2 .sec2 .frame:nth-of-type(2) { margin: 0 40px;}
.production_process .version2 .sec2 .frame img { width: 100%; height: 100%; object-fit: cover; }

.production_process .version2 .section { display: flex; justify-content: center; align-items: center; margin-bottom: 50px; }
.production_process .version2 .section .frame { margin-right: 20px; width: 500px; height: 700px;}
.production_process .version2 .section .frame img { width: 100%; height: 100%; object-fit: cover;}
.production_process .version2 .section .text_wrap { margin-right: 20px; width: 500px; }
.production_process .version2 .section .text_wrap .tit {}
.production_process .version2 .section .text_wrap .sub {}
.production_process .version2 .sec3 { flex-flow: row-reverse nowrap; margin: 50px 0;}

.event {
    .wrap {
        position: relative;
        width: 100%; height: 100%;
        div {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.store {
    // display: flex;
    padding: 50px 30px;
    > .store_info {
        display: block;
        border: 1px solid #000;
        padding: 20px 10px;
        width: 50%;
        margin: 0 auto 10px;
        .title {
            text-align: center;
            font-size: 24px;
        }

        hr {
            margin: 10px 0 15px; border: 0; border-top: 1px solid #000;
        }

        ul {
            li:nth-child(odd){
                font-weight: 600;
            }
            li:nth-child(even){
                margin-left: 10px;
                margin-bottom: 10px;
                // font-size: 12px;
            }

        }
    }
}

.footer {
    display: flex;
    justify-content: space-between;

    > ul {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        width: 50%;
    }

    ul.info {
        flex-direction: row;
        justify-content: space-between;
        > li.tit {
            font-size: 18px;
            > ul {
                margin-top: 5px;
                li {
                    a {

                    }
                }
            }
        }
    } 

    ul.contact { 
        align-items: center;
        padding: 30px 0; 
        input {
            margin: 3px 0 20px;
            padding: 5px 10px;
            width: 500px;
            border:0;
            border-bottom: 1px solid #000;
            background-color: #ffffff00;
        }

        textarea {
            margin: 3px 0;
            padding: 5px 10px;
            width: 500px;
            border: 1px solid #000;
            background-color: #ffffff00;
        }
        
        input::placeholder,
        textarea::placeholder { color: #000; font-size: 12px;}

        button {
            width: 522px;
            padding: 10px 0;
            border: 1px solid #000;
            background-color: #ffffff00;
        }
    }
}


@media screen and (max-width: 768px) {
    header {
        z-index: 1;
        .logo {

        }
    }
    nav {
        top: 20px;
        padding: 0 15px;
        width: initial;
        z-index: 100;

        .gnb {
            display: none;
            li {
                a {

                }
            }

            div {
                a {
                    
                }
            }
        }

        .right_nav {
            right: 15px;
            li.menu {
                display: none;
                ul {
                    li {
                        a {

                        }
                    }
                }
            }

            li.customer {
                ul {
                    li {
                        a {

                        }
                    }
                }
            }
        }
    }
    
    
    .mobile_nav { display: block;}
    

    main {
        .main_visual {
            position: relative;
            height: 100vh;
            .frame {
                position: absolute;
                top: 0;left: 0;
                width: 100%;

                img {
                    
                }
            }
            .frame.active {
                opacity: 0;
            }
        }

        .brand_story {
            .text {
                padding: 100px 30px;
                width: initial;
            }
        }

        .production_process {

            .version1 {
                .img_wrap {
                    margin-bottom: 50px;
                    padding: 0 15px;
                    flex-wrap: wrap;

                    .frame {
                        width: 49%;
                        height: 300px;
                    }
                    
                    .frame:nth-of-type(1) { 
                        margin-bottom: 8px;
                        width: 100%;
                        height: 600px;
                    }

                    .frame:nth-of-type(2) {
                        display: none;
                    }

                    .frame:nth-of-type(3) {
                        display: none;
                    }
                }

                .sec1 {
                    margin-bottom: 50px;

                    .sub {
                        width: initial;
                        padding: 0 15px;
                    }
                }

                .section {
                    flex-direction: column;
                    padding: 0 15px;

                    .frame {
                        margin-right: initial;
                        width: 100%;
                        height: 250px;
                    }
                    .text_wrap {
                        margin-left: initial;
                        width: 100%;
                    }
                }

                .sec4 {
                    flex-direction: column;
                }
                .sec5 {}
            }
        }

        .event {

        }

        .store {
            padding: 50px 15px;

            .store_info {
                width: initial;
            }
        }
    }



    .footer {
        padding: initial;
        flex-direction: column;
        justify-content : initial;
        height: 100%;

        > ul {

            width: initial;
            // text-align: center;

        }

        ul.info {
            flex-direction: column;
            text-align: center;
            > li {
                margin-bottom: 20px;
                font-size: 20px;

                > ul {
                    margin-top: 5px;
                    li {

                    }
                }
            }
        }

        ul.contact {
            li {
                width: 90%;
            }

            input,
            textarea {
                width: 100%;
                box-sizing: border-box;
            }

            button { width: 90%; }

        }
    }
}