@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", "Pretendard-Regular", sans-serif;
}

li {
  list-style: none;
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: #000;
}

span.memo {
  font-size: 10px;
  background-color: lemonchiffon;
}

.wrap {
  position: relative;
}

header {
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
}

header .logo {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
}

nav {
  position: relative;
  top: 30px;
}

nav .gnb,
nav .right_nav {
  position: fixed;
}

nav .gnb {
  left: 30px;
}

nav ul li a {
  font-size: 18px;
  line-height: 1.5;
}

/*nav .gnb li a,
nav .gnb div a { font-size: 28px;}*/
nav .gnb li.active a,
nav .gnb div.active a {
  color: #ff5722;
}

nav .right_nav {
  right: 30px;
  text-align: right;
}

nav .right_nav .menu {
  margin-bottom: 20px;
}

nav .right_nav .customer li a {
  font-size: 16px;
}

main section {
  padding: 0 30px;
  height: 100vh;
}

main .main_visual {
  display: flex;
  flex-wrap: wrap;
}

main .main_visual .frame {
  width: 50%;
  height: 100vh;
}

main .main_visual .frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .brand_story {
  background-color: #ffecd2;
}
main .production_process {
  background-color: #fee4cb;
}
main .event {
  background-color: #fdd9c1;
}
main .store {
  background-color: #fdcfb6;
}
main .support {
  background-color: #fcc4ac;
}
main .footer {
  background-color: #fcb9a2;
}

.brand_story .text {
  margin: 0 auto;
  padding: 100px 0;
  width: 50%;
  text-align: center;
  font-size: 25px;
  font-family: "Sorts Mill Goudy", serif;
}

.production_process {
  padding: 150px 0;
  height: 100%;
  font-family: "Pretendard-Regular";
}

.production_process .version1 .img_wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin-bottom: 200px;
}

.production_process .version1 .img_wrap .frame {
  width: 33.3333333333%;
  height: 600px;
}

.production_process .version1 .img_wrap .frame:nth-of-type(2) {
  margin: 0 40px;
}

.production_process .version1 .img_wrap .frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.production_process .version1 .sec1 {
  margin-bottom: 200px;
}

.production_process .version1 .sec1 .title {
  padding-bottom: 20px;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
}

.production_process .version1 .sec1 .sub {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.production_process .version1 .section {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.production_process .version1 .section .frame {
  margin-right: 20px;
  width: 500px;
  height: 600px;
}

.production_process .version1 .section .frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.production_process .version1 .section .text_wrap {
  margin-left: 20px;
  width: 500px;
}

.production_process .version1 .section .text_wrap .tit {
  margin-bottom: 20px;
}

.production_process .version1 .section .text_wrap .sub {
  display: block;
}

.production_process .version2 {
  padding: 0 30px;
}

.production_process .version2 .sec1 {
  margin-bottom: 100px;
}

.production_process .version2 .sec1 .title {
  padding-bottom: 20px;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
}

.production_process .version2 .sec1 .sub {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.production_process .version2 .sec2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.production_process .version2 .sec2 .frame {
  width: 33.3333333333%;
  height: 600px;
}

.production_process .version2 .sec2 .frame:nth-of-type(2) {
  margin: 0 40px;
}

.production_process .version2 .sec2 .frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.production_process .version2 .section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.production_process .version2 .section .frame {
  margin-right: 20px;
  width: 500px;
  height: 700px;
}

.production_process .version2 .section .frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.production_process .version2 .section .text_wrap {
  margin-right: 20px;
  width: 500px;
}

.production_process .version2 .sec3 {
  flex-flow: row-reverse nowrap;
  margin: 50px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.footer ul.info > li {
  width: 300px;
}

.footer ul.contact input {
  margin: 3px 0;
  padding: 3px 10px;
  border: 0;
  border-bottom: 1px solid #000;
  background-color: rgba(255, 255, 255, 0);
}

@media screen and (max-width: 768px) {
  nav {
    top: 50px;
    padding: 0 15px;
    width: initial;
    z-index: 100;
  }
  main .main_visual {
    position: relative;
    height: 100vh;
  }
  main .main_visual .frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  main .main_visual .frame.active {
    opacity: 0;
  }
  main .brand_story .text {
    padding: 100px 30px;
    width: initial;
  }
  .footer {
    padding: initial;
  }
}/*# sourceMappingURL=style.css.map */