.media_container {
    position: relative;
    width: 1280px;
    height: 720px;
    overflow: hidden;

    &.active {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;

        .next_notice {
            right: 35px;
            bottom: 75px;
        }
        .controlsBarHide {
            transform: scale(1.5);
            transform-origin: 100% 0;
        }
        .controls_box {
            transform: scale(1.5);
            transform-origin: 0 100%;
        }
        .start_btn {height: 100%;}
    }

    .video_content,
    .audio_content {
        position: relative;
        width: 100%; height: 100%;
        video {width: 100%; height: 100%;}

        .media_box {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
        }
    }

    .start_btn {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: calc(100% - 50px);
        background-color: #ccc;
        opacity: 0.3;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 150px;
        background-image: url(../image/startplay.png);
    }

    .skip_btn {
        display: none;
        position: absolute;
        top: 0; left: 0;
        width: 128px; height: 57px;
        background-image: url(../image/skip_btn.png);
        transform: translate(-50%, -50%);
    }
    .next_notice {
        display: none;
        position: absolute;
        right: 20px; bottom: 50px;
        width: 238px; height: 54px;
        background-image: url(../image/bubble_next.png);
    }
    .controlsBarHide {
        display: none;
        position: absolute;
        top: 0; right: 0;
        width: 133px; height: 25px;
        background-image: url(../image/bottom_lock.png);

        &.active {background-image: url(../image/bottom_lock_on.png);}
    }

    .controls_box {
        position: absolute;
        bottom: 0; left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        width: 1280px; height: 50px;
        color: #fff;
        background-color: #222;
        box-sizing: border-box;
        z-index: 999;

        &.off {
            display: none;
        }

        .download_btn {
            width: 30px; height: 29px;
            background-image: url(../image/down_btn.png);
        }

        .speed_btn {
            margin: 0 20px;
            padding: 3px 5px;
            font-weight: bold;
            background-color: #000;
            border-radius: 3px;
        }

        .play_bar {
            position: relative;
            display: flex;
            align-items: center;
            width: 500px; height: 100%;
            box-sizing: border-box;

            >div {
                position: absolute;
                top: 50%; left: 0;
                width: 0px; height: 3px;
                transform: translateY(-50%);
            }

            .duration_bar {
                width: 100%;
                background-color: #555;
                z-index: 100;
            }

            .current_bar {
                background-color: #2c98e0;
                z-index: 400;
            }

            .play_pointer {
                width: 15px; height: 15px;
                background-color: #fff;
                border-radius: 50%;
                z-index: 500;
                transform: translate(-50%,-50%)
            }

            .hover_bar {
                background-color: #2c98e0;
                opacity: 0.3;
                z-index: 300;
            }

            .watch_bar {
                background-color: #ff4800;
                z-index: 200;
            }
        }

        .time_info {
            display: flex;
            align-items: end;
            margin: -5px 20px 0 20px;
            color: #777;
            font-size: 16px;

            .current_time {
                color: #fff;
                font-size: 20px;
            }

            span {margin: 0 3px;}
        }

        .controls_btn {
            display: flex;

            >div {
                margin: 0 15px;
                background-repeat: no-repeat;
                background-position: left center;
            }

            .play_btn {
                width: 14px; height: 19px;
                background-image: url(../image/playBtn.png);

                &.active {background-image: url(../image/pauseBtn.png);}
            }
            .pause_btn {
                display: none;
                width: 14px; height: 19px;
                background-image: url(../image/pauseBtn.png);
            }

            .return_btn {
                width: 15px; height: 18px;
                background-image: url(../image/returnBtn.png);
            }

            .caption_btn {
                width: 15px; height: 17px;
                background-image: url(../image/captionBtn.png);

            }

            .fullsize_btn {
                width: 17px; height: 17px;
                background-image: url(../image/fullBtn.png);
            }

            .sound_btn {
                width: 25px; height: 17px;
                background-image: url(../image/soundBtn_on.png);

                &.active {background-image: url(../image/soundBtn_off.png);}
            }
        }

        .volume_controls {
            position: relative;
            width: 60px; height: 100%;
            margin-right: 15px;

            >div {
                position: absolute;
                top: 50%; left: 0;
                height: 3px;
                transform: translateY(-50%);
            }

            .vol_bar {
                width: 100%;
                background-color: #555;
            }

            .vol_active {
                width: 50%;
                background-color: #2c98e0;
            }

            .vol_pointer {
                width: 15px; height: 15px;
                left: 50%;
                background-color: #fff;
                border-radius: 50%;
                margin-left: -6px;
            }
        }

        .page_controls {
            display: flex;
            align-items: center;
            color: #777;
            font-size: 28px;

            >div {
                margin: 0 5px;
                background-repeat: no-repeat;
                background-position: left center;
            }

            .prev_btn {
                width: 19px; height: 35px;
                background-image: url(../image/prev_btn.png);
            }

            .now_page {
                color: #fff;
                font-weight: bold;
            }

            span {margin: -5px 3px 0 3px;}

            .next_btn {
                width: 19px; height: 35px;
                background-image: url(../image/next_btn.png);
            }
        }
    }
}