#wrap > header {
  width: 100%;
  height: 80px;
  background-color: #000;
  position: relative;
}
#wrap > header > .bg_lnb {
  display: none;
  position: absolute;
  z-index: 100;
  top: 80px;
  width: 100%;
  height: 400px;
  background-color: #000;
  border-top: 1px solid rgb(40, 40, 40);
}
#wrap > header > .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
  height: 100%;
}
#wrap > header > .header-container > ul {
  display: flex;
}
#wrap > header > .header-container > ul > li {
  width: 200px;
  height: 79px;
  line-height: 80px;
  text-align: center;
}
#wrap > header > .header-container > ul > li.bar {
  border-bottom: 2px solid #5865f5;
  box-sizing: border-box;
}
#wrap > header > .header-container > ul > li.bar > a {
  color: #5865f5;
}
#wrap > header > .header-container > ul > li.active > ol {
  color: #5865f5;
  background-color: rgb(18, 18, 18);
}
#wrap > header > .header-container > ul > li > a {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
#wrap > header > .header-container > ul > li > ol {
  display: none;
  position: absolute;
  z-index: 100;
  top: 81px;
  width: 200px;
  height: 400px;
  background-color: #000;
}
#wrap > header > .header-container > ul > li > ol > li {
  height: 54px;
  line-height: 54px;
}
#wrap > header > .header-container > ul > li > ol > li > a {
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
#wrap > header > .header-container > ul > li > ol > li:hover > a {
  color: #5865f5;
}
#wrap > header > .header-container > .icon-wrap {
  display: flex;
  justify-content: space-between;
  width: 140px;
}
#wrap > header > .header-container > .icon-wrap > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
#wrap > header > .header-container > .icon-wrap > div > img {
  width: 24px;
  height: 24px;
}
#wrap > header > .header-container > .icon-wrap > div > span {
  position: absolute;
  top: 20px;
  right: 0;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background-color: #5865f5;
  border-radius: 50%;
}
#wrap section > .slide {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  overflow: hidden;
}
#wrap section > .slide > .prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: block;
  cursor: url(./img/arrow_l.935a967c.cur), auto;
}
#wrap section > .slide > .next {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: block;
  cursor: url(./img/arrow_r.1db549d7.cur), auto;
}
#wrap section > .slide > .slide-container {
  position: absolute;
  left: 0%;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  width: 500%;
}
#wrap section > .slide > .slide-container > .slide-content {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
#wrap section > .slide > .slide-container > .slide-content > .img-container {
  width: 100%;
  height: calc(100vh - 80px);
}
#wrap section > .slide > .slide-container > .slide-content > .img-container > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap section > .slide > .slide-container > .slide-content > .video-container > video {
  width: 100%;
  height: 100%;
}
#wrap section > .slide > .slide-container > .slide-content > .video-container > video > source {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap section > .slide > .slide-container > .slide-content > .text-container {
  padding: 0 8rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  color: #fff;
}
#wrap section > .slide > .slide-container > .slide-content > .text-container p {
  font-size: 6rem;
  font-weight: 600;
}
#wrap section > .slide > .slide-container > .slide-content > .text-container > .line1 {
  display: flex;
  margin-bottom: -1.6rem;
}
#wrap section > .slide > .slide-container > .slide-content > .text-container > .line1 p {
  margin-right: 1.5rem;
}
#wrap section > .slide > .slide-container > .slide-content > .text-container > .line2 {
  display: flex;
  margin-bottom: 1rem;
}
#wrap section > .slide > .slide-container > .slide-content > .text-container > .line3 {
  margin-bottom: 7rem;
}
#wrap section > .slide > .slide-container > .slide-content > .text-container > .line3 > p {
  font-size: 1.1rem;
  font-weight: 200;
}
#wrap section > .slide > .slide-container > .slide-content > .text-container > .line3 > span {
  font-size: 1.1rem;
  font-weight: 200;
}
#wrap section > .slide > .slide-container > .slide-content > .text-container .more {
  display: flex;
  align-items: center;
}
#wrap section > .slide > .slide-container > .slide-content > .text-container .more span {
  font-size: 1.2rem;
}
#wrap section > .slide > .slide-container > .slide-content > .text-container .more > .arrow {
  display: block;
  width: 8px;
  height: 8px;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-top-width: 2px;
  border-right-width: 2px;
  text-indent: -9999px;
  transform: rotate(45deg);
}
#wrap section > .slide > .slide-pagination {
  position: absolute;
  bottom: 50px;
  right: 30px;
  color: #fff;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
#wrap section > .slide > .slide-pagination span {
  margin-right: 5px;
}
#wrap section > .slide > .slide-pagination > .bar {
  display: block;
  width: 30px;
  height: 14px;
  border-bottom: 1px solid #666;
}
#wrap section > .slide > .slide-pagination > .grey {
  color: #666;
}
#wrap section > .sec2 {
  display: flex;
  width: 100%;
  height: 711px;
}
#wrap section > .sec2 > .left-container {
  position: relative;
  z-index: 100;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
#wrap section > .sec2 > .left-container > ul.img-slide {
  width: 400%;
  width: 400%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 0;
  left: 0%;
}
#wrap section > .sec2 > .left-container > ul.img-slide > li.img_slide_content {
  width: 100%;
  height: 100%;
}
#wrap section > .sec2 > .left-container > ul.img-slide > li.img_slide_content > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap section > .sec2 > .right-container {
  position: relative;
  width: 50%;
  background-color: #f4f4f4;
  overflow: hidden;
}
#wrap section > .sec2 > .right-container > .next {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  cursor: url(./img/arrow_r.1db549d7.cur), auto;
}
#wrap section > .sec2 > .right-container .air {
  position: absolute;
  z-index: 100;
  display: block;
  width: 80px;
  height: 100%;
  background-color: #f4f4f4;
}
#wrap section > .sec2 > .right-container > ul.slide-container {
  display: flex;
  width: 100%;
  margin-left: 80px;
  position: absolute;
  top: 0;
  left: 0;
}
#wrap section > .sec2 > .right-container > ul.slide-container > li.slide-content {
  position: relative;
  padding: 50px 105px 0 0;
}
#wrap section > .sec2 > .right-container > ul.slide-container > li.slide-content.text_hide p {
  display: none;
  transition: all 0.2s;
}
#wrap section > .sec2 > .right-container > ul.slide-container > li.slide-content:first-child {
  padding-left: 0;
}
#wrap section > .sec2 > .right-container > ul.slide-container > li.slide-content p.tit {
  position: absolute;
  top: 50px;
  font-size: 34px;
  font-weight: 700;
}
#wrap section > .sec2 > .right-container > ul.slide-container > li.slide-content p.sub_tit {
  font-size: 25px;
  font-weight: 700;
}
#wrap section > .sec2 > .right-container > ul.slide-container > li.slide-content p.txt {
  color: #666;
  font-size: 14px;
  font-weight: 400;
}
#wrap section > .sec2 > .right-container > ul.slide-container > li.slide-content .img {
  display: block;
  margin-top: 120px;
  margin-bottom: 10px;
  width: 384px;
  height: 384px;
  background-color: #fff;
}
#wrap section > .sec2 > .right-container > ul.slide-container > li.slide-content .img > img {
  width: 100%;
  transition: all 0.2s;
}
#wrap section > .sec2 > .right-container > ul.slide-container > li.slide-content .img > img:hover {
  transform: scale(1.1);
}
#wrap section > .sec2 > .right-container .slide-pagination {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 auto;
  width: 77%;
  border: 1px solid #ccc;
}
#wrap section > .sec2 > .right-container .slide-pagination > span {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 25%;
  border: 1px solid #000;
}
#wrap section .sec3 > h2 {
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 2rem;
  text-align: center;
}
#wrap section .sec3 > .img_container {
  width: 96%;
  margin: 0 auto;
  box-sizing: border-box;
}
#wrap section .sec3 > .img_container > .main_wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
#wrap section .sec3 > .img_container > .main_wrap > img {
  width: 100%;
  height: 100%;
}
#wrap section .sec3 > .img_container > .main_wrap > .inner_wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
}
#wrap section .sec3 > .img_container > .main_wrap > .inner_wrap > .text_wrap {
  position: absolute;
  top: 50%;
  left: 15%;
  padding: 35px;
  transform: translateY(-50%);
}
#wrap section .sec3 > .img_container > .main_wrap > .inner_wrap > .text_wrap > p {
  font-size: 29px;
  font-weight: 700;
}
#wrap section .sec3 > .img_container > .main_wrap > .inner_wrap > .text_wrap > span {
  font-size: 13px;
  font-weight: 400;
  color: #666;
}
#wrap section .sec3 > .img_container > .main_wrap > .inner_wrap > .slide {
  position: relative;
  width: 100%;
  height: 100%;
}
#wrap section .sec3 > .img_container > .main_wrap > .inner_wrap > .slide > .slide-screen {
  position: absolute;
  right: 15%;
  top: 50%;
  width: 350px;
  height: 100%;
  overflow: hidden;
  transform: translateY(-50%);
}
#wrap section .sec3 > .img_container > .main_wrap > .inner_wrap > .slide > .slide-screen > .slide_container {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  transform: translateY(-50%);
}
#wrap section .sec3 > .img_container > .main_wrap > .inner_wrap > .slide > .slide-screen > .slide_container > .slide_content {
  position: relative;
}
#wrap section .sec3 > .img_container > .main_wrap > .inner_wrap > .slide > .slide-screen > .slide_container > .slide_content > .img_wrap {
  width: 350px;
  height: 350px;
  background-color: #fff;
}
#wrap section .sec3 > .img_container > .main_wrap > .inner_wrap > .slide > .slide-screen > .slide_container > .slide_content > .img_wrap > img {
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  transform: scale(0.9);
}
#wrap section .sec3 > .img_container > .main_wrap > .inner_wrap > .slide > .slide-screen > .slide_container > .slide_content > .img_wrap > img:hover {
  transform: scale(1);
}
#wrap section .sec3 > .img_container > .main_wrap > .inner_wrap > .slide > .slide-screen > .slide_container > .slide_content > .text_wrap {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
#wrap section .sec3 > .img_container > .main_wrap > .inner_wrap > .slide > .slide-screen > .slide_container > .slide_content > .text_wrap > p {
  font-size: 13px;
  font-weight: 400;
  margin-right: 5px;
}
#wrap section .sec3 > .img_container > .main_wrap > .inner_wrap > .slide > .slide-screen > .slide_container > .slide_content > .text_wrap > span {
  font-size: 18px;
  font-weight: 700;
}
#wrap section .sec3 > .img_container > .main_wrap > .inner_wrap > .slide > .slide-screen > a {
  position: absolute;
  top: 50%;
  margin: 0 20px;
  display: block;
  width: 20px;
  height: 20px;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  border-top-width: 2px;
  border-right-width: 2px;
}
#wrap section .sec3 > .img_container > .main_wrap > .inner_wrap > .slide > .slide-screen > a.prev {
  left: 0;
  transform: translateY(-50%) rotate(223deg);
}
#wrap section .sec3 > .img_container > .main_wrap > .inner_wrap > .slide > .slide-screen > a.next {
  right: 0;
  transform: translateY(-50%) rotate(45deg);
}
#wrap section .sec3 > .img_container > .sub_wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 15px;
}
#wrap section .sec3 > .img_container > .sub_wrap > a {
  position: relative;
  margin-right: 15px;
  width: 32%;
  overflow: hidden;
}
#wrap section .sec3 > .img_container > .sub_wrap > a:last-child {
  margin-right: 0;
}
#wrap section .sec3 > .img_container > .sub_wrap > a > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s;
}
#wrap section .sec3 > .img_container > .sub_wrap > a:hover img {
  transform: scale(1.1);
}
#wrap section .sec3 > .img_container > .sub_wrap > a > .text_wrap {
  padding: 35px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#wrap section .sec3 > .img_container > .sub_wrap > a > .text_wrap > p {
  font-size: 29px;
  font-weight: 700;
}
#wrap section .sec3 > .img_container > .sub_wrap > a > .text_wrap > span {
  font-size: 13px;
  font-weight: 400;
  color: #666;
}
#wrap section .sec3 .event_more {
  display: flex;
  width: 100px;
  margin: 0 auto;
}
#wrap section .sec3 .event_more > a {
  margin-top: 33px;
  margin-bottom: 85px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
#wrap section .sec4 {
  background-color: #f4f4f4;
}
#wrap section .sec4 > h2 {
  padding-top: 80px;
  padding-bottom: 30px;
  font-size: 2rem;
  text-align: center;
}
#wrap section .sec4 > .prod_wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
}
#wrap section .sec4 > .prod_wrap > .prod_item {
  width: 25%;
  padding-bottom: 50px;
  overflow: hidden;
  transition: all 0.2s;
  border-right: 1px solid #e1e1e1;
}
#wrap section .sec4 > .prod_wrap > .prod_item:last-child {
  border-right: none;
}
#wrap section .sec4 > .prod_wrap > .prod_item:hover {
  background-color: #5865f5;
}
#wrap section .sec4 > .prod_wrap > .prod_item:hover a .img_wrap img {
  transform: translateX(10px);
}
#wrap section .sec4 > .prod_wrap > .prod_item > a > .img_wrap {
  padding: 30px 0;
  text-align: center;
}
#wrap section .sec4 > .prod_wrap > .prod_item > a > .img_wrap > img {
  width: 90%;
  transition: all 0.2s;
  transform: translateX(40%);
}
#wrap section .sec4 > .prod_wrap > .prod_item > a > p {
  padding-left: 50px;
  font-size: 22px;
  font-weight: 700;
}
#wrap section .sec5 {
  background-color: #f4f4f4;
  width: 100%;
}
#wrap section .sec5 .banner-wrap img {
  width: 100%;
}
#wrap section > .sec6 {
  display: flex;
  width: 100%;
  height: 200px;
  position: relative;
}
#wrap section > .sec6 > .text_wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 50%;
}
#wrap section > .sec6 > .text_wrap > p {
  padding-left: 50px;
  font-size: 34px;
  font-weight: 700;
}
#wrap section > .sec6 > .icon_wrap {
  position: absolute;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
}
#wrap section > .sec6 > .icon_wrap > ul {
  display: flex;
  justify-content: center;
}
#wrap section > .sec6 > .icon_wrap > ul > li {
  width: 100px;
  margin: 0 20px;
  text-align: center;
}
#wrap footer {
  position: relative;
  display: flex;
  width: 100%;
  height: 476px;
  background-color: #000;
}
#wrap footer > .info_wrap {
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
}
#wrap footer > .info_wrap > ul.links {
  display: flex;
  margin-bottom: 10px;
}
#wrap footer > .info_wrap > ul.links > li {
  padding: 0 10px;
  height: 15px;
  line-height: 12px;
  border-right: 1px solid #bbb;
}
#wrap footer > .info_wrap > ul.links > li:last-child {
  border-right: none;
}
#wrap footer > .info_wrap > ul.links > li.on {
  font-weight: 600;
}
#wrap footer > .info_wrap > ul.links > li > a {
  color: #bbb;
  font-size: 16px;
}
#wrap footer > .info_wrap > ul.warning {
  position: relative;
  margin: 30px 0;
}
#wrap footer > .info_wrap > ul.warning > li {
  margin-bottom: 5px;
  padding-left: 7px;
  font-size: 12px;
}
#wrap footer > .info_wrap > ul.warning > li::before {
  content: "*";
  padding: 0 3px;
  color: #bbb;
}
#wrap footer > .info_wrap > ul.warning > li > a {
  color: #bbb;
}
#wrap footer > .info_wrap > ul.warning > li > a > span {
  display: inline-block;
  width: 12px;
  height: 10px;
}
#wrap footer > .info_wrap > ul.warning > span {
  position: absolute;
  top: 35%;
  left: 64%;
  width: 35px;
  height: 35px;
}
#wrap footer > .info_wrap > ul.warning > span > img {
  width: 100%;
  height: 100%;
}
#wrap footer > .info_wrap > address {
  padding-left: 10px;
}
#wrap footer > .info_wrap > address > span {
  color: #888;
}
#wrap footer > .info_wrap > address > span > a {
  color: #888;
}
#wrap footer > .social_wrap {
  position: relative;
  left: 50%;
  width: 50%;
}
#wrap footer > .social_wrap > .item_container {
  margin: 130px auto 0;
  width: 560px;
}
#wrap footer > .social_wrap > .item_container > .sns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
#wrap footer > .social_wrap > .item_container > .sns > span {
  text-transform: uppercase;
  color: #bbb;
  font-size: 24px;
  font-weight: 400;
}
#wrap footer > .social_wrap > .item_container > .sns > .sns_icon {
  display: flex;
  margin-right: 80px;
}
#wrap footer > .social_wrap > .item_container > .sns > .sns_icon > li {
  margin: 0 20px;
}
#wrap footer > .social_wrap > .item_container > .sns > .sns_icon > li > a {
  width: 32px;
  height: 32px;
}
#wrap footer > .social_wrap > .item_container > .sns > .sns_icon > li > a > img {
  width: 100%;
  height: 100%;
  filter: grayscale(1) brightness(1.75);
}
#wrap footer > .social_wrap > .item_container > .sns > .sns_icon > li > a > img:hover {
  filter: none;
}
#wrap footer > .social_wrap > .item_container > .button {
  display: flex;
  justify-content: space-between;
}
#wrap footer > .social_wrap > .item_container > .button button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 276px;
  height: 50px;
  color: #888;
  background-color: #222222;
  border: none;
}
#wrap footer > .social_wrap > .item_container > .button button p {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
#wrap footer > .social_wrap > .item_container > .button button span {
  display: block;
  border-width: 5px;
  border-style: solid;
  border-color: #888 #888 transparent transparent;
}
#wrap footer > .social_wrap > .item_container > .button > .family_link {
  position: relative;
}
#wrap footer > .social_wrap > .item_container > .button > .family_link > .menu_btn > span {
  transform: translateY(3px) rotate(-45deg);
}
#wrap footer > .social_wrap > .item_container > .button > .family_link > .menu {
  display: none;
  position: absolute;
  bottom: 60px;
  padding: 10px 20px 20px;
  width: 276px;
  box-sizing: border-box;
  background-color: #222222;
}
#wrap footer > .social_wrap > .item_container > .button > .family_link > .menu > li {
  color: #fff;
  font-size: 16px;
}
#wrap footer > .social_wrap > .item_container > .button > .family_link > .menu > li > p {
  margin: 10px 0;
}
#wrap footer > .social_wrap > .item_container > .button > .family_link > .menu > li.family_company > p {
  margin-top: 30px;
}
#wrap footer > .social_wrap > .item_container > .button > .family_link > .menu > li > ol > li {
  margin-bottom: 7px;
}
#wrap footer > .social_wrap > .item_container > .button > .family_link > .menu > li > ol > li > a {
  color: #888;
  font-size: 14px;
  font-weight: 500;
}
#wrap footer > .social_wrap > .item_container > .button > .family_link > .menu > li > ol > li > a:hover {
  color: #5865f5;
}
#wrap footer > .social_wrap > .item_container > .button > .global_btn > span {
  transform: rotate(45deg);
}/*# sourceMappingURL=style.css.map */