#wrap {

  > header {
    width: 100%;
    height: 80px;
    background-color: #000;
    position: relative;
    > .bg_lnb {
      display: none;

      position: absolute;
      z-index: 100;
      top: 80px;
      
      width: 100%;
      height: 400px;
      
      background-color: #000;
      // opacity: 0.2;
      border-top: 1px solid rgb(40, 40, 40);
    }

    > .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      margin: 0 30px;
      
      height: 100%;
      
      // outline: 1px solid #f00;
      
      > h1 {

        > img {

        }
      }

      > ul {
        display: flex;
        > li {
          width: 200px;
          height: 79px;
          line-height: 80px;
          text-align: center;
          &.bar {
            border-bottom: 2px solid #5865f5;
            box-sizing: border-box;
            > a {
              color:#5865f5
            }
          }
          &.active > ol {
            color:#5865f5;
            background-color: rgb(18,18,18);
          }
          > a {
            font-size: 20px;
            font-weight: 500;
            color:#fff;
          }

          > ol {
            display: none;
            position: absolute;
            z-index: 100;
            top: 81px;
            
            width: 200px;
            height: 400px;
            
            background-color: #000;
            >li {
              
              height: 54px;
              line-height: 54px;
              > a {
                display: block;
                color:#fff;
                font-size: 20px;
                font-weight: 400;
              }

              &:hover > a {
                color:#5865f5;
              }
            }
          }
        }
        
      } // ul

      > .icon-wrap {
        display: flex;
        justify-content: space-between;
        width: 140px;
        > div {
          position: relative;
          display: flex;align-items: center;justify-content: center;
          width: 40px;
          height: 40px;
          
          > img {
            width: 24px;
            height: 24px;
          }

          > span {
            position: absolute;
            top: 20px;
            right: 0;
            display: block;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            color:#fff;
            background-color: #5865f5;
            border-radius: 50%;
          }
        }
        
      } // .icon-wrap
    } // .header-container
  } // .header

  section {
    > .slide {
      position: relative;
      // z-index: 900;
      width: 100%;
      height: calc(100vh - 80px);
      // height: 100vh;
      // border: 1px solid #0f0;

      overflow: hidden;

      > .prev {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        display: block;
        cursor: url(./img/arrow_l.935a967c.cur),auto;
      }
      > .next {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        display: block;
        cursor: url(./img/arrow_r.1db549d7.cur),auto;
      }

      > .slide-container {
        position: absolute;
        left: calc(-100%*0);
        // left: -100%;
        top: 0;
        display: flex;
        flex-flow: row nowrap;
        width: 500%;



        > .slide-content {
          position: relative;
          width: 100%;
          // height: 100%;
          // height: 100vh;
          // border: 1px solid #f00;
          box-sizing: border-box;

          > .img-container {
            width: 100%;
            // height: 100vh;
            height: calc(100vh - 80px);
            > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          > .video-container {
            > video {
              width: 100%;
              height: 100%;
              > source {
                width: 100%;
                height: 100%;
                object-fit: cover;
                
              }
            } // video
          } // video-container

          > .text-container {
            padding: 0 8rem;
            position: absolute;
            top: 50%;
            left: 0;

            // width: 100%;
            // height: 100vh;

            transform: translate(0,-50%);
            
            // border: 1px solid #00f;
            color:#fff;
            p {
              font-size: 6rem;
              font-weight: 600;
            }

            > .line1 {
              display: flex;
              
              p {
                margin-right: 1.5rem;
              }

              margin-bottom: -1.6rem;
            }

            > .line2 {
              display: flex;
              margin-bottom: 1rem;
            }

            > .line3 {
              > p{
                font-size: 1.1rem;
                font-weight: 200;
              }
              >span {
                font-size: 1.1rem;
                font-weight: 200;
              }

              margin-bottom: 7rem;
            }

            .more {
              display: flex;
              align-items: center;

              span {
                font-size: 1.2rem;
              }
              > .arrow {
                display: block;
                width: 8px;
                height: 8px;
                border-width: 0;
                border-style: solid;
                border-color: #fff;
                border-top-width: 2px;
                border-right-width: 2px;
                text-indent: -9999px;
                transform: rotate(45deg);                
              }
            }
          } // text-container
          // background-color: #000;
        } // slide container
      } // slide-content
      
      > .slide-pagination {
        position: absolute;
        bottom: 50px;right: 30px;
        color:#fff;
        font-size: 1rem;
        display: flex;
        align-items: center;
        span {
          margin-right: 5px;
        }
        > .bar {
          display: block;
          width: 30px;
          height: 14px;
          border-bottom: 1px solid #666;
        }

        > .grey {
          color:#666;
        }


      } // slide pagination
    } //slide sec1 end

    > .sec2 {
      display: flex;
      width: 100%;
      height: 711px;
      
      > .left-container {
        position: relative;
        z-index: 100;
        width: 50%;
        height: 100%;

        overflow: hidden;


        > ul.img-slide {
          width: calc(100%*4);
          width: 400%;
          height: 100%;

          display: flex;
          flex-flow: row nowrap;

          position: absolute;
          top: 0;
          left: calc(-100%*0);
          
          >li.img_slide_content {
            width: 100%;
            height: 100%;

            > img {
              width: 100%;
              height: 100%;  
              object-fit: cover;
            }
          }
        }
      } // left-container end

      > .right-container {

        position: relative;
        
        width: 50%;
        
        background-color: #f4f4f4;

        overflow: hidden;
        // border: 1px solid #0f0;

        > .next {
          position: absolute;
          z-index: 100;
          right: 0;
          top: 0;
          width: 20%;
          height: 100%;
          cursor: url(./img/arrow_r.1db549d7.cur),auto;
        }

        .air {
          position: absolute;
          z-index: 100;
          display: block;
          width: 80px;
          height: 100%;
          background-color: #f4f4f4;
        }

        > ul.slide-container {
          display: flex;
          width: 100%;
          margin-left: 80px;

          position: absolute;
          top: 0;
          left: calc(-489*0);

          // border: 1px solid #00f;
          > li.slide-content {
            position: relative;

            // border: 1px solid #f00;
            padding: 50px 105px 0 0;
            
            &.text_hide {
              p {
                display: none;
                transition: all .2s;
              }
            }
            &:first-child{
              padding-left: 0;
              }
              p.tit {
                position: absolute;
                top: 50px;
                // top: 0;
                font-size: 34px;
                font-weight: 700;
              }
              
              p.sub_tit {
                font-size: 25px;
                font-weight: 700;
              }

              p.txt {
                color:#666;
                font-size: 14px;
                font-weight: 400;
              }

              .img {
                // position: absolute;
                // top: 60px;
                display: block;
                margin-top:120px;
                margin-bottom: 10px;
                width: 384px;
                height: 384px;
                background-color: #fff;
                >img {
                  width: 100%;
                  transition: all .2s;
                  &:hover {
                    transform:scale(1.1);
                  }
                }
              }
            }
        } // slide container

        .slide-pagination {
          position: absolute;
          bottom: 30px;
          left: 50%;
          transform: translate(-50%,0);
          margin: 0 auto;
          width: 77%;
          border: 1px solid #ccc;
          >span {
            position: absolute;
            top: -1px;left: -1px;
            width: 25%;
            border: 1px solid #000;
          }
        }
      } // slide end 
    } // sec2 end

    .sec3 {
      > h2 {
        margin-top: 80px;
        margin-bottom: 30px;

        font-size: 2rem;
        text-align: center;
      }

      > .img_container {
        width: 96%;
        margin: 0 auto;
        box-sizing: border-box;
         
        > .main_wrap {
            position: relative;
            
            display: block;
            width: 100%;
            height: 100%;

            > img {
              width: 100%;
              height: 100%;
            }
            
            > .inner_wrap {
              position: absolute;
              top: 0;
              left: 0;
              display: flex;
              width: 100%;
              height: 100%;

              > .text_wrap {
                position: absolute;
                top: 50%;
                left: 15%;
                padding: 35px;
                transform: translateY(-50%);
                > p {
                  font-size: 29px;
                  font-weight: 700;
                }
                
                > span {
                  font-size: 13px;
                  font-weight: 400;
                  color:#666;
                }
              } // text_wrap end

              > .slide {
                position: relative;
                width: 100%;
                height: 100%;
                
                > .slide-screen {
                  position: absolute;
                  right: 15%;
                  top: 50%;
                  
                  width: 350px;
                  height: 100%;
                  
                  overflow: hidden;
                  transform: translateY(-50%);
                  > .slide_container {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    display: flex;
                    
                    transform: translateY(-50%);

                  > .slide_content {
                    position: relative;

                    > .img_wrap {
                      width: 350px;
                      height: 350px;
                      
                      background-color: #fff;
                      > img {
                        width: 100%;
                        height: 100%;
                        transition: all .2s;
                        transform: scale(0.9);
                        &:hover {
                          transform: scale(1);
                        }
                      }
                    }
                    > .text_wrap {
                      display: flex;
                      justify-content: center;
                      align-items:baseline;
                      
                      > p {
                        font-size: 13px;
                        font-weight: 400;
                        margin-right: 5px;
                      }
                      > span {
                        font-size: 18px;
                        font-weight: 700;
                      }
                    }
                  }
                }
                > a {
                  position: absolute;  
                  // z-index: 900;
                  top: 50%;
                  margin: 0 20px;
                  
                  display: block;
                  width: 20px;
                  height: 20px;
                  
                  border-width: 0;
                  border-style: solid;
                  border-color: #000;
                  border-top-width: 2px;
                  border-right-width: 2px;   
                  
                  &.prev {
                    left: 0;
                    transform: translateY(-50%) rotate(223deg);
                  }
                  
                  &.next {
                    right: 0;
                    transform: translateY(-50%) rotate(45deg);
                  }
                }
              } // slide screen
                
            }

            } // .inner_wrap end
          

          
        } // .main_wrap

        > .sub_wrap {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;

          // border: 1px solid #f00;
          margin-top: 15px;
          > a {
            position: relative;

            margin-right: 15px;
            width: calc(96% / 3);
            overflow: hidden;

            &:last-child{
              margin-right: 0;
            }

            > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              // border: 1px solid #000;
              transition: all .2s;
            }
            &:hover {
              img {
                transform: scale(1.1);
              }
            }

            > .text_wrap {
              padding: 35px;
              position: absolute;

              bottom: 0;
              left: 0;
              // border: 1px solid #000;

              > p {
                font-size: 29px;
                font-weight: 700;
              }

              > span {
                font-size: 13px;
                font-weight: 400;
                color:#666; 
              }
            }
          }
        }
      }

      .event_more {
        display: flex;
width: 100px;
margin: 0 auto;
        > a {
          margin-top: 33px;
          margin-bottom: 85px;
          font-size: 16px;
          font-weight: 700;
          text-align: center;
        }
      }
    } // sec3 end

    .sec4 {
      background-color: #f4f4f4;
      
      > h2 {
        padding-top: 80px;
        padding-bottom: 30px;

        font-size: 2rem;
        text-align: center;
      }

      > .prod_wrap {
        
        display: flex;
        justify-content: space-between;
        padding-bottom: 35px;
        > .prod_item {
          width: calc(100%/4);
          padding-bottom: 50px;

          overflow: hidden;
          transition: all .2s;
          
          border-right: 1px solid #e1e1e1;
          
          &:last-child {
            border-right: none;
          }
          
          &:hover {
            background-color: #5865f5;
            a {
              .img_wrap {
                img {
                  transform: translateX(10px);
                }
              }
            }
          }
          

          > a {
            > .img_wrap {
              padding: 30px 0;
              text-align: center;
              > img {
                width: 90%;
                transition: all .2s;
                transform: translateX(40%);
              }
            } // img_wrap

            > p {
              padding-left: 50px;
              font-size: 22px;
              font-weight: 700;
            }
          } // a
        } // prod_item
      } // prod_wrap

    } // .sec4 end

    .sec5 {
      background-color: #f4f4f4;
      width: 100%;
      .banner-wrap {
        img {
          width: 100%;
        }
      } // banner-wrap
    } // sec5 banner

    > .sec6 {
      display: flex;
      width: 100%;
      height: 200px;
      position: relative;
      
      > .text_wrap {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 50%;
        // border: 1px solid #000;
        > p {
          padding-left: 50px;
          font-size: 34px;
          font-weight: 700;
        }
      }

      > .icon_wrap {
        position: absolute;
        width: 50%;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        // border: 1px solid #000;
        > ul {
          display: flex;
          justify-content: center;
           
          > li {
            width: 100px;
            margin: 0 20px;
            // border: 1px solid #000;
            text-align: center;
            > a {
              > .img_wrap {
                > img {

                }
              }

              > p {

              }
            }
          }
        }
      }
    } // sec6 help
  } //section end

  footer {
    position: relative;
    display: flex;

    width: 100%;
    height: 476px;
    
    background-color: #000;

    > .info_wrap {
      position: absolute;
      top: 50%;
      left: 70px;
      transform: translateY(-50%);
      > ul.links {
        display: flex;
        margin-bottom: 10px;
        > li {
          padding: 0 10px;
          height: 15px;
          line-height: 12px;
          border-right: 1px solid #bbb;

          &:last-child {
            border-right: none;
          }
          &.on {
            font-weight: 600;
          }
          > a {
            color: #bbb;
            font-size: 16px;
          } // a
        } // li
      } // links 
      
      > ul.warning {
        position: relative;
        margin: 30px 0;
        > li {
          margin-bottom: 5px;          
          padding-left: 7px;
          font-size: 12px;

          &::before {
            content: "*";
            padding: 0 3px;
            color:#bbb;
          }
          > a { 
            color: #bbb;

            > span {
              display: inline-block;
              width: 12px;
              height: 10px;
            }
          }
          
        }
        > span {
          position: absolute;
          top: 35%;
          left: 64%;
          width: 35px;
          height: 35px;
          > img {
            width: 100%;
            height: 100%;
          }
        }
      } // warning

      > address {
        padding-left: 10px;

        > span {
          color: #888;
          > a {
            color: #888;
          }
        }
      }
    } // info_wrap
    
    > .social_wrap {
      position: relative;
      left: 50%;
      width: 50%;

      > .item_container {
        margin: 130px auto 0;
        width: 560px;
      
      > .sns {
        display: flex;
        justify-content: space-between;
        
        margin-bottom: 30px;

      > span {
        text-transform: uppercase;
        color: #bbb;
        font-size: 24px;
        font-weight: 400;
      }

      > .sns_icon {
        display: flex;
        margin-right: 80px;

        > li {
          margin: 0 20px;
          > a {
            width: 32px;
            height: 32px;
            > img {
              width: 100%;
              height: 100%;
              filter: grayscale(1) brightness(1.75);

              &:hover {
                filter: none;
              }
            }
          }
        }
      }
    } // sns

    > .button {
      display: flex;
      justify-content: space-between;
      
      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        width: 276px;
        height: 50px;

        color: #888;
        
        background-color: #222222;
        border: none;
        p {
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        }

        span {
          display: block;
          border-width: 5px;
          border-style: solid;
          border-color: #888 #888 transparent transparent;
        }
      }
      > .family_link {
        position: relative;
        
        > .menu_btn {
          > span {
            transform: translateY(3px) rotate(-45deg);
          }
        }
        > .menu {
          display: none;
          position: absolute;
          bottom: 60px;

          padding: 10px 20px 20px;
          width: 276px;
          
          box-sizing: border-box;
          background-color: #222222;
          > li {
            
            color: #fff;
            font-size: 16px;

            > p {
              margin: 10px 0;
            }

            &.family_company {
              > p {
                margin-top: 30px;
              }
            }
            > ol {
              // display: none;
              > li {
                margin-bottom: 7px;
                > a {
                  color:#888;
                  font-size: 14px;
                  font-weight: 500;
                  
                  &:hover {
                    color: #5865f5;
                  }
                }
              }
            }
          }
        }
      } // family link


      > .global_btn {
        > span {
          transform: rotate(45deg);
        }
      }
    } // .button
    
  } // item_container
    } // social wrap
  } //footer end

  
} // wrap end