@import './variables.scss';

.submit_container {
  margin: 50px 0;
  padding: 50px 0;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  input {
    outline: none;
    padding: 2px 10px;
    border: 1px solid $gray;

    margin-bottom: 20px;
    width: 90%;
    height: 30px;
    box-sizing: border-box;
    font-family: $outfit;
    &::placeholder {color: $gray;}

    
    transform: translateY(20px);
    transition:.5s;
    &.on {opacity: 1; transform: translateY(0);}
    &#email{transition-delay: .2s;}
  }

  textarea {
    width: 90%;
    border: 1px solid $gray;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-family: $outfit;
    &::placeholder {color: $gray;}

    
    transform: translateY(20px);
    transition:.5s;
    transition-delay: .4s;
    &.on {opacity: 1; transform: translateY(0);}
  }

  button {
      &:active, &:visited, a:hover {color: #222;}

      width: 100px;
      height: 30px;
      border-radius: 25px;
      background-color: $gray;
      border: none;
      &.active {color:#fff; background-color: $pointColor;}

      
      transform: translateY(20px);
      transition:.5s;
      transition-delay: .8s;
      &.on {opacity: 1; transform: translateY(0);}
  }

  &::after {
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      right: 0;
      background-color: $gray;
      content: '';
  }

  .thankyou_message {
      padding-top: 100px;
      width: 100%;
      height: 250px;
      font-size: 15px;
      font-family: $outfit;
      font-weight: 600;
      text-align: center;
      box-sizing: border-box;
      &.active {color:$pointColor;}
  }
}

.contact_container {
  margin: 50px 0;
  padding: 50px 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
    > ul {
        > li {
              font-family: $outfit;
              margin-bottom: 30px;
              text-align: center;

              > span {
                  font-weight: 600;
                  display: block;
              }

              a {
                  display: block;
              }
              
              .kakao {
                display: none;
                position: relative;
                &.active {display: block;}
                li {
                  position: absolute;
                  top: 0; left: 50%;
                  transform: translateX(-50%);
                  width: 100px;
                  height: 100px;                            
                  img {width: 100%; height: 100%;}
                }
              }
        }
        .kakao_qr { a {cursor: pointer;}}
    }
}
