@import './variables.scss';

.tab_menu {
  padding-left: 20px;
  width: 150px;

  ul {
    margin-top: 30px; 
    li {
      margin-bottom: 10px;

      cursor: pointer;

      &.focused {
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }
}


#fSlide {
  padding-bottom: 60px;
  width: 1000px;

  .slick-slider .slick-track div{
    height: 500px;
    text-align: center;
    line-height: 500px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .slick-dots li.slick-active button:before {
    color: $pointColor !important; /* dot 색깔 */
  }
}

#music {
  .control_bar {
    display: flex;
    justify-content: space-between;
  }
}