* { margin: 0; padding: 0; }
html, body { width: 100%;	height: 100%; }

body {
	overflow-y: scroll;
	color: #222;
	font-size: 13px;
	font-family: 'Outfit','Noto Sans KR';
	line-height: 1.4;
}

a:link, a:visited, a:hover, a:active { color: #222; text-decoration: none;}
ul, ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
em, i, address { font-style: normal; }
hr, caption, legend { display: none; }
fieldset, img { border: none; }
textarea { resize:none; }