@font-face {
  font-family: Chomsky;
  font-style: normal;
  font-weight: 700;
  src: url(../font/Chomsky.otf) format("truetype")
}
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');


$mainColor: #222;
$pointColor: #d0021b;
$bgColor: #edf2f6;
$gray: #d3d3d3;
$lightGray: #d3d3d3;
$subGray: #5a5a5a;
$darkGray: #2d3748;


$outfit: 'Outfit', sans-serif;
$poppins: 'Poppins', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$assistant : 'Assistant', sans-serif;
$nanum : 'Nanum Myeongjo', serif;