#myshopMain { margin:0px 0 0; /*border-right:1px solid #ececec;*/ }
#myshopMain ul { margin:0 0px 0;font-size:0;line-height:0; border:1px solid #ececec; }
#myshopMain ul:after { content:""; display:block; clear:both; }
#myshopMain .shopMain { display:inline-block; width:25%; margin:0 0 0px; padding:40px 0px;  box-sizing:border-box; text-align:center; border:1px solid #ececec; /*border-right:0;border-top:0;*/}
#myshopMain .shopMain:hover {background:#f9f9f9;} 
#myshopMain .shopMain h3 { position:relative;  font-size:1.6rem; color:#333; font-weight:300; }
#myshopMain .shopMain h3:before { display:block; content:""; width:65px; height:50px; margin:0 auto; padding:0 0 10px; background:url("//img.echosting.cafe24.com/skin/base/myshop/sfix_icon_shopMain.png") no-repeat 0 0; }
#myshopMain .shopMain h3 strong { display:block;font-size:1.8rem;margin-bottom:15px;text-transform:uppercase;}
#myshopMain .shopMain h3 span { display:block; padding:6px 0 0; }
#myshopMain .shopMain h3 a { display:block; padding:0 0 25px; }
#myshopMain .shopMain h3 a:hover { text-decoration:none; }
#myshopMain .shopMain p {display:none;}
#myshopMain .shopMain p a { font-size:1.2rem; line-height:18px; color:#8f8f8f;  background-repeat: no-repeat;}
{b}
/* 아이콘 */
#myshopMain .shopMain.order h3:before { background-position:12px 0; }
#myshopMain .shopMain.profile h3:before { background-position:-90px 8px; }
#myshopMain .shopMain.wishlist h3:before { background-position:-188px 0; }
#myshopMain .shopMain.likeIt h3:before { background-position:-288px 4px; }
#myshopMain .shopMain.mileage h3:before { background-position:8px -100px; }
#myshopMain .shopMain.deposits h3:before { background-position:-92px -98px; }
#myshopMain .shopMain.consult h3:before { background-position:-188px -100px; }
#myshopMain .shopMain.coupon h3:before { background-position:-292px -96px; }
#myshopMain .shopMain.board h3:before { background-position:12px -200px; }
#myshopMain .shopMain.address h3:before { background-position:-102px -194px; }
#myshopMain .shopMain.inquiry h3:before { background-position:-200px -200px; }
#myshopMain .shopMain.regularDelivery h3:before { background-position:-292px -200px; }
#myshopMain .shopMain.last_li h3 {opacity:0;}

/* 브라우져 가로 1024픽셀 이하일경우 반응*/
@media screen and (max-width: 1024px) {
    
#myshopMain .shopMain {padding:20px 0px 0px;width:50%;  }
#myshopMain .shopMain h3 { font-size:1.3rem; }
#myshopMain .shopMain h3:before { display:block; content:""; width:65px; height:50px; margin:0 auto; padding:0 0 10px; background:url("//img.echosting.cafe24.com/skin/base/myshop/sfix_icon_shopMain.png") no-repeat;  }
#myshopMain .shopMain h3 strong { display:block;font-size:1.4rem;margin-bottom:15px;text-transform:uppercase;}
#myshopMain .shopMain h3 span { display:block; padding:6px 0 0; }


}