.xans-myshop-summary { margin:14px 7px; }
.xans-myshop-summary h3 { padding:14px; font-size:1.5rem; line-height:1.2em; color:#000; background:#f1f1f1; }

/* 적립금 */
.ec-base-table {}
.ec-base-table ul { display: flex; justify-content: space-between;}
.ec-base-table ul li {   text-align: center; width: calc(100% / 5); }
.ec-base-table ul li div {}
.ec-base-table ul li div.tit {}
.ec-base-table ul li div.sub {}
.ec-base-table ul li div.sub .txtEm {background-repeat: no-repeat;}


.checkbox_wrap input[type="checkbox"] { width:20px; height:20px; background-color:#f1f1f1; background-image:none; border: 1px solid #ccc; border-radius:50%; }
input[type="checkbox"]:checked { position: relative; background-image:url(https://gywls6603.cafe24.com/AURA/checked_bold.png) !important;  background-size: 10px;   background-position: center; background-color:#38271f;  border: 1px solid #38271f; }



/* 적립내역 */
.xans-myshop-mileagepackage .navigation { padding:0 7px 14px; }
.xans-myshop-mileagepackage .navigation ul { border:1px solid #d5d5d5; }
.xans-myshop-mileagepackage .navigation li { background:#f9f9f9; border-top:1px solid #ddd; }
.xans-myshop-mileagepackage .navigation li:first-child { border-top:0; }
.xans-myshop-mileagepackage .navigation li a { display:block; position:relative; padding:14px; font-weight:bold; font-size:13px; line-height:1.2em; color:#4a5164; }
.xans-myshop-mileagepackage .navigation li a:after { display:block; content:""; width:20px; height:20px; position:absolute; top:12px; right:12px;
    background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_arrow_gray.png") right 50% no-repeat; background-size:20px 20px;
    transform:rotate(-90deg); -ms-transform:rotate(-90deg); -webkit-transform:rotate(-90deg);
 }

.xans-myshop-mileagepackage { border-bottom: 1px dashed #d5d5d5; padding-bottom:20px; margin-bottom: 34px;}

