@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Favorit";
}

html, body {
  overflow: scroll;
  /* IE scroll 숨김 */
  -ms-overflow-style: none;
}
html html, html body::-webkit-scrollbar, body html, body body::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

@font-face {
  font-family: "Favorit";
  src: url("//cdn.shopify.com/s/files/1/0598/9236/7580/t/9/assets/FavoritStd-Regular.woff2?v=7676542140720861575") format("woff2"), url("//cdn.shopify.com/s/files/1/0598/9236/7580/t/9/assets/FavoritStd-Regular.woff?v=11891590716085230806") format("woff");
}
a:link, a:visited, a:active {
  text-decoration: none;
  color: #000;
}

ol, ul, li {
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  .pc-nav {
    display: none;
  }
}
@media screen and (max-width: 979px) {
  .sec6 ul {
    flex-direction: column;
  }
  .sec6 ul li {
    width: 100%;
    padding: initial;
    padding: 16px;
    box-sizing: border-box;
  }
  .sec6 ul li a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .sec6 ul li a img {
    width: 20%;
    margin-bottom: initial;
  }
  .sec6 ul li a p {
    width: 70%;
    text-align: left;
    font-size: 14px;
  }
  .sec6 ul svg {
    display: block;
  }
  .sec8 .sec8_flex {
    flex-direction: column;
  }
  .sec8 .sec8_flex .sec8_img {
    display: none;
  }
  .sec8 .sec8_flex .review {
    width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  .sec2 {
    font-size: 20px;
  }
  .sec3 .marquee__items {
    width: 1700%;
  }
  .sec4 .big_ul {
    flex-direction: column;
  }
  .sec4 .big_ul .big_li {
    padding: 56px 0;
  }
  .sec4 .small_ul img {
    max-height: 250px;
  }
  .sec5 .wrap {
    flex-direction: column;
  }
  .sec5 .wrap .img-box {
    width: 100%;
  }
  .sec5 .wrap .text-box {
    width: 100%;
  }
  .sec5 .wrap .text-box p {
    font-size: 20px;
    line-height: 30px;
  }
  .sec7 {
    height: 400px;
  }
  .sec7 .img-wrap {
    height: 100%;
  }
  .sec7 .img-wrap img {
    left: -50px;
  }
  footer .email-input form {
    padding: initial;
    padding: 0 2%;
  }
  footer .email-input form input {
    font-size: 13px;
  }
  footer .f-nav .logo {
    margin-bottom: 60px;
  }
  footer .f-nav .wrap {
    padding: initial;
    padding-bottom: 28px;
    flex-direction: column;
    justify-content: center;
  }
  footer .f-nav .wrap li {
    width: 100%;
  }
  footer .f-nav .wrap li ul {
    margin-bottom: 20px;
  }
  footer .f-bottom {
    flex-direction: column;
  }
  footer .f-bottom address {
    order: 100;
    padding-bottom: 30px;
  }
  footer .f-bottom p {
    padding-top: 20px;
    padding-bottom: 58px;
    display: flex;
    flex-direction: column-reverse;
  }
  footer .f-bottom p a {
    margin: 10px;
    text-align: center;
  }
}
.mobile-nav {
  z-index: 9999;
  position: fixed;
  top: 0;
  padding: 0 56px;
  width: 100%;
  height: 63px;
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;
}
.mobile-nav .nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}
.mobile-nav .nav-wrap .nav-left .burger div {
  background-color: #8a8a8a;
  width: 20px;
  height: 2px;
  margin: 4px;
  transition: all 0.5s;
}
.mobile-nav .nav-wrap .toggle .line1 {
  transform: rotate(45deg) translate(0px, 8px);
}
.mobile-nav .nav-wrap .toggle .line2 {
  opacity: 0;
  transform: translateX(-10px);
}
.mobile-nav .nav-wrap .toggle .line3 {
  transform: rotate(-45deg) translate(0px, -8px);
}
.mobile-nav .nav-wrap .side-menu.active {
  z-index: 9999;
  display: block;
}
.mobile-nav .nav-wrap .side-menu {
  display: none;
  position: absolute;
  top: 63px;
  left: 0;
  width: 100%;
  padding: 32px;
  background-color: #fff;
  border-top: 1px solid #d8d8d8;
}
.mobile-nav .nav-wrap .side-menu .wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}
.mobile-nav .nav-wrap .side-menu .wrap ul li {
  margin-bottom: 24px;
  font-size: 22px;
}
.mobile-nav .nav-wrap .side-menu .wrap ul li h2 {
  font-size: 13px;
  margin-bottom: 30px;
}
.mobile-nav .nav-wrap .side-menu .wrap ul hr {
  width: 80%;
  margin: 32px 0;
  height: 1px;
  background-color: #d8d8d8;
  border: none;
}
.mobile-nav .nav-wrap .side-menu .insta h2 {
  font-size: 13px;
}
.mobile-nav .nav-wrap .side-menu .insta ul {
  display: flex;
}
.mobile-nav .nav-wrap .side-menu .insta ul li {
  height: 36px;
  line-height: 33px;
  font-size: 13px;
}
.mobile-nav .nav-wrap .side-menu .insta ul svg {
  margin: 0 5px;
  height: 33px;
}
.mobile-nav .nav-wrap .nav-center {
  position: fixed;
  margin-left: -52px;
  left: 50%;
  text-align: center;
}
.mobile-nav .nav-wrap .nav-right {
  display: flex;
  align-items: center;
  width: 40px;
  height: 24px;
  margin-right: 100px;
}
.mobile-nav .nav-wrap .nav-right span {
  margin-left: 10px;
  font-size: 13px;
  text-align: center;
}

.pc-nav {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 63px;
  font-size: 13px;
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;
}
.pc-nav .nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.pc-nav .nav-wrap a:hover {
  color: #797979;
  transition: all 0.2s;
}
.pc-nav .nav-wrap .nav-left {
  width: 300px;
  height: 63px;
  line-height: 63px;
  border-right: 1px solid #d8d8d8;
}
.pc-nav .nav-wrap .nav-left svg {
  display: block;
  padding: 0 28px;
  margin: 0 auto;
  height: 63px;
}
.pc-nav .nav-wrap .nav-left svg:hover path {
  fill: #797979;
  transition: all 0.5s;
}
.pc-nav .nav-wrap .nav-center ul {
  display: flex;
  width: 100%;
  height: 63px;
  line-height: 63px;
}
.pc-nav .nav-wrap .nav-center ul li {
  margin: 0 12px;
  width: 100%;
}
.pc-nav .nav-wrap .nav-center ul li a:hover {
  color: #797979;
  transition: all 0.2s;
}
.pc-nav .nav-wrap .nav-center ul li .lnb-wrap:hover {
  display: block;
  transition: all 0.5s;
  z-index: 9999;
}
.pc-nav .nav-wrap .nav-center ul li .lnb-wrap:hover a {
  color: #ccc;
}
.pc-nav .nav-wrap .nav-center ul li .lnb-wrap {
  display: none;
  position: absolute;
  top: 63px;
  left: 0;
  height: 175px;
  width: 100%;
  text-align: center;
  z-index: 9999;
  background-color: #fff;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.pc-nav .nav-wrap .nav-center ul li .lnb-wrap ul {
  display: flex;
  flex-direction: column;
}
.pc-nav .nav-wrap .nav-center ul li .lnb-wrap ul li:hover a {
  transition: all 1.8s;
  color: #000;
}
.pc-nav .nav-wrap .nav-center ul li .lnb-wrap ul li {
  position: relative;
  top: 20px;
  margin: 10px;
  line-height: 20px;
}
.pc-nav .nav-wrap .nav-center ul li .lnb-wrap ul li a {
  font-size: 20px;
}
.pc-nav .nav-wrap .nav-center ul li:hover .lnb-wrap {
  display: block;
}
.pc-nav .nav-wrap .nav-right {
  width: 300px;
  border-left: 1px solid #d9d9d9;
  height: 63px;
  line-height: 63px;
  text-align: center;
}
.pc-nav .nav-wrap .nav-right a {
  margin: 0 12px;
}

main {
  margin-top: 63px;
}

.swiper {
  cursor: grab;
  width: 100%;
  height: 700px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  background: rgb(255, 255, 255);
  transform: translateY(-6.5px);
  width: 6px;
  height: 6px;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination {
  background: rgba(255, 255, 255, 0.168627451);
  width: 53px !important;
  height: 13px !important;
  bottom: 30px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  border-radius: 10px;
}

.swiper-pagination:hover {
  cursor: pointer;
}

.swiper {
  position: relative;
}
.swiper .swiper-slide .slider-ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper .swiper-slide .slider-ul .slider-li-title {
  color: #fff;
  margin-bottom: 50px;
}
.swiper .swiper-slide .slider-ul .slider-li-title p:nth-child(1) {
  font-size: 36px;
  margin-bottom: 10px;
}
.swiper .swiper-slide .slider-ul .slider-li-title p:nth-child(2) {
  font-size: 13px;
}
.swiper .swiper-slide .slider-ul .slider-li-btn {
  background-color: #fff;
  width: 174px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 13px;
  border-radius: 5px;
  margin: 0 auto;
  transition: 0.5s;
}
.swiper .swiper-slide .slider-ul .slider-li-btn:hover {
  opacity: 0.5;
}

.sec1 {
  height: 81px;
  font-size: 22px;
  line-height: 81px;
  text-align: center;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.sec2 {
  margin: 56px 0;
  padding: 0 56px;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
}

.sec3 {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  overflow: hidden;
  padding: 24px 0 19px;
}
.sec3 .marquee__items {
  display: flex;
  width: 700%;
  animation: sec3Ani 35s linear infinite;
}
.sec3 .marquee__items .marquee__item {
  display: flex;
  align-items: center;
}
.sec3 .marquee__items .marquee__item .marquee__text {
  font-size: 22px;
  margin: 0 40px 0 20px;
  height: 32px;
}
.sec3 .marquee__items .marquee__item svg {
  width: 32px;
  height: 32px;
  transform: translateY(2px);
}

@keyframes sec3Ani {
  100% {
    transform: translateX(-1000px);
  }
}
.sec4 .big_ul {
  display: flex;
  width: 100%;
  text-align: center;
}
.sec4 .big_ul .big_li {
  position: relative;
  width: 100%;
  padding: 56px;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.sec4 .big_ul .big_li .absol {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 0;
  width: 100%;
  height: 71px;
  box-sizing: border-box;
}
.sec4 .big_ul .big_li .absol p {
  width: 91px;
  height: 21px;
  text-align: center;
  line-height: 21px;
  color: #585858;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #f2f2f3;
  border-radius: 4px;
}
.sec4 .big_ul .big_li .small_ul li {
  position: relative;
}
.sec4 .big_ul .big_li .small_ul li img {
  max-height: 300px;
}
.sec4 .big_ul .big_li .small_ul li .product-card__title {
  font-size: 1.2em;
  margin-top: 40px;
  margin-bottom: 14px;
  height: 64px;
}
.sec4 .big_ul .big_li .small_ul li .product-card__sub {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sec4 .big_ul .big_li .small_ul li .product-card__sub a {
  margin: 6px;
  padding: 2px 10px;
  font-size: 13px;
  color: #585858;
  text-transform: uppercase;
  background-color: #f2f2f3;
  border-radius: 4px;
}
.sec4 .big_ul .big_li .small_ul li .product-card__price {
  font-size: 13px;
  margin-top: 19px;
}
.sec4 .big_ul .big_li .small_ul li .product-card__btn {
  margin-bottom: 24px;
  margin: 25px auto 0;
  max-width: 238px;
  padding: 16px 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 14.5px;
  background-color: #000;
  border-radius: 4px;
}

.sec5 .wrap {
  min-height: 700px;
  display: flex;
}
.sec5 .wrap .img-box {
  width: 50%;
}
.sec5 .wrap .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sec5 .wrap .text-box {
  margin: auto;
  padding: 56px;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
}
.sec5 .wrap .text-box h3 {
  font-size: 13px;
  margin-bottom: 24px;
}
.sec5 .wrap .text-box p {
  font-size: 22px;
  line-height: 33px;
}
.sec5 .reverse-content {
  display: flex;
  flex-direction: row-reverse;
}

.sec6 ul {
  display: flex;
}
.sec6 ul li:hover img {
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}
.sec6 ul li {
  padding: 56px;
  width: 25%;
  font-size: 22px;
  text-align: center;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.sec6 ul li img {
  width: 100%;
  margin-bottom: 20px;
}
.sec6 ul li p {
  margin-bottom: 8px;
  text-transform: uppercase;
}
.sec6 ul li:last-child {
  border-right: none;
}
.sec6 div svg {
  display: none;
}

.sec7 {
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
}
.sec7 .img-wrap {
  width: 100%;
  height: 700px;
  background-image: url(./images/Hauttestcover_1500x.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 1s;
}
.sec7 .img-wrap:hover {
  transform: scale(1.2);
}
.sec7 .text-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -50%);
}
.sec7 .text-wrap h3 {
  font-size: 13px;
  margin-bottom: 9px;
}
.sec7 .text-wrap p {
  font-size: 22px;
  margin-bottom: 30px;
}
.sec7 .text-wrap a {
  padding: 12px 18px;
  font-size: 13px;
  background-color: #fff;
  border-radius: 4px;
}

.sec8 {
  border-bottom: 1px solid #D8D8D8;
}
.sec8 .sec8_flex {
  display: flex;
}
.sec8 .sec8_flex .sec8_img {
  width: 50%;
}
.sec8 .sec8_flex .sec8_img div {
  background-image: url(https://cdn.shopify.com/s/files/1/0598/9236/7580/files/TestimonialsCover_1500x.jpg?v=1645172820);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 100%;
}
.sec8 .sec8_flex .review {
  width: 50% !important;
}
.sec8 .sec8_flex .review .swiper-pagination-bullet {
  background: #9d9d9d;
  transform: translateY(-6.5px);
  width: 6px;
  height: 6px;
}
.sec8 .sec8_flex .review .swiper-pagination-bullet-active {
  background: #000;
}
.sec8 .sec8_flex .review .swiper-pagination {
  background: #f3f3f3;
  width: 72px !important;
  height: 13px !important;
  bottom: 30px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  border-radius: 10px;
  margin-bottom: 15px;
}
.sec8 .sec8_flex .swiper-slide ul {
  max-width: 660px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 56px 10rem;
}
.sec8 .sec8_flex .swiper-slide ul li {
  text-align: center;
  margin: 0 auto;
}
.sec8 .sec8_flex .swiper-slide ul .review_img_1 {
  text-align: center;
}
.sec8 .sec8_flex .swiper-slide ul .review_img_1 .img_1 {
  background-image: url(./images/Julia-1_88x88.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  margin: 0 auto 16px;
}
.sec8 .sec8_flex .swiper-slide ul .review_img_1 .img_2 {
  background-image: url(./images/Nick_Fancher_4363-s_6c9f00c3-6eac-4090-aa97-b8f66b08a0d3_88x88.jpeg);
  background-repeat: no-repeat;
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  margin: 0 auto 16px;
}
.sec8 .sec8_flex .swiper-slide ul .review_img_1 .img_3 {
  background-image: url(./images/Testimonial-Sabine_88x88.jpeg);
  background-repeat: no-repeat;
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  margin: 0 auto 16px;
}
.sec8 .sec8_flex .swiper-slide ul .review_img_1 .img_4 {
  background-image: url(./images/KArin-3_88x88.jpeg);
  background-repeat: no-repeat;
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  margin: 0 auto 16px;
}
.sec8 .sec8_flex .swiper-slide ul .review_img_1 p:nth-of-type(2) {
  font-size: 13px;
  text-align: center;
}
.sec8 .sec8_flex .swiper-slide ul .review_text {
  margin: 24px auto;
  font-size: 22px;
  font-weight: 400;
}
.sec8 .sec8_flex .swiper-slide ul .review_footer {
  width: 70%;
  margin: 64px auto;
  margin-bottom: 0;
  font-size: 13px;
}
.sec8 .sec8_flex .swiper-slide ul .review_footer p {
  padding: 8px 0;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec8 .sec8_flex .swiper-slide ul .review_footer p span {
  text-transform: uppercase;
}
.sec8 .sec8_flex .swiper-slide ul .review_footer P:nth-of-type(3) {
  border: none;
}

footer {
  text-transform: uppercase;
}
footer .newsletter {
  height: 145px;
  text-align: center;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #d8d8d8;
}
footer .newsletter h2 {
  text-transform: capitalize;
  margin-bottom: 14px;
}
footer .newsletter p {
  font-size: 14px;
}
footer .email-input form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 77px;
  border-bottom: 1px solid #d8d8d8;
}
footer .email-input form fieldset {
  border: none;
  width: 70vw;
  height: 77px;
  line-height: 77px;
}
footer .email-input form input {
  width: 100%;
  padding-bottom: 27px;
  box-sizing: border-box;
  border: 1px solid red;
  font-size: 20px;
  border: none;
  outline: none;
}
footer .email-input form input::-moz-placeholder {
  color: #d9d9d9;
  height: 77px;
  line-height: 77px;
}
footer .email-input form input::placeholder {
  color: #d9d9d9;
  height: 77px;
  line-height: 77px;
}
footer .email-input form button {
  background: none;
  border: none;
  outline: none;
}
footer .email-input form button:hover {
  opacity: 0.5;
  transition: 0.5s;
}
footer .f-nav {
  border-bottom: 1px solid #d8d8d8;
}
footer .f-nav .logo {
  margin-top: 70px;
  margin-bottom: 60px;
}
footer .f-nav .logo svg {
  width: 100%;
  margin: 0 auto;
}
footer .f-nav .wrap {
  padding: 0 310px 60px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
footer .f-nav .wrap li {
  margin-bottom: 16px;
  width: 150px;
  color: #b8b8b8;
  font-size: 13px;
  text-align: center;
}
footer .f-nav .wrap li ul {
  margin-top: 16px;
}
footer .f-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 49px;
  font-size: 10px;
}
footer .f-bottom address {
  font-style: normal;
}/*# sourceMappingURL=index.css.map */