* {margin: 0;padding: 0; font-family: "Favorit";}

html,body {
  overflow: scroll;
  /* IE scroll 숨김 */
  -ms-overflow-style: none;

  html,body::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }
}

@font-face {
  font-family: "Favorit";
  src: url('//cdn.shopify.com/s/files/1/0598/9236/7580/t/9/assets/FavoritStd-Regular.woff2?v=7676542140720861575') format("woff2"),
      url('//cdn.shopify.com/s/files/1/0598/9236/7580/t/9/assets/FavoritStd-Regular.woff?v=11891590716085230806') format("woff");
  }

a:link,a:visited,a:active{text-decoration: none; color: #000;}

ol,ul,li{list-style-type: none;}

@media screen and (max-width:1024px) {
  .pc-nav {
    display: none;
  }
} // media 1024px end

@media screen and (max-width:979px) {
  .sec6 {
    ul {
      flex-direction:column;
      li {
        width: 100%;
        padding: initial;
        padding: 16px;
        box-sizing: border-box;
        a {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          img {
            width: 20%;
            margin-bottom: initial;
          }
          p {
            width: 70%;
            text-align: left;
            font-size: 14px;
          }
        }
      }
      svg {
          display: block;
        }
    }
  }

  .sec8 {
    .sec8_flex {
      flex-direction: column;
      .sec8_img {
        display: none;
      }

      .review {
        width: 100% !important;
      }
    }
  }
}

@media screen and (max-width:768px) {
  .sec2 {
    font-size: 20px;
  }

  .sec3 {
    .marquee__items {
      width:1700%;
    } 
  }

  .sec4 {
    .big_ul {
      flex-direction: column;

      .big_li {
        padding: 56px 0;
      }
    }

    .small_ul {
      img {
        max-height: 250px;
      }
    }
  }

  .sec5 {
    .wrap {
      flex-direction: column;     
    .img-box {
      width: 100%;
    }
    .text-box {
      width: 100%;  
      p {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
  }

  .sec7 {
    height: 400px;
    .img-wrap {
      height: 100%;

      img {
        left: -50px;
      }
    }

  }

  footer {
    .email-input {
      form {
        padding: initial;
        padding: 0 2%;
        input {
          font-size: 13px;
        }
      }
    }
    .f-nav {
      .logo {
        margin-bottom: 60px;
      }
      
      .wrap {
        padding: initial;
        padding-bottom: 28px;
        flex-direction:column;
        justify-content: center;
        li{
          width: 100%;
          ul {
            margin-bottom: 20px;
          }
        }
      }
    }

    .f-bottom {
      flex-direction: column;

      address {
        order: 100;
        padding-bottom: 30px;
      }
      
      p {
        padding-top: 20px;
        padding-bottom: 58px;
        display: flex;
        flex-direction: column-reverse;

        a {
          margin: 10px;
          text-align: center;
        }
      }
    }
  }

} //media 768px end


.mobile-nav {
  z-index: 9999;
  position: fixed;
  top: 0;

  padding: 0 56px;
  width: 100%;
  height: 63px;

  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;

  .nav-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;

    .nav-left {
      .burger{
        div{
          background-color: #8a8a8a;
          width:20px;height:2px;margin:4px;
          transition: all 0.5s;
        }
      }
    }
  
  .toggle .line1{transform: rotate(45deg) translate(0px,8px);}
  .toggle .line2{opacity: 0; transform: translateX(-10px);}
  .toggle .line3{transform: rotate(-45deg) translate(0px,-8px);}
  

    .side-menu.active{
      z-index: 9999;
      display: block;
     }

    .side-menu{
      display: none;

      position: absolute;
      top: 63px;
      left:0;

      width: 100%;
      
      padding: 32px;
      background-color: #fff;
      
      border-top: 1px solid #d8d8d8;
      
      .wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        height: 90vh;

      ul{
        li {
          margin-bottom: 24px;
          font-size: 22px;
          
          h2 {
            font-size: 13px;
            margin-bottom: 30px;
          }
        }
        
        hr  {
          width: 80%;
          margin: 32px 0;
          height: 1px;
          background-color: #d8d8d8;
          border: none;
        }
      }
    }

      .insta {
        h2 {
          font-size: 13px;
        }
        
        ul {
          display: flex;
          
          li {
            height: 36px;
            line-height: 33px;
            font-size: 13px;
          }

          svg {
            margin: 0 5px;
            height: 33px;
          }
        }
      }
    }


    .nav-center {
      position: fixed;
      margin-left: -52px;
      left: 50%;
      text-align: center;
    }

    .nav-right{

      display: flex;
      align-items: center;
      width: 40px;
      height: 24px;
      margin-right: 100px;
      // border: 1px solid #000;
      span{
        margin-left: 10px;
        font-size: 13px;
        text-align: center;
      }
    }
  }

}

.pc-nav {
  z-index: 9999;
  position: fixed;

  top: 0;
  
  width: 100%;
  height: 63px;

  font-size: 13px;

  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;
  
  .nav-wrap {
    display: flex;
    justify-content: space-between;
  
    align-items: center;

    position: relative; //test

    a:hover{
      color: #797979;
      transition: all 0.2s;      
    }

      .nav-left{
        width: 300px;
        height: 63px;
        line-height: 63px;
        // border: 1px solid #000;
        border-right: 1px solid #d8d8d8;
        
        svg {
          display: block;
          padding: 0 28px;
          margin: 0 auto;
          height: 63px;
          // border: 1px solid #000;
          }

          svg:hover {
            path{
              fill: #797979;
              transition: all 0.5s;
            }
          }
      }


      .nav-center {
        
        ul {
          display: flex;
          width: 100%;
          height: 63px;
          line-height: 63px;
          li {
            margin: 0 12px;
            width: 100%;

            a:hover{
              color: #797979;
              transition: all 0.2s;
            }

            .lnb-wrap:hover{
              display: block;
              transition: all 0.5s;
              
              z-index: 9999;
              
              a{
                color: #ccc;
              }
            }
            
            .lnb-wrap {
              display: none;
              position: absolute;
              top: 63px;
              left: 0;
              height: 175px;
              width: 100%;
              text-align: center;
              z-index: 9999;
              background-color: #fff;
              border-top: 1px solid #d8d8d8;
              border-bottom: 1px solid #d8d8d8;
              
              ul {
                display: flex;
                flex-direction: column;
                
                li:hover {
                  a{
                    transition: all 1.8s;
                    color: #000;
                  }
                }
                li {
                  position: relative;
                  top: 20px;
                  margin: 10px;
                  line-height: 20px;

                  a {
                    font-size: 20px;
                  }
                }
              }
            }
          }

          li:hover{
            .lnb-wrap {
              display: block;
            }
          }

        }
      }

      .nav-right {
        width: 300px;
        border-left: 1px solid #d9d9d9;
        height: 63px;
        line-height: 63px;

        text-align: center;
        a {
          margin: 0 12px;
        }
      }
    
  }
}
// pc nav end


// main start

main{margin-top:63px;}

// swiper start

.swiper {
  cursor: grab;
  width: 100%;
  height: 700px;
  }
  
  .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

  .swiper-pagination-bullet{
    background: rgba(255,255,255,1);
    transform: translateY(-6.5px);
    width:6px;
    height:6px;
  }
  .swiper-pagination-bullet-active{
    background: #fff;
  }
  .swiper-pagination{
      background: #ffffff2b;
      width: 53px!important;height:13px!important;
      bottom:30px!important;left: 50%!important;
      transform: translateX(-50%)!important;
      border-radius: 10px;
  }

  .swiper-pagination:hover{
    cursor: pointer;
  }

  .swiper{
      position:relative;
      .swiper-slide{
          .slider-ul{
              position:absolute;
              top:50%;left:50%;
              transform: translate(-50%,-50%);
              .slider-li-title{
                  color:#fff;
                  margin-bottom:50px;
                  p:nth-child(1){font-size: 36px;margin-bottom: 10px;}
                  p:nth-child(2){font-size:13px}
              }
              .slider-li-btn{
                  background-color: #fff;
                  width:174px;height:45px;
                  line-height: 45px; text-align:center;
                  font-size:13px;
                  border-radius: 5px;
                  margin:0 auto;
                  transition: .5s;
                  &:hover{opacity: .5;}
              }
              
          }
      }
  }

// swiper end


.sec1{
  height: 81px;
  font-size: 22px;
  line-height: 81px;
  text-align: center;

  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.sec2 {
  margin: 56px 0;
  padding: 0 56px;  
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
}



.sec3{
  border-top:1px solid #d8d8d8;
  border-bottom:1px solid #d8d8d8;
  overflow: hidden;
  padding:24px 0 19px;

  .marquee__items{
      display:flex; 
      width:700%;
      animation: sec3Ani 35s linear infinite;

      .marquee__item{
          display:flex;
          align-items: center;

          .marquee__text{
              font-size: 22px;margin:0 40px 0 20px;
              height:32px;
          }
          svg{width:32px;height:32px;transform: translateY(2px);}
      }
  }
}

@keyframes sec3Ani {
  100%{transform: translateX(-1000px);}
}

.sec4{
  .big_ul {
    display: flex;
    width: 100%;
    text-align: center;

    .big_li {
      position: relative;
      width: 100%;
      padding: 56px;
      border-right: 1px solid #d8d8d8;
      border-bottom: 1px solid #d8d8d8;
      
      .absol {
        position: absolute;
        top: 0; left: 0;
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 24px 24px 0;
        width:100%;
        height: 71px;
        box-sizing: border-box;

        p {
          width: 91px;
          height: 21px;
          text-align: center;
          line-height: 21px;
          color:#585858;
          font-size: 13px;
          text-transform: uppercase;
          background-color: #f2f2f3;
          border-radius: 4px;
        }
      }

      .small_ul {
        
        li {
          position: relative;
          img{
            max-height: 300px;
          }

          .product-card__title {
            font-size: 1.2em;
            margin-top: 40px;
            margin-bottom: 14px;
            height: 64px;
          }

          .product-card__sub {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            

            a {
              margin: 6px;
              padding: 2px 10px;
              font-size: 13px;
              color: #585858;
              text-transform: uppercase;
              background-color: #f2f2f3;
              border-radius: 4px;
            }
          }

          .product-card__price {
            font-size: 13px;
            margin-top: 19px;
          }
          
          .product-card__btn  {
            margin-bottom: 24px;
            margin: 25px auto 0;
            max-width: 238px;
            padding: 16px 0;
            text-transform: uppercase;
            color: #fff;
            font-size: 14.5px;
            background-color: #000;
            border-radius: 4px;
        }
        
      }
    }
  }
}
}

.sec5 {
  .wrap {
    min-height: 700px;   
    display: flex;

    .img-box {
      width: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .text-box {
      margin: auto;
      padding: 56px;
      width: 50%;
      text-align: center;
      box-sizing: border-box;
      h3 {
        font-size: 13px;
        margin-bottom: 24px;
      }
      p {
        font-size: 22px;
        line-height: 33px;
      }
    }
  }
  .reverse-content {
    display: flex;
    flex-direction: row-reverse;
  }
}

.sec6 {
  ul {
    display: flex;

    li:hover {
      img{
        opacity: .5;
        transition: all .5s ease-in-out;
      }
    }
    li {
      padding: 56px;
      width: 25%;
      font-size: 22px;
      text-align: center;
      border-right: 1px solid #d8d8d8;
      border-bottom: 1px solid #d8d8d8;
      img {
        width: 100%;
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 8px;
        text-transform: uppercase;
      }
    }
    li:last-child {
      border-right: none;
    }
  }
  
  div {
    svg {
      display: none; //test
    }
  }
}

.sec7 {
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;

  .img-wrap {
    width: 100%;
    height: 700px;
    
    background-image: url(./images/Hauttestcover_1500x.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    transition:1s;
    
    &:hover{
      transform: scale(1.2);
    }
  }

  .text-wrap {
    position: absolute;
    top: 50%; left: 50%;
    color: #fff;      
    text-align: center;
    transform: translate(-50%,-50%);
      
      h3 {font-size: 13px; margin-bottom: 9px;}
      p {font-size: 22px; margin-bottom: 30px;}
      a {
        padding: 12px 18px;
        font-size: 13px;
        background-color: #fff;
        border-radius: 4px;
      }
    
  }
}

.sec8{
  border-bottom:1px solid #D8D8D8;

  .sec8_flex{
      display:flex;
      .sec8_img{
          width:50%;
          div{
              background-image: url(https://cdn.shopify.com/s/files/1/0598/9236/7580/files/TestimonialsCover_1500x.jpg?v=1645172820);
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center bottom;
              width:100%;height: 100%;
          }
      }
      .review{
          width:50% !important;
          .swiper-pagination-bullet{background: #9d9d9d;transform: translateY(-6.5px);width:6px;height:6px;}
          .swiper-pagination-bullet-active{background: #000;}
          .swiper-pagination{
              background: #f3f3f3;
              width: 72px!important;height:13px!important;
              bottom:30px!important;left: 50%!important;
              transform: translateX(-50%)!important;
              border-radius: 10px;
              margin-bottom: 15px;
          }
      }
      .swiper-slide{
          ul{
              max-width: 660px;
              
              width:100%;
              margin:0 auto;
              padding:10px 56px 10rem;
              
              li{text-align: center;margin: 0 auto;}
              .review_img_1{
                  text-align: center;
                  .img_1{
                      background-image: url(./images/Julia-1_88x88.jpeg);
                      background-repeat: no-repeat;
                      background-size: cover;
                      background-size: 48px 48px;
                      width:48px;height:48px;border-radius: 50px;
                      margin:0 auto 16px;
                  }
                  .img_2{
                      background-image: url(./images/Nick_Fancher_4363-s_6c9f00c3-6eac-4090-aa97-b8f66b08a0d3_88x88.jpeg);
                      background-repeat: no-repeat;
                      background-size: 48px 48px;
                      width:48px;height:48px;border-radius: 50px;
                      margin:0 auto 16px;
                  }
                  .img_3{
                      background-image: url(./images/Testimonial-Sabine_88x88.jpeg);
                      background-repeat: no-repeat;
                      background-size: 48px 48px;
                      width:48px;height:48px;border-radius: 50px;
                      margin:0 auto 16px;
                  }
                  .img_4{
                      background-image: url(./images/KArin-3_88x88.jpeg);
                      background-repeat: no-repeat;
                      background-size: 48px 48px;
                      width:48px;height:48px;border-radius: 50px;
                      margin:0 auto 16px;
                  }
                  p:nth-of-type(2){font-size: 13px;text-align: center;}
              }
              .review_text{
                  margin:24px auto;
                  font-size: 22px;
                  font-weight: 400;
              }
              .review_footer{
                  width:70%;
                  margin:64px auto;
                  margin-bottom: 0;
                  font-size: 13px;
                  p{
                      padding:8px 0; border-bottom: 1px solid #d8d8d8;
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      span{text-transform: uppercase;}
                  }
                  P:nth-of-type(3){border:none;}
              }
          }
      }
    }
  }

  footer {
  text-transform: uppercase;

  .newsletter {
    height: 145px;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #d8d8d8;
    h2 {text-transform: capitalize; margin-bottom: 14px;}
    p{font-size: 14px;}
  }

  .email-input {

    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 50px;
      height: 77px;
      border-bottom: 1px solid #d8d8d8;
      fieldset{
        border:none;
        width: 70vw;
        height: 77px;
        line-height: 77px;
      }
      input {
        width: 100%;
        padding-bottom: 27px;
        box-sizing: border-box;
        border: 1px solid red;
        font-size: 20px;
        border:none;
        outline: none;
      }
      input::placeholder {
        color: #d9d9d9;
        height: 77px;
        line-height: 77px;
      }

        button {
        background:none;
        border:none;
        outline:none;
        } 
        button:hover{
          opacity:0.5;
          transition: .5s;
        }
    }
    }

  .f-nav {
    border-bottom: 1px solid #d8d8d8;
    .logo{ 
      margin-top: 70px;
      margin-bottom: 60px;
      svg{
        width: 100%;
        margin: 0 auto;
      }
    }
    
    .wrap {
      padding: 0 310px 60px;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      li {
        margin-bottom: 16px;
        width: 150px;
        
        color: #b8b8b8;
        font-size: 13px;
        text-align: center;
        ul {
          margin-top: 16px;
        }
      }
    }
}

.f-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 49px;
  font-size: 10px;
  
  address {
    font-style: normal;
  }
}
  }
