#sub_container { width:960px; }

/* 장바구니 토글 */
.ec-base-fold { border-top:none; }
.xans-order-basketpackage .ec-base-fold { margin:14px 0 0; border-top:none; }
.xans-order-basketpackage .ec-base-fold.theme1 > .title { display:none; margin-bottom:0; }
.xans-order-basketpackage .ec-base-fold.theme1 > .contents { background:none; }
.xans-order-basketpackage .ec-base-fold.theme3 { margin-top:0; border-width:0 0 1px; }

/* 국내배송/해외배송 탭 */
.xans-order-basketpackage .ec-base-tab { display:none; margin:0 0; }

/* 상품정보 타이틀 */
.title { display:flex; justify-content:space-between; border:1px solid #ececec; border-left:0; border-right:0; }
.title div { height:50px; line-height:50px; text-align: center; }
.title .check { width:4%; }
.title .name { width:45%; }
.title .quantity { width: 20%; }
.title .price { width: 18%; }
.title .delv { width: 10%; }
.title .select { width:13%; }

.opction_change { display:block; }
.sale_price {display:none;}
.mileage {display:none;}

/* 상품정보 */
.xans-order-basketpackage { margin:7px 7px 0; padding:0 0 29px; }
.xans-order-basketpackage .xans-order-empty { padding:30px 0; color:#212530; font-size:1.2rem; text-align:center; }
.xans-order-basketpackage .title.subTitle { display:none; padding:0; }
.xans-order-basketpackage .title.subTitle:after { display:none; }
.xans-order-basketpackage .title.subTitle h3 { display:block; padding:0 0 0 0px; line-height:43px; font-size:1.3rem; border-bottom:1px solid #ececec; color:#000; background-color:#fff; }

/* 옵션변경 레이어 */
.ec-base-prdInfo .description .info li {margin:0 !important;}
.xans-order-basketpackage .ec-base-fold .ec-base-prdInfo { display: flex; justify-content: space-between; position:relavite; padding: 14px 0 6px; padding-bottom:0; border-bottom:1px solid #ececec; }
.xans-order-basketpackage .ec-base-fold .ec-base-prdInfo .option > li { position:relative; }
.xans-order-basketpackage .ec-base-fold .ec-base-prdInfo .option > li .name { display:block; padding:14px 100px 0 0; } /* flex �댁젣 */
.xans-order-basketpackage .ec-base-fold .ec-base-prdInfo .option > li .btnBasic { position:absolute; right:0; top:14px; }
.xans-order-basketpackage .ec-base-fold .ec-base-prdInfo .prdFoot { margin:0; padding:14px 0 7px; border-top:1px solid #ececec; font-weight:normal; color: #1b1b1b; background:#fff; }

.xans-order-basketpackage .ec-base-fold .ec-base-prdInfo .checkbox {position: relative; top: 10px; }

.xans-order-basketpackage .ec-base-fold .ec-base-prdInfo .prdBox { margin-left : 0; width: 85%; }
.xans-order-basketpackage .ec-base-fold .ec-base-prdInfo .ec-base-button { margin:0; }
.ec-base-prdInfo .description { display:flex; justify-content: space-between; }

.ec-base-prdInfo .description .prod_info { width: 40%; }
.ec-base-prdInfo .description .info { display:flex; justify-content: space-around; align-items: center; width:60%; }
.ec-base-prdInfo .description input[type="tel"] { position:relative; top: -17px; text-align:center !important;}

.ec-base-prdInfo .ec-base-button .gLeft { float: initial !important; margin-bottom: 3px; }
.ec-base-prdInfo .ec-base-button .btnStrong { width : 112px; }

.ec-base-prdInfo .prdBox .description .ec-base-qty { width:130px; }
.ec-base-prdInfo .prdBox .description .ec-base-qty .QuantityBtn { position:relative; width: 41px; height: 40px; border:1px solid #ececec; box-sizing: border-box; }
.ec-base-prdInfo .prdBox .description .ec-base-qty .QuantityBtn img { position:absolute; top:50%; left:50%; width:15px; height:15px; transform: translate(-50%,-50%); }
.ec-base-prdInfo .prdBox .description .ec-base-qty .qtyDown { margin-right: -3px; }
.ec-base-prdInfo .prdBox .description .ec-base-qty .qtyUp { margin-left: -4px; }
.ec-base-prdInfo .prdBox .description .ec-base-qty .btnBasic { margin-top: -10px; width:100%; }

/* 배송비/합계 금액 */
.xans-order-basketpackage .ec-base-fold.theme3 span.sale { font-size:1.3rem; }
.xans-order-basketpackage .ec-base-fold.theme3 span { font-size:1.2rem; }

/* 선택상품 제어버튼 */
.xans-order-selectorder.ec-base-button.typeMulti { padding:7px 14px; }

/* 결제금액 관련 */
.xans-order-basketpackage .totalSummary { margin:7px 0 0; display:flex; }
.xans-order-basketpackage .totalSummary  + .ec-base-fold.theme1 { margin-top:7px; }
.xans-order-basketpackage .totalSummary .ec-base-fold.theme2 { margin:0; border:0; }
.xans-order-basketpackage .ec-base-fold.theme2 > .contents .ec-base-table td { padding-right:34px; }
.xans-order-basketpackage .totalSummary .ec-base-fold > .contents .ec-base-table { border:1px solid #ececec; border-width:0 1px 1px; }
.xans-order-basketpackage .totalSummary .total { overflow:hidden; padding:14px 0 14px 14px; font-size:1.3rem; font-weight:bold; color:#fff; background-color:#000; }
.xans-order-basketpackage .totalSummary .paymentPrice { float:right; padding:0 36px 0 0; text-align:right; }
.xans-order-basketpackage .totalSummary .paymentPrice strong,
.xans-order-basketpackage .totalSummary .paymentPrice span { display:inline-block; word-break:break-all; }
.xans-order-basketpackage .totalSummary .title { overflow:hidden; padding:14px 34px 14px 14px; border:1px solid #ececec; border-top:0; background-color:#f0f0f0; }
.xans-order-basketpackage .totalSummary .title h3 { float:left; font-size:1.3rem; font-weight:normal; color:#000; }
.xans-order-basketpackage .totalSummary .title span { word-break:break-all; }
.xans-order-basketpackage .totalSummary .title p,
.xans-order-basketpackage .totalSummary .title.shipping > div { float:right; font-size:15px; color:#000; text-align:right; }
.xans-order-basketpackage .totalSummary .title p .refer,
.xans-order-basketpackage .totalSummary .title div .refer { display:inline-block; font-size:1.2rem; word-break:break-all; }
.xans-order-basketpackage .totalSummary .title:after { content:""; display:block; clear:both; }
.xans-order-basketpackage .totalSummary .title.shipping { overflow:visible; }
.xans-order-basketpackage .totalSummary .title .shippingArea { margin:7px 0 0; font-size:1.2rem; }
.xans-order-basketpackage .totalSummary .shippingFee .title { padding:0 20px 0 0; border:0; background:#fff; }
.xans-order-basketpackage .totalSummary p.info { float: none; padding: 8px 0 8px 33px; border-bottom: 1px solid #e8e5e4; color: #757575; line-height: 1.5; font-size: 12px; background: url(//img.echosting.cafe24.com/skin/base/common/ico_info.gif) no-repeat 9px 12px; }




#NaverChk_Button { clear:both; margin:10px 0 0; width:272px; float:right; }
#NaverChk_Button .npay_storebtn_bx { border:0px solid #000 !important;width:100% !important;}

@media screen and (max-width:480px){
    #NaverChk_Button { clear:both; margin:10px auto; width:290px !important; float:none !important; }
}