.titleArea { position: relative; background-color: #38271f;}
#mCafe24Order .ec-base-layer.typeWide .btnClose { position: absolute; top: 50%; right: 20px; transform: translateY(-50%);}

#mCafe24Order .ec-base-layer h1 { background: none;}