@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face { 

  font-family: Mermaid; 
  
  font-style: normal; 
  
  font-weight: 700; 
  
  src: url(../img/Mermaid1001.ttf) format("truetype")
  
}

@font-face { 

  font-family: Oriya MN; 
  
  font-style: normal; 
  
  font-weight: 700; 
  
  src: url(../img/Oriya-MN.ttf) format("truetype")
  
  }
    
  // font-family: Oriya MN;
  
  // font-family: Mermaid;
  // font-family: 'Outfit', sans-serif;

// 컬러 변수
$bgc-grey : #cecece;
$orange : #f76202;
$basic:#707070;


* {
  color:$basic;
  font-family: 'Outfit', sans-serif;
}

$notebook : "screen and (max-width:1024px)";
$tab : "(min-width:768px) and (max-width:1024px)";
$mo_h : "(min-width:480px) and (max-width:768px)";
$mo : "screen and (max-width:480px)";

@media (min-width:768px) and (max-width:1024px){
  #wrap {
    #about_me {
      
      > .slide {
        height: 530px !important;
        border: 1px solid #0f0;
        > .slide_container {

          > .slide_content {

            > .img_box {
              width: 500px !important;
              height: 500px;
              > img {

              } // img end
            } // img_box end

            > .text_box {
              width: 320px;

              .tit {
                
              } // tit end

              ul {
                width: 270px !important;
                > li {

                } // li end
              } // ul end
              > .interst {
                ul {
  
                 > li {
                  margin: 0 30px 20px;
                 } // li end
                } // ul end
              } // interst end

            } // text_box end
          } // .slide_content end
        }// .slide_container end

        .arrow {
          right: 5% !important;
        } // arrow end
  
        div.prev {
          right: 20% !important;     
        } // prev end
      } // slide end
    } // #about me

    #portfolio {
      height: 100%;
  
      .main { 
        .text_box{
          .preview {
            font-size: 60px !important;
          }
          
          .pc_only {
            display: none !important;
          }
          
            span.notebook_only {
              display: block;
              margin-bottom: 20px !important;
              display: block;
              color:$orange;
              text-align: center;
            }

        } // text box end
  
  
        .container {
          width: 60vh !important;
          height: calc(82vw) !important;

          margin-left: 100px !important;
          transform: rotate(-90deg) translate(170px,210px) !important;
          transform-origin: center calc(72vh) !important;

            .content {
              width: 350px !important;
              height: 350px !important;
  
              .frame {
                width: 350px !important;
                height: 200px !important;
              } // frame end
            } // box end
          } // container end  
      } // main end
  
      .main ~ article {
        margin: 150px auto 200px !important;
        height: 530px !important;
        
        &:last-child {
          margin-bottom: 100px !important;
        }
        .left {
          margin-left: 10px;
        } // left end
  
  
        .right {
          width: 600px !important;
  
          >  .frame {
            width: 500px !important;
            height: 500px !important;
          }
  
          > .span_bg {
            > span {
              color:$orange;
            }
          }
        }
      } // article end  
    } //portfolio end
  } // wrap end
} // notebook end

@media (min-width:480px) and (max-width:768px){

  #portfolio {
    display: none;
  }

  #wrap {
    > header {
      > .header_wrap {

        .left_container {
        }
  
        > .center_container {
          > h1 {
            font-size: 4rem;
          }
  
          > p {
            margin: 5px 0;
          }
        }  // center_container end
  
        > .right_container {
          padding: 15px 30px !important;  
        } // right_container end
      } // header_wrap end
  
      > .main_nav {
        > ul {
          > li {
            > a {
              height: 30px !important;
              line-height: 30px !important;
            }
          } // li end
        } // ul end
      } // nav end
  
      > .scroll_down_nav {
        position: fixed;
        z-index: 200;
        top: 0;
        left: 0;
        display: flex;
        flex-flow: column nowrap;
        
        width: 150px;
        height: 100vh;
        
        border-right: 1px solid $basic;
        background-color: #fff;
        display: none;
        > ul {
          
          > li{
            margin-top: 100px;
            margin-left: 30px;
            border-bottom: 1px solid #000;
  
            &.active {
              > a{ 
                color:$orange;
                font-weight: 600;
              }
            }
            > a {
  
            }
          }
        }
      } // scroll down nav end
    } // header end

    section {

    } // section

    #main {
      h2 {

      }
    } // #main end

    #about_me {
      
      > .slide {
        height: 530px !important;
        border: 1px solid #0f0;
        > .slide_container {

          > .slide_content {

            > .img_box {
              width: 500px !important;
              height: 500px;
              > img {

              } // img end
            } // img_box end

            > .text_box {
              width: 320px;

              .tit {
                
              } // tit end

              ul {
                width: 270px !important;
                > li {

                } // li end
              } // ul end
              > .interst {
                ul {
  
                 > li {
                  margin: 0 30px 20px;
                 } // li end
                } // ul end
              } // interst end

            } // text_box end
          } // .slide_content end
        }// .slide_container end

        .arrow {
          right: 5% !important;
        } // arrow end
  
        div.prev {
          right: 20% !important;     
        } // prev end
      } // slide end
    } // #about me

    #portfolio {
      height: 100%;
  
      .main {
        height: 530px !important;
  
        .text_box{
          .preview {
            font-size: 60px !important;
          }
          
          .pc_only {
            display: none !important;
          }
          
            span.notebook_only {
              display: block;
              margin-bottom: 20px !important;
              display: block;
              color:$orange;
              text-align: center;
            }

        } // text box end
  
  
        .container {
          width: 70vh !important;
          height: calc(82vw) !important;

            .content {
              width: 350px !important;
              height: 350px !important;
  
              .frame {
                width: 350px !important;
                height: 200px !important;
              } // frame end
            } // box end
          } // container end  
      } // main end
  
      .main ~ article {
        margin: 150px auto 200px !important;
        height: 530px !important;
        
        &:last-child {
          margin-bottom: 100px !important;
        }
        .left {
          margin-left: 10px;
          .head {
            .num {
              position: relative;
              top: 30px;
            }
          } // head end
        } // left end
  
  
        .right {
          width: 600px !important;
  
          >  .frame {
            width: 500px !important;
            height: 500px !important;
          }
  
          > .span_bg {
            > span {
              color:$orange;
            }
          }
        }
      } // article end  
    } //portfolio end
  } // wrap end
} // tab end

// 모바일
@media (max-width: 480px){
  #wrap {
    padding: 10px !important;

  > header {
    > .header_wrap {
      .left_container {
        padding: 10px !important;
      }

      > .center_container {
        padding: 10px 10px 0 !important;
        > h1 {
          font-size: 32px !important;
        }

        > p {
          margin: 10px 0 !important;
          font-size: 12px !important;
        }
      }  // center_container end

      > .right_container {
        padding: 10px 10px !important;
        
        > .clock {
          margin-top: 10px;
        } // clock end
      } // right_container end
    } // header_wrap end

    > .main_nav {
      > ul {
          a {
            height: 25px;
            color:$basic;
            line-height: 25px !important;
          }
      } // ul end
    } // main_nav end
  } // header end

  section {
    margin-left: 0 !important;
  } // section end

  #main {
    height: calc(100vh) !important;
    h2 {
      font-size: 26px !important;
      > span {
        display: block;
      }
    }
  } // main end

  #about_me {
    > .slide {
      height: calc(100vh - 40px) !important;
      > .slide_container {

        > .slide_content {
          flex-direction: column;
          justify-content: flex-start !important;


          > .img_box {
            padding: 0 !important;
            width: 350px !important;
            height: 270px;
            > img {

            }
          } // img_box end

          > .text_box {
            padding: 0 !important;
            width: 350px !important;
            
            ul {
              width: 320px !important;
              padding-right: 0 !important;
              margin-left: 10px !important;
            }

            > .porfile {
              margin-bottom: 20px !important;
            }
            > .interst {
              ul {
                margin-left: 0 !important;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                justify-content: space-around !important;
                width: 350px !important;

               > li {
                margin: 0 5px !important;
                width: 40px !important;
                height: 40px !important;
                background-size: 40px !important;
               }  
              }
            } // interst end

            > .skills {
              margin-bottom: 20px !important;
              > ul {
                margin: 0 auto;
                width: 350px !important;
                margin-left: 0 !important;
                justify-content: space-evenly !important;
                
                > li {
                  margin: 5px 20px !important;
                  width: 40px !important;
                  height: 40px !important;
                  background-size: 40px !important;
                }
              }
            } // skills end

            > .licens {
              > ul {
                > li {
                  display: flex;

                  > .y {
                    margin-right: 50px;
                    font-weight: 600;
                  }
                }
              }
            }

          }
        } // slide content
      } // slide_container

      .arrow {
        bottom: 40px !important;
        right: 50% !important;       
      } // arrow end

      div.next {
        transform: translateX(120px);
      } // prev end
    } // slide end
  } // about_me end


  #portfolio {

    .main {
      margin-bottom: 0 !important;

      .text_box{
        flex-direction: column !important;
        .preview {
          font-size: 60px !important;
        }
        
          span.pc_only {
            display: none !important;
          }

          .notebook_only {
            position: absolute;
            top: 65px;
            display: block !important;
            color: $orange;
          }
      } // text box end


      .container {
        width: 60vh !important;
        height: calc(94vw) !important;
        margin-left: 0 !important;

        transform: rotate(-90deg) translate(140px,233px) !important;
        transform-origin: center calc(65vh) !important;

          .content {
            width: 250px !important;
            height: 250px !important;
            .frame {
              width: 100% !important;
              img {
              } // img box
            } // frame end
          } // box end
        } // container end  
    } // main end

    .main ~ article {
      flex-direction: column;
      margin: 0 auto 80px !important;
      .mo_head {
        order: 100;
        display: flex !important;
        justify-content: flex-end;
        align-items: baseline;
        position: relative;
        
        > .tit {
          margin-top: initial !important;
          > .main_tit {
            font-size: 2rem;
          }

          > .sub_tit {
            text-align: right;
          }
        } // tit end
      }

      .left {
        order: 300;
        margin-top: -150px !important;
        margin-right: initial !important;
        width: initial !important;

        .head {
          display: none !important;
          .num {
          }

          > .tit {
            > .main_tit {
            }

            > .sub_tit {
            }
          } // tit end
        } // head end

        .text_box {
          margin-top: initial !important;
          margin-left: initial !important;
          > ul {
            &:nth-of-type(1) {
              > ol {
                > li {
                }
              }
            }
            > li {
            }

            > ol {
              > li {
              }
            }
          }
          
        } // text box end
      } // left end


      .right {
        width: initial !important;
        order: 200;
        >  .frame {
          width: 22rem !important;
          height: 400px !important;
          > a {
           > img {
            }
          }
        }

        > .span_bg {
          line-height: 30px;
          > span {
            color:$orange;
            font-size: 1rem !important;
          }
        }
      }
    } // article end  
  } //portfolio end


} // wrap end


  

} //mo end





























#wrap {
padding:30px;

  > header {

    > .header_wrap {
      display: flex;
      justify-content: space-between;
      
      padding: 5px 0;

      color:$basic;
      font-family: 'Outfit', sans-serif;
      
      border-top: 1px solid $basic;
      border-bottom: 1px solid $basic;
      .left_container {
        padding: 30px;
        width: 20%;
        border-right: 1px solid #000;
        box-sizing: border-box;
      }

      > .center_container {
        padding: 0 30px;
        width: 60%;
        text-align: center;
        text-transform: uppercase;
        box-sizing: border-box;
        > h1 {
          font-size: 5rem;
        }

        > .line {
          display: block;
          width: 100%;
          height: 2px;
          border-top: 1px solid $basic;
          border-bottom: 1px solid $basic;
        }

        > p {
          margin: 10px 0 20px;
          width: 100%;
          font-size: 1.1rem;
          font-weight: 200;
        }
      }  // center_container end

      > .right_container {
        padding: 30px;
        width: 20%;
        border-left: 1px solid #000;
        box-sizing: border-box;

        > .date_wrap {
          > .first_line {
            margin-bottom: 3px;
            > .day {
              font-size: 20px;
            }
          }

          > .second_line {
            display: flex;
            margin-bottom: 3px;
            > .date {
              margin-right: 10px;
            }

            > .month {

            }
          } // second_line

          > .third_line {
            > .year {

            }
          } // third_line end
        } // date end

        > .clock {
          margin-top: 20px;
        } // clock end
      } // right_container end
    } // header_wrap end

    > .main_nav {
      > ul {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        border-bottom: 1px solid $basic;
        > li {
          text-align: center;
          width: calc(100%/4);
          border-right: 1px solid $basic;

          &:last-child {
            border: none;
          }
          > a {
            height: 40px;
            line-height: 40px;
          }
        } // li end
      } // ul end
    } // nav end

    > .scroll_down_nav {
      position: fixed;
      z-index: 200;
      top: 0;
      left: 0;
      display: flex;
      flex-flow: column nowrap;
      
      width: 150px;
      height: 100vh;
      
      border-right: 1px solid $basic;
      background-color: #fff;
      display: none;
      > ul {
        
        > li{
          margin-top: 100px;
          margin-left: 30px;
          border-bottom: 1px solid #000;

          &.active {
            > a{ 
              color:$orange;
              font-weight: 600;
            }
          }
          > a {

          }
        }
      }
    } // scroll down nav end
  } // header end

  section {
    
    margin-left: 120px;
    // height: 100vh;
    >.header {
      position: sticky;
      z-index: 100;
      top: 0;

      background-color: #fff;

      > h2 {
        padding-top: 10px;
        text-align: right;
        width: 100%;
        font-family: 'Mermaid';
      }
      
      > .line {
        display: block;
        margin-bottom: 10px;
        
        width: calc(100% - 150px);
        width: 100%;
        height: 3px;
        border-top: 1px solid $basic;
        border-bottom: 1px solid $basic;
      } 
    }
    } // section end

  #main {
    height: 100vh;
    position: relative;
    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: $basic;
      font-family: 'Mermaid';
      font-size: 5rem;     
      text-align: center; 
    }
  } // main end

  #about_me {

    > .slide {
      width: 100%;
      height: 600px;
      position: relative;
      overflow: hidden;
      > .slide_container {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;

        width: 300%;
        height: 600px;

        > .slide_content {
          display: flex;
          justify-content: center;
          width: 100%;
          // border: 1px solid #0f0;
          > .img_box {
            padding: 10px;
            width: 60%;
            width: 600px;
            border: 1px solid #f00;
            > img {
              width: 100%;
              height: 100%;
            }
          } // img_box end

          > .text_box {
            padding: 10px;
            margin-top: 10px;
            width: 40%;
            width: 400px;
            // border: 1px solid #00f;

            .tit{
              margin-bottom: 10px;
              color:$orange;
              font-size: 1.2rem;
              font-weight: 600;
              text-transform: uppercase;
            }
            
            ul {
              width: 350px;
              padding-right: 20px;
              margin-left: 20px;
              > li {

              }
            }

            > .porfile {
              margin-bottom: 50px;
              > ul {
                > li {
                  display: flex;

                  > .f {
                    margin-right: 50px;
                    font-weight: 600;
                  }

                }
              }
            }
            > .interst {
              ul {
                margin-left: 20px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 350px;

               > li {
                margin: 0 30px 30px;
                width: 50px;
                height: 50px;
                text-indent: -99999px;
                background-repeat: no-repeat;
                background-size: 50px 50px;
                background-position: center center;

                 &:nth-of-type(1) {background-image: url(./img/interst/travel.png);}
                 &:nth-of-type(2) {background-image: url(./img/interst/car.png);}
                 &:nth-of-type(3) {background-image: url(./img/interst/camera.png);}
                 &:nth-of-type(4) {background-image: url(./img/interst/listening.png);}
                 &:nth-of-type(5) {background-image: url(./img/interst/movies.png);}
                 &:nth-of-type(6) {background-image: url(./img/interst/open-book.png);}
                 
               }  
              }
            } // interst end

            > .skills {
              margin-bottom: 50px;
              > ul {
                width: 350px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                
                > li {
                  margin: 15px;
                  width: 50px;
                  height: 50px;
                  
                  background-repeat: no-repeat;
                  background-size: 45px 45px;
                  background-position: center center;
                  text-indent: -99999px;

                  &:nth-of-type(1) {background-image: url(./img/skill/html-5.png);}
                  &:nth-of-type(2) {background-image: url(./img/skill/css.png);}
                  &:nth-of-type(3) {background-image: url(./img/skill/js.png);}
                  &:nth-of-type(4) {background-image: url(./img/skill/jquery.png);}
                  &:nth-of-type(5) {background-image: url(./img/skill/emmet-logo.png);}
                  &:nth-of-type(6) {background-image: url(./img/skill/Sass_Logo.png);}
                  &:nth-of-type(7) {background-image: url(./img/skill/photoshop.png);}
                  &:nth-of-type(8) {background-image: url(./img/skill/illustrator.png);}
                  
                }
              }
            } // skills end

            > .licens {
              > ul {
                > li {
                  display: flex;

                  > .y {
                    margin-right: 50px;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        } // slide_content end
      } // slide_container end


      .arrow {
        position: absolute;
        bottom: 20px;
        right: 10%;

        width: 100px;
        height: 20px;
        border-bottom: 1px solid $orange;
         span {
          // display: block;
          position: absolute;
          top: -3px;
          color:$orange;
          font-size: 1rem;
          font-family: 'Mermaid';
          transition: .2s;
        }
        
      } // arrow end

      div.prev {
        right: 25%;
        span {
          right: 0;
        }
        &:hover{
          span {
            right: 70px;
          }
        }        
      }

      div.next {
       span {
          left: 0;
        }
        &:hover{
          span {
            left:70px;
          }
        }
      }

    } // slide end
  } // about_me end

  #skill {

  } // skill end

  #portfolio {
    height: 100%;

    .main {
      height: 90vh;
      margin-bottom: 150px;
      overflow: hidden;
      position: relative;

      // border: 1px solid #0f0;

      .text_box{
        position: absolute;
        top: 0;
        left: 30px;
        display: flex;
        align-items: flex-end;
        .preview {
          font-size: 80px;
          font-weight: 800;
          font-family: 'Oriya MN';
          font-family: 'Mermaid';
          text-align: center;
        }
        
          span.pc_only {
            display: block;
            margin-bottom: 30px;
            color:$orange;
            text-align: center;
          }

          .notebook_only {
            display: none;
          }
      } // text box end


      .container {
        width: 75vh;
        // width: 600px;
        height: calc(87vw);
        
        margin-left: 33px;
        transform: rotate(-90deg) translate(150px,237px);
        transform-origin: center calc(70vh);
        
        overflow: scroll;
        -ms-overflow-style: none;

        // border: 1px solid #f00;

        &::-webkit-scrollbar { 
          width: 0 !important;
          display: none; 
        }
          .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin: 1em auto;
            padding: 2em;
            width: 500px;
            height: 500px;

            transform: rotate(90deg);

            border: 1px solid #333;
            box-shadow: 3px 3px 6px rgba(#333, .3);

            text-align: center;

            background-color: #fff;

            .frame {
              width: 500px;
              height: 300px;
              border: 1px solid #000;
              overflow: hidden;
              img {
                width: 100%;
              } // img box
            } // frame end
          } // box end
        } // container end  
    } // main end

    .main ~ article {
      margin: 50px auto 200px;
      display: flex;
      justify-content: center;

      .mo_head {
        display: none;
      }
      .left {
        width: 400px;
        margin-right: 30px;
        margin-top: -120px;
        .head {
          display: flex;
          align-items: baseline;
          position: relative;
          .num {
            // position: absolute;
            position: relative;
            top: 30px;
            // top: -50px;left: 0;
            color:$orange;
            font-family: 'Mermaid';
            font-family: 'Oriya MN';
            font-weight: 800;
            font-size: 10rem;
          }

          > .tit {
            margin-top: 40px;
            // margin-left: 80px;
            > .main_tit {

              font-size: 2.5rem;
              font-family: 'Oriya MN';
              font-weight: 800;
            }

            > .sub_tit {

            }
          } // tit end
        } // head end

        .text_box {
          margin-top: 10px;
          margin-left: 30px;
          > ul {
            &:nth-of-type(1) {
              > ol { 
                display: flex;

                > li {
                  margin-right: 3px;
                }
              }
            }
            > li {
              position: relative;
              margin-bottom: 5px;
              font-size: 16px;
              font-weight: 600;

              &::after{
                content: '';
                position: absolute;
                bottom: 4px;
                left: 60px;
                display: block;
                width: 150px;   
                border-bottom: 1px solid $basic;
              }
            }

            > ol {
              > li {
                margin-left: 10px;
                margin-bottom: 5px;
                
              }
              margin-bottom:20px;
            }
          }
          
        } // text box end
      } // left end


      .right {
        width: 800px;
        height: 600px;
        position: relative;

        >  .frame {
          width: 800px;
          height: 600px;
          border: 1px solid #000;
          overflow-y: scroll;

          position: relative;
          > a {
           > img {
              width: 100%;
            }
          }
        }

        > .span_bg {
          position: absolute;
          width: 100%;
          height: 30px;
          
          > span {
            display: block;
            width: 100%;
            text-align: center;

            font-size: 1.2rem;
            transition: .2s;
          }
        }
      }
    } // article end  
  } //portfolio end

  #contact {

  } // contact


  aside {
    display: none;
    position: sticky;
    z-index: 200;
    bottom: 50px;
    
    // width: 100%;
    width: 100px;
    height: 50px;
    
    > span {
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      width: 50px;
      height: 50px;
      // border: 1px solid #000;
      background-color: $basic;
      width: 1px;
      height: 50px;
      transition: .5s;
      &::before{
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        
        border-width: 0;
        border-style: solid;
        border-color: $basic;
        border-top-width: 1px;
        border-right-width: 1px;   
        transform: rotate(315deg) translate(-7px,-4px);
        transition: .5s;
      }
    }

    &:hover {
      span {
        background-color: $orange;

        &::before{
          border-color: $orange;
        }
      }
    }
  }

 
  
} // wrap end
footer {
  position: relative;
  z-index: 100;
  bottom: 0;

  width: 100%;
  height: 50px;
  height: 10vh;
  outline: 1px solid #f00;
  background-color: #fff;
}