/* 포토리뷰 */
.review_content {position: relative; display:flex; flex-flow:row nowrap; padding:30px 0px;}
.review_content .main_wrap {padding-right: 20px; width:80%}
.review_content .main_wrap .summary {position: relative;}
/*.review_content .main_wrap .summary span {display:block;}*/
.review_content .main_wrap .summary .new_icon {margin-bottom: 10px;}
.review_content .main_wrap .summary .point {}
.review_content .main_wrap .summary .date {position: absolute;top: 0;right: 0;}
.review_content .main_wrap .summary .hit {}
.review_content .main_wrap .summary .vote {}

.review_content .main_wrap {display:flex;}

.review_content .main_wrap .imgLink { display:block; width:120px; height:120px; overflow:hidden; border-radius:5px;}
.review_content .main_wrap .imgLink .review_img {width:100%; height:100%; object-fit:cover;}


.review_content .main_wrap .content_wrap {width:100%; padding: 0 0 0 20px;}

.review_content .main_wrap .tablet_name {display:none;}
.review_content .main_wrap .tablet_img {display:none;}
.review_content .main_wrap .description {}

.review_content .main_wrap .description .subject {display:block; margin:20px 0; color:#222; font-size:1.5rem; font-weight:500;}

.review_content .main_wrap .view {}
.review_content .main_wrap .view .view-fr {color:#222; font-size:1.3rem;}
.review_content .main_wrap .view .view-fr span {display:none;}

.review_content .main_wrap .view .more_review {font-size:1.2em;}
.review_content .main_wrap .view .more_review.active {display:none;}

.review_content .main_wrap .view .close_review {display:none; width:100%; text-align:left;}
.review_content .main_wrap .view .close_review.active {display:block; font-size:1.2em;}

.xans-product-review .contentView .view .fr-view {display:none;}

.xans-product-review .contentView .ec-base-button {display:none;}
.xans-product-review .contentView .view {padding:10px;}


.review_content .user_name {padding: 0 20px; width:20%; border-left:1px solid #d5d5d5; box-sizing: border-box;}
.review_content .user_name .summary {}
.review_content .user_name .summary .name {width:100%; font-size:1.2rem;}

.xans-product-additional .memoCont .info {display:flex; margin-bottom:10px;}
.xans-product-additional .memoCont .info input {margin-left:20px;}

.xans-product-additional .memoCont .comment {margin-bottom:10px;}
.xans-product-additional .memoCont .comment #comment {margin-left:20px; width: 93%;}
.xans-product-additional .memoCont .submit a {width:150px;}

.xans-record- .main_wrap .view .fr-view-article {color: #222; font-size: 1.3rem; height:3.9rem; overflow:hidden; }
.xans-record- .main_wrap .view .fr-view-article.active {height:100%;}
/*.xans-record- .main_wrap .view .fr-view-article span {display:none;}*/

.xans-record- .main_wrap .view .fr-view-article p span {font-size: 1.3rem !important;}

.review_content .summary .name strong.naver {color:#13a32b;}
.review_content .user_name .summary .name strong.naver {color:#13a32b;}

@media screen and (max-width: 1024px){
    .review_content { padding: 20px 10px !important; }
.xans-product-additional .memoCont .info input {
    width: initial !important;
    border: 1px solid #ececec !important;
    }
    
    .xans-product-additional .memoCont .comment #comment {border: 1px solid #ececec !important;}
}
@media(max-width:768px){
    .review_content .main_wrap .summary span {margin-top:10px; font-size:1.2rem;}
    .review_content {flex-flow:column nowrap;}
    
    .review_content .main_wrap {width:100%;}
    
    .review_content .main_wrap .img_wrap {display:none;}
    .review_content .main_wrap .tablet_img {display:block; margin-top:20px;}
    .review_content .main_wrap .content_wrap {padding:initial;}
    .review_content .main_wrap .imgLink .review_img {width:120px; height:120px; object-fit: cover;}
    .review_content .main_wrap .imgLink .product_img { display:none; position: absolute; width: 120px; height: 120px; top: 0px; left: 0px; padding: 0; object-fit: cover;}
    .review_content .main_wrap .imgLink .product_img img {width:100%; height:100%; object-fit:cover;}

    .review_content .user_name {display:none;}
    .review_content .main_wrap .tablet_name {display:block; margin-top:10px;}
    
    .xans-product-review .contentView {padding:initial;}
    
    .review_content .main_wrap .view .more_review {display:block; width:100%; text-align:right;}
    .review_content .main_wrap .view .close_review { width:100%; text-align:right;}
}