.infoArea {

    &.scroll {
        position:fixed;
        z-index:999;
        bottom:0; left:0;
        width:100%;
        background-color:#fff;
        border:2px solid #f00;

        &.ec-base-button{display:flex !important;}
        
        &.info_wrap { max-width:960px; margin:0 auto;
            &.main_wrap {display:flex; justify-content: space-between;}
        }

        &.headingArea {display:flex;}

        &.imgArea {img {width : 80px; height : 80px;}}

        justify-content: space-between;
    }
}
