body {
    margin: 0;
    padding: 0;
}

#aside {
    width: 20vw;
    max-width: 410px;
    height: 100vh;
    background-color: #fff;
    z-index: 2;
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid #000;
}

#aside .aside_cont {
    padding: 40% 10% 20% 10%;
}

#aside .aside_cont div {
    color: #000;
    font-size: 19.8px;
    height: 2.2rem;
    margin-bottom: 1.5rem;
}

#aside .aside_cont .tit {
    font-weight: 900;
}

/* 닫기 */
#aside .aside_close {
    font-size: 2.6rem;
    position: absolute;
    left: 13vw;
    display: inline;
    top: 4vh;
}

/* 하위 메뉴 */
#aside .aside_cont .dep_1 {
    margin-bottom: 4rem;
}

#aside .aside_cont .dep_1 a {
    font-size: 14.4px;
    color: #7f7f7f;
    text-decoration: none;
}

/* 카테고리 */
#aside .aside_cont #category {
    height: 19rem;
    margin-bottom: 4rem;
}

#category .position ul li {
    display: block;
    height: 14.4px;
    margin-bottom: 14.4px;
}

#category .position ul li a {
    font-size: 14.4px;
    color: #7f7f7f;
    text-decoration: none;
    line-height: normal;
}

#category .position ul li a:hover,
#aside .aside_cont .comm ul li a:hover,
#aside .aside_cont .dep_1 a:hover {
    text-decoration: underline;
}

/* 커뮤니티 */
#aside .aside_cont .comm {
    height: 25rem;
}

#aside .aside_cont .comm ul li {
    display: block;
    height: 14.4px;
    margin-bottom: 14.4px;
}

#aside .aside_cont .comm ul li a {
    font-size: 14.4px;
    color: #7f7f7f;
    text-decoration: none;
    line-height: normal;
}

/* 로그인, 회원가입 */
.btn {
    position: absolute;
    width: 80%;
    bottom: 15%;
}

.aside_btn {
    width: 90%;
    height: 5rem !important;
    line-height: 5rem;
    margin: 0 auto;
    text-align: center;
    font-size: 14.4px !important;
    border: 1px solid #707070;
    margin-bottom: 2rem !important;
}

/* 검색창 닫기 */
.search_form {
    display: none;
}

@media screen and (max-width:1024px) {
    #aside {
        left: -85vw;
        overflow: auto;
    }

    #aside .aside_cont {
        padding: 15% 10% 20% 10%;
    }

    .btn {
        width: 100%;
        position: relative;
        top: 4vh;
    }

    #aside .aside_btn {
        font-size: 1.4rem !important;
        width: 100% !important;
        height: 4rem !important;
        line-height: 4rem !important;
        float: left;
        margin-right: 2rem;
    }

    #aside .aside_cont #category {
        height: 14rem !important;
        margin-bottom: 3.5rem !important;
        margin-top: -1rem !important;
    }

    #header.scroll #aside .aside_cont #category {
        margin-top: -2rem !important;
        padding-bottom: 1rem;
    }
}

@media(min-width:700px) {
    .br_none {
        display: none !important;
    }
}

@media(max-width:700px) {
    .bottom_left #logo {
        display: none;
    }

    .br_none {
        display: block !important;
    }

    .xans-board-list-8 .summary {
        padding-top: 26px !important;
    }

    .xans-board-list-8 .summary .subject {
        font-size: 12px !important;
    }

    .subject .top-sb {
        font-size: 17px !important;
        padding-bottom: 6px !important;
        display: inline-block !important;
        margin-top: -8px !important;
    }
}

@media(max-width:366px) {
    .xans-product-detail .headingArea {
        /* top: 42% !important; */
        top: 95vw !important;
    }
}