#prdDetail .cont {text-align:center;padding-top:100px;}
#prdDetail h3 {display:none;}
#prdDetail img { max-width:100% !important; height:auto !important; }


.xans-product-additional .ec-detail-tab { position:relative;padding-top:60px; }
.xans-product-additional .ec-detail-tab .menu {margin:0 auto;font-size:0;line-height:0;text-align:center;border-bottom:1px solid #aaa;height:37px;min-width:300px;}
.xans-product-additional .ec-detail-tab .menu li {display:inline-block;font-size:1.45rem;letter-spacing:0px;line-height:36px;border:1px solid #ddd;background:#f9f9f9;border-left:0;border-bottom:1px solid #aaa;  cursor:pointer;
    width:22%;box-sizing:border-box;max-width:200px;
    transition-property: background-color;
    transition-duration:0.5s;
    transition-timing-function: ease;
}
.xans-product-additional .ec-detail-tab .menu li a {display:block;padding:0 0px;color:#777;}
.xans-product-additional .ec-detail-tab .menu li span {display:inline-block;width:18px;line-height:18px;font-size:1.0rem;text-align:center;border-radius:9px;background:#555;color:#fff;}
.xans-product-additional .ec-detail-tab .menu li:first-child {border-left:1px solid #ddd;}
.xans-product-additional .ec-detail-tab .menu li.selected {background: #fff;border:1px solid #333;font-weight:400;border-bottom:1px solid #fff;font-size:1.45rem; }
.xans-product-additional .ec-detail-tab .menu li.selected a {color:#333;}
.xans-product-additional .ec-detail-tab .menu li.selected:hover {background: #fff;}

@media screen and (max-width: 480px) {
    .xans-product-additional .ec-detail-tab .menu li {font-size:1.2rem;width:25%;}
    .xans-product-additional .ec-detail-tab .menu li.selected {font-size:1.2rem;}
}




.xans-product-additional .relation {margin-top:50px;}
.xans-product-additional .relation h3 {display:none;}

.xans-product-additional .cont { padding:27px 0px 46px 0px; color:#353535; line-height:1.6em; word-break:keep-all;}
.xans-product-additional .cont h3 { margin:0 0 20px;  }

#prdInfo .cont {font-size:1.45rem;line-height:1.6em;font-weight:300;}
#prdInfo .cont h3 {margin-bottom:20px;font-size:1.45rem;line-height:1.6em;font-weight:700;}

/* 상품 게시판 */
.xans-product-additional div.board { padding:60px 0 80px; color:#353535; line-height:1.4em; }
.xans-product-additional div.board h3 { padding:0 0px 0px 0px; font-size:2.6rem;font-weight:700;margin:0 auto 60px;text-align:center; }
.xans-product-additional div.board p.desc { padding:0 0px 0 0px;font-size:1.3rem;font-weight:300;margin-bottom:20px;}
.xans-product-additional div.board p.nodata { margin:0px 0 0; border:1px solid #eee; font-weight:bold; color:#000; line-height:50px; text-align:center; font-size:1.4rem;}
.xans-product-additional div.board .gColumn {border:0px solid #000;width:100%;max-width:240px;padding:0;margin:20px auto 20px;}
.xans-product-additional div.board .gColumn a {margin:0;line-height:3em;font-size:1.3rem;}

.xans-product-additional div.board td .view { position:relative;padding:30px 0px 50px 0px; line-height:1.4em;font-size:1.3rem; text-align:left; }
.xans-product-additional div.board td .view img {max-width:100% !important;height:auto !important;}
.xans-product-additional div.board .typeBorder {border:0;padding:0;margin:10px 0;}
.xans-product-additional div.board .typeList th { font-size:1.3rem;padding:5px 0; display:none;}
.xans-product-additional div.board .typeList td { font-size:0.95em;font-weight:300; padding:15px 0;}
.xans-product-additional div.board .typeList td.txtInfo {font-size:1.2rem;color:#999;}
.xans-product-additional div.board .typeList td .txtWarn {font-size:1.2rem;font-weight:500;margin-left:2px;}
.xans-product-additional div.board .typeList td img {margin-right:2px;}
.xans-product-additional div.board .typeList td:first-child {font-size:1.2rem;}
.xans-product-additional div.board .typeBorder .btnNormal {padding:8px 20px;font-size:1.4rem;letter-spacing:1px;}
.xans-product-additional div.board .typeBorder .btnNormal:first-child {background:#000;border:1px solid #000;color:#fff;font-weight:500;}
.xans-product-additional div.board .typeBorder .btnNormal:hover:first-child {background:#fff;border:1px solid #000;color:#000;}
.xans-product-additional div.board .typeList td .btnNormal {position:absolute;right:20px;bottom:20px;}

@media screen and (max-width: 1024px) {
    .ec-base-table2 colgroup {display:none;}
    #prdReview .typeList td:nth-child(3) {width:60px;}
    #prdReview .typeList td:nth-child(4),
    #prdReview .typeList td:nth-child(5),
    #prdReview .typeList td:nth-child(6) {display:none;}
    
    #prdQnA .typeList td:nth-child(4) {width:60px;}
    #prdQnA .typeList td:nth-child(2),
    #prdQnA .typeList td:nth-child(5),
    #prdQnA .typeList td:nth-child(6) {display:none;}
    
    .xans-product-additional div.board td .view { position:relative;padding:20px 0px 40px 0px; line-height:1.4em;font-size:1.3rem; text-align:left; }
    .xans-product-additional div.board td .view img {max-width:100% !important;height:auto !important;}
}

#commentWriteForm_4,
#commentWriteForm_6 { padding:0 0px; }
#SecretForm_4,
#SecretForm_6 { background:#fbf9fa; }
#SecretForm_4 .view,
#SecretForm_6 .view { padding:8px 0 7px; }
#SecretForm_4 input,
#SecretForm_6 input { width:41px; height:24px; margin:0 0 0 6px; border:0; font-size:0; line-height:0; cursor:pointer; background:url("//img.echosting.cafe24.com/skin/base_ko_KR/board/btn_ico_submit.gif") no-repeat 0 0; }
#SecretForm_4 input#secure_password,
#SecretForm_6 input#secure_password { width:130px; height:18px; margin-left:11px; padding:2px 2px 2px 4px; border:1px solid #d9d9d9; font-size:1.2rem; line-height:14px; cursor:text; background:#fff; }
#product-review-read td,
#product-qna-read td { padding:0; }
#product-review-read td #SecretForm_4 .view { padding-left:79px; }
#product-qna-read td #SecretForm_6 .view { padding-left:213px; }

.xans-product-additional .boardComment { padding:0 0px; }
.xans-product-additional .boardComment li { position:relative; overflow:hidden; margin:10px 0 0 0; padding:12px 0 0; border-top:1px solid #e9e9e9; color:#353535; text-align:left; line-height:1.6em; }
.xans-product-additional .boardComment li:first-child { margin-top:0; }
.xans-product-additional .boardComment li .comment { margin:9px 0 0; padding:16px 0 15px 0px; border-top:1px solid #e9e9e9; font-size:1.3rem;line-height:1.4em; word-break:break-all; }
.xans-product-additional .boardComment li .name { margin:0 21px 0 0; }
.xans-product-additional .boardComment li .name input { width:13px; height:13px; margin:0 2px 0 0; vertical-align:-2px; *vertical-align:2px; }
.xans-product-additional .boardComment li .date { margin:0 10px 0 0; font-size:1.2rem; }
.xans-product-additional .boardComment li .grade { margin:0 10px 0 0; }
.xans-product-additional .boardComment li .button { position:absolute; right:0; top:6px; }

.xans-product-additional .memoCont { margin:20px 0px; padding:10px 20px 15px 20px; border:1px solid #e9e9e9; color:#353535; text-align:left; background:#fbfafa; }
.xans-product-additional .memoCont .user { overflow:hidden; padding:0 90px 0 0; }
.xans-product-additional .memoCont .user input[type=text],
.xans-product-additional .memoCont .user input[type=password] { width:135px; margin:0 10px 0 9px; }
.xans-product-additional .memoCont .user .secret { margin:0 20px 0 10px; }
.xans-product-additional .memoCont .user .secret label { margin:0; }
.xans-product-additional .memoCont .user textarea { float:left; width:100%; padding:2px 0; height:44px; text-indent:4px; *margin-right:10px; }
.xans-product-additional .memoCont .user a { float:right; margin:0 -90px 0 0; }
.xans-product-additional .memoCont .nameArea { display:block; margin:0 0 10px; }
.xans-product-additional .memoCont .nameArea .ec-base-help { margin-top:10px; }
.xans-product-additional .memoCont .rating { margin:12px 0 0; }
.xans-product-additional .memoCont .rating label { padding:0 10px 0 0; }
.xans-product-additional .memoCont .rating em { font-style:normal; }
.xans-product-additional .memoCont .text { margin:5px 0 0; font-size:1.1rem; }
.xans-product-additional .memoCont .text span { color:#008bcc; }
.xans-product-additional .memoCont .captcha { margin:8px 0 0; padding:10px 0 0; border-top:1px solid #e9e9e9; color:#757575; }
.xans-product-additional .memoCont .captcha img { vertical-align:middle; }
.xans-product-additional .memoCont .captcha input { margin:0 10px 0 20px; font-size:1.2rem; }

.xans-product-additional table.board td .view + form .memoCont { margin-top:0; }

/* 댓글의 댓글 */
.xans-product-additional .boardComment li.replyArea { margin:-1px 0 0; padding:10px 0 7px 33px; border:1px solid #e9e9e9; background:url("//img.echosting.cafe24.com/skin/admin_ko_KR/board/ico_comment.gif") no-repeat 20px 15px; }
.xans-product-additional .boardComment li.replyArea .commentSecret { margin-right:30px; }
.xans-product-additional .boardComment li.replyArea .comment { margin:7px 0 0; padding:0; border-top:0; }

/* 권한없을시 */
.xans-product-additional .noAccess { margin:15px 0 10px; border:1px solid #d7d5d5; font-weight:bold; color:#008bcc; line-height:39px; text-align:center; }

/* 미성년자 */
.xans-product-additional .minor { margin:15px 0 0; padding:35px 0 24px; border:1px solid #d7d5d5; font-weight:bold; color:#353535; line-height:14px; text-align:center; }
.xans-product-additional .minor p:first-child img { margin:-11px 8px 0 0; vertical-align:top; }
.xans-product-additional .minor strong { color:#008bcc; }
.xans-product-additional .minor .button { margin:-7px 0 0; }

/* 비밀글 관련 */
.xans-product-additional .commentSecret { margin:10px 10px 5px 0; padding:10px 15px; border:1px solid #e9e9e9; background-color:#fbfafa; color:#353535; }



