@charset "utf-8";

#wrap {

  > .slides {
    position: relative;
    margin: 0 auto;

    width: 960px;
    // border: 1px solid #000;
    > .screen {
      position: relative;

      margin: 0 auto;

      width: 620px;
      height: 460px;
      // border: 1px solid #f00;
      overflow: hidden;
      > .slides-container {
        position: absolute;
        top: 0;
        left: -240px;
        display: flex;
        flex-flow: row wrap;

        padding-top: 40px;
        width: calc(240px*5);
        // outline: 5px solid pink;
        > li {
          width: 240px;
          transition: all .25s;
          > a {
            display: block;

            > img {
              display: block;
              width: 100%;  
            }
          } // a

          &.on {
            position: relative;
            z-index: 100;
            margin-left: -50px;
            transform: scale(1.2);

            + li {
              margin-left: -50px;
            }
          } //on
        } //li
      } //slides-container
    } //screen

    > a{
      position: absolute;
      top: 50%;
      display: block;
      width: 38px;
      height: 72px;
      text-indent: -9999px;
      transform: translate(0,-50%);
      transition: all .25s;
      opacity: 0.4;

      &:hover {
        opacity: 1;
      }
      &.prev {
        left: 0;
        background-image: url(./../images/prev.png);
      }
      
      &.next {
        right: 0;
        background-image: url(./../images/next.png);
      }
    } // a
  } //slides
}