@import './../../styles/variables.scss';

.header_container {
  padding: 30px 0 20px;
  // height: 60px;
  // outline: 1px solid #f00;

  .header_content {
    position: relative;
    display: flex;
    justify-content: center;

    .date {
      position: absolute;
      left: 0; bottom: 20px;
      font-family: $assistant;
      font-weight: 600;

      outline: 1px solid #ddd;
    }
    .main_title{
      font-size: 60px;
      font-family: Chomsky;
      .red {
        color: $pointColor;
      }
    }
    .onoff {
      position: absolute;
      right: 0; bottom: 20px;

      ul {
        position: relative;
        border: 1px solid #000;
        border-radius: 50px;
        width: 26px; height: 12px;
        li {
          position: absolute;
          top: 0; left: 0;
          width: 12px; height: 12px;
          border-radius: 50%;
          background-color: #000;
          transition: all .2s;

          &.active {
            transform: translateX(14px);
            background-color: $pointColor;
          }
        }
      }
    }
  }

  .header_cate {
    position: relative;
    padding: 15px 0px;

    font-family: $outfit;

    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #000;
    &::after{
      content:"";
      width:100%;
      height:1px;
      background-color: #000;
      position: absolute;
      bottom:-5px;
      left: 0;
    }
    
    ul {
      display: flex;
      justify-content: space-around;

      li {
        
      }
    }
  }
}