// 컬러변수
$point : #d0021b;
$grey : #d3d3d3;
$sub_grey: #5a5a5a;

// 폰트변수
$assistant : 'Assistant', sans-serif;
$outfit : 'Outfit', sans-serif;
$nanum : 'Nanum Myeongjo', serif;

#career {
    margin-top: 30px;
    .career_wrap {
        .container {
            display: flex;
            padding: 30px 0;
            border-top: 1px solid #000;
        }

        .con1 {
            border-top: none;
            padding: 0 0 30px;
        }

        .main_content {
            width: 50%;
            padding-right: 10px;
            
            .tit {
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: 600;
                font-family: $nanum;

                opacity:0;
                transform: TranslateY(20px);
                transition: .5s;
                &.on{
                    opacity: 1;
                    transform: TranslateY(0);
                }
                &.active{color:$point;}
            
                span {
                    display: inline-block;
                    font-size: 14px;
                    color:$sub_grey;

                    opacity:0;
                    transform: TranslateY(20px);
                    transition: .5s;
                    transition-delay: .3s;
                    
                    &.date {
                        transition-delay: .6s;
                    }

                    &.on{
                        opacity: 1;
                        transform: TranslateY(0);
                    }
                }
            }
            p {
                opacity:0;
                transform: TranslateY(20px);
                transition: .5s;
                transition-delay: .9s;
                &.on{
                    opacity: 1;
                    transform: TranslateY(0);
                }
            }
        }

        .sub_content {
            width: 50%;
            padding-left: 10px;

            span {
                display: block;
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: 600;
                font-family: $nanum;
                &.active{color:$point;}

                opacity:0;
                transform: TranslateY(20px);
                transition: .5s;
                transition-delay: 1.2s;
                &.on {
                    opacity: 1;
                    transform: TranslateY(0);
                }
            }

            p {
                opacity:0;
                transform: TranslateY(20px);
                transition: .5s;
                transition-delay: 1.5s;
                &.on{
                    opacity: 1;
                    transform: TranslateY(0);
                }
            }
        }
    }
}  // career end

@media screen and (max-width:480px) {
    .container {
        flex-direction: column;
        padding: 30px 10px !important;
    }
    .con1 {padding: 0 10px 30px !important;}
    .content {width: 100% !important;}
    .main_content{padding-right: initial !important;margin-bottom: 20px;}
    .sub_content{padding-left: initial !important;}
}

@media screen and (min-width:480px) and (max-width:768px) {
    .container {padding: 30px 10px !important;}
    .con1 {padding: 0 10px 30px !important;}
}
