    // 컬러변수
    $point : #d0021b;
    $grey : #d3d3d3;
    $sub_grey: #5a5a5a;
    
    
    
    // 폰트변수
    $assistant : 'Assistant', sans-serif;
    $outfit : 'Outfit', sans-serif;
    $nanum : 'Nanum Myeongjo', serif;
    
    
    #career {
        margin-top: 30px;
        // border-top: 3px solid #000;
        .main {
            // height: 300px;
        }
    
        .career_wrap {
    
            .container {
                padding: 30px 0;
                border-top: 1px solid #000;
    
                &:nth-of-type(1) {
                    
                }
    
                &:nth-of-type(2) {
                    .left_container {
                        flex-direction: row-reverse;
    
                        .text_content {
                            padding-left: 0;
                            padding-right: 20px;
                        }
                    }
                }
            }
    
            .left_container {
                display: flex;
    
                .img_content {
                    width: 500px;
                    height: 300px;
                }
    
                .text_content {
                    padding-left: 20px;
                    width: 500px;
    
                    .tit {
                        margin-bottom: 10px;
                        font-size: 20px;
                        font-weight: 600;
                        font-family: $nanum;
                        &.active{color:$point;}
                    
                        span {
                            font-size: 14px;
                            color:$sub_grey;
                        }
    
                    }
    
    
                    p {
                        font-size: 14px;
                    }
                }
            }
    
            .right_container {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
    
                .text_content {
                    width: 490px;
    
                    span {
                        display: block;
                        margin-bottom: 10px;
                        font-size: 20px;
                        font-weight: 600;
                        font-family: $nanum;
                        &.active{color:$point;}
                    }
                    
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }  // career end