#contact .inner_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact .submit_container {
  margin: 50px 0;
  padding: 50px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 50%;
}

#contact .submit_container input {
  outline: none;
  padding: 2px 10px;
  border: 1px solid #d3d3d3;
  margin-bottom: 20px;
  width: 90%;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
}

#contact .submit_container input::-webkit-input-placeholder {
  color: #d3d3d3;
}

#contact .submit_container input:-ms-input-placeholder {
  color: #d3d3d3;
}

#contact .submit_container input::-ms-input-placeholder {
  color: #d3d3d3;
}

#contact .submit_container input::placeholder {
  color: #d3d3d3;
}

#contact .submit_container input.on {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#contact .submit_container input#email {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

#contact .submit_container textarea {
  width: 90%;
  border: 1px solid #d3d3d3;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

#contact .submit_container textarea::-webkit-input-placeholder {
  color: #d3d3d3;
}

#contact .submit_container textarea:-ms-input-placeholder {
  color: #d3d3d3;
}

#contact .submit_container textarea::-ms-input-placeholder {
  color: #d3d3d3;
}

#contact .submit_container textarea::placeholder {
  color: #d3d3d3;
}

#contact .submit_container textarea.on {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#contact .submit_container button {
  width: 100px;
  height: 30px;
  border-radius: 25px;
  background-color: #d3d3d3;
  border: none;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}

#contact .submit_container button:active, #contact .submit_container button:visited, #contact .submit_container button a:hover {
  color: #222;
}

#contact .submit_container button.active {
  color: #fff;
  background-color: #d0021b;
}

#contact .submit_container button.on {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#contact .submit_container::after {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #d3d3d3;
  content: '';
}

#contact .submit_container .thankyou_message {
  padding-top: 100px;
  width: 100%;
  height: 250px;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#contact .submit_container .thankyou_message.active {
  color: #d0021b;
}

#contact .contact_container {
  margin: 50px 0;
  padding: 50px 0;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .contact_container > ul > li {
  font-family: "Outfit", sans-serif;
  margin-bottom: 30px;
  text-align: center;
}

#contact .contact_container > ul > li:nth-of-type(1) a {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

#contact .contact_container > ul > li:nth-of-type(2) span {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

#contact .contact_container > ul > li:nth-of-type(2) a {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

#contact .contact_container > ul > li:nth-of-type(3) span {
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}

#contact .contact_container > ul > li:nth-of-type(3) a {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

#contact .contact_container > ul > li:nth-of-type(4) span {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

#contact .contact_container > ul > li:nth-of-type(4) a {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

#contact .contact_container > ul > li > span {
  font-weight: 600;
  display: block;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
}

#contact .contact_container > ul > li > span.active {
  color: #d0021b;
}

#contact .contact_container > ul > li > span.on {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#contact .contact_container > ul > li a {
  display: block;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
}

#contact .contact_container > ul > li a.on {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (max-width: 480px) {
  .inner_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .submit_container {
    margin: 0 !important;
    width: 100% !important;
  }
  .submit_container form {
    padding: 0 20px !important;
  }
  .submit_container input {
    width: 100% !important;
  }
  .submit_container textarea {
    width: 100% !important;
  }
  .submit_container::after {
    width: 100% !important;
    height: 1px !important;
    top: initial !important;
    bottom: 0;
    left: 0;
  }
  .contact_container {
    width: 100% !important;
    margin: 0 !important;
    padding: 50px 0 0 !important;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .submit_container {
    padding: 50px 0 0 30px !important;
  }
}
/*# sourceMappingURL=contact.css.map */