@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@font-face {
  font-family: Chomsky;
  font-style: normal;
  font-weight: 700;
  src: url(../font/Chomsky.otf) format("truetype");
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

a:visited, a:link, a:hover, a:active {
  color: #222;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  color: #222;
  font-size: 13px;
  line-height: 1.4;
  font-family: 'Noto Sans KR';
}

@media screen and (max-width: 480px) {
  .wrap {
    max-width: 768px !important;
  }
  #main .main_visual {
    height: 400px !important;
  }
  header .onoff ul {
    margin-top: 20px !important;
    left: initial !important;
    right: 20px !important;
  }
  header nav {
    margin-top: 20px !important;
    left: 20px !important;
    display: block !important;
  }
  header .header_wrap {
    padding: 0px 10px !important;
    position: relative;
  }
  header .header_wrap .date {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0px;
    padding: 0 20px;
    height: 25px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
  }
  header .header_wrap .date #current_date, header .header_wrap .date .weather {
    text-align: center;
  }
  header .header_wrap .date .clock_wrap {
    margin-left: 10px;
  }
  header .weather {
    display: none;
  }
  header .title {
    padding: 10px 0 0 0 !important;
  }
  header .title a {
    font-size: 23px !important;
  }
  header .header_cate {
    display: none;
  }
  main {
    padding-top: 30px;
  }
  #about_me {
    display: none;
  }
  #introduce {
    display: none;
  }
  #like {
    display: none;
  }
  #career {
    display: none;
  }
  #contact {
    display: none;
  }
  #portfolio {
    display: none;
  }
  #footer {
    display: none;
  }
  .fliming {
    display: none;
  }
  .movies {
    display: none;
  }
  .music {
    display: none;
  }
  .books {
    display: none;
  }
  #main {
    height: initial;
  }
  #main > .main_visual {
    height: 300px !important;
  }
  #about_me > .about_me_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about_me > .about_me_wrap > .text {
    width: 100% !important;
    height: 400px !important;
    padding: 0 10px;
    -webkit-box-ordinal-group: 201;
        -ms-flex-order: 200;
            order: 200;
    margin-top: 10px !important;
  }
  #about_me > .about_me_wrap > .text::after {
    display: none;
  }
  #about_me > .about_me_wrap > .text > ul > li {
    height: 400px !important;
  }
  #about_me > .about_me_wrap > .frame {
    width: 100% !important;
    height: 400px !important;
    -webkit-box-ordinal-group: 101;
        -ms-flex-order: 100;
            order: 100;
  }
  #about_me > .about_me_wrap > .frame > .frame_wrap {
    width: calc(100% * 4) !important;
  }
  #about_me > .about_me_wrap > .frame > .frame_wrap > li {
    width: 100% !important;
    margin-top: 50px !important;
  }
  #work > .work_wrap > .content_wrap {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  #work > .work_wrap > .content_wrap > .text_box {
    width: 100% !important;
  }
  #work > .work_wrap > .content_wrap > .text_box > .tit_box > .main_tit {
    margin-top: 20px;
  }
  #work > .work_wrap > .content_wrap > .text_box > .tit_box > .sub_tit {
    margin-bottom: 30px;
  }
  #work > .work_wrap > .content_wrap > .img_box {
    width: 100% !important;
    height: 400px !important;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  #about_me {
    display: none;
  }
  #like {
    display: none;
  }
  #career {
    display: none;
  }
  #contact {
    display: none;
  }
  #portfolio {
    display: none;
  }
  #footer {
    display: none;
  }
  .fliming {
    display: none;
  }
  .movies {
    display: none;
  }
  .music {
    display: none;
  }
  .books {
    display: none;
  }
  .top_menu .wrap {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 20px;
  }
  header .onoff ul {
    left: initial !important;
    right: 20px !important;
  }
  header nav {
    left: 20px !important;
    display: block !important;
  }
  header .header_wrap {
    padding: 20px 10px !important;
    position: relative;
  }
  header .header_wrap .date {
    position: absolute;
    top: 95px;
    left: 0;
    right: 0;
    height: 40px;
    margin-top: 3px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    padding: 4px 20px 0;
  }
  header .header_wrap .date #current_date, header .header_wrap .date .weather {
    text-align: center;
  }
  header .header_wrap .date .clock_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header_wrap .date .clock_wrap #clock {
    margin-right: 2px;
  }
  header .weather {
    display: none;
  }
  header .title {
    padding: 20px 0 0 0 !important;
  }
  header .title a {
    font-size: 45px !important;
  }
  header .header_cate {
    display: none;
  }
  .wrap {
    max-width: 768px !important;
  }
  main {
    padding-top: 50px;
  }
  #main {
    height: calc(100vh - 140px) !important;
  }
  #main .main_visual {
    height: 400px !important;
  }
  #introduce .main {
    height: 100px !important;
  }
  #introduce .greeting .main_wrap .side_wrap {
    -webkit-box-ordinal-group: 101;
        -ms-flex-order: 100;
            order: 100;
  }
  #introduce .greeting .main_wrap .center_wrap {
    -webkit-box-ordinal-group: 201;
        -ms-flex-order: 200;
            order: 200;
  }
  #about_me > .about_me_wrap > .text {
    width: 300px !important;
    padding: 0 10px;
  }
  #about_me > .about_me_wrap > .frame {
    width: 478px !important;
  }
  #work > .work_wrap > .content_wrap {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  #work > .work_wrap > .content_wrap > .text_box {
    width: 100% !important;
  }
  #work > .work_wrap > .content_wrap > .text_box > .tit_box > .main_tit {
    margin-top: 20px;
  }
  #work > .work_wrap > .content_wrap > .text_box > .tit_box > .sub_tit {
    margin-bottom: 30px;
  }
  #work > .work_wrap > .content_wrap > .img_box {
    width: 100% !important;
  }
}

.bg.active {
  position: fixed;
  z-index: -1;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.aside_menu {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
}

.aside_menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.aside_menu.aside_bg {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  width: 300px;
}

.aside_menu ul {
  margin-top: 80px;
  padding: 30px;
}

.aside_menu ul > li {
  margin-bottom: 10px;
}

.aside_menu ul > li:hover a::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.aside_menu ul > li.active ol {
  display: block;
}

.aside_menu ul > li > a {
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  font-family: "Assistant", sans-serif;
  position: relative;
}

.aside_menu ul > li > a::after {
  content: "+";
  position: absolute;
  top: 0;
  right: -20px;
  -webkit-transition: .2s;
  transition: .2s;
}

.aside_menu ul > li > a.active {
  color: #d0021b;
}

.aside_menu ul > li ol {
  display: none;
  margin-top: 5px;
  margin-left: 20px;
}

.aside_menu ul > li ol li {
  margin-bottom: 5px;
}

.aside_menu ul > li ol li a {
  font-size: 14px;
  font-family: 'Noto Sans KR';
}

.top_menu {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 30px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 4px #999;
          box-shadow: 1px 1px 4px #999;
}

.top_menu.active {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

.top_menu .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 1000px;
  height: 30px;
}

.top_menu .logo {
  width: 50px;
}

.top_menu .logo a {
  font-size: 24px;
  font-family: 'Chomsky';
}

.top_menu .logo a.active {
  color: #d0021b;
}

.top_menu .burger {
  width: 50px;
}

.top_menu .burger div {
  background-color: #000;
  width: 15px;
  height: 1.5px;
  margin: 3px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.top_menu nav {
  width: 100%;
  padding: 0 70px;
}

.top_menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_menu nav ul li a {
  font-size: 12px;
  font-family: "Outfit", sans-serif;
}

.top_menu .onoff {
  position: relative;
  z-index: 9;
  width: 50px;
  height: 30px;
  padding-left: 30px;
}

.top_menu .onoff ul {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid #000;
  border-radius: 50px;
  width: 26px;
  height: 12px;
  cursor: pointer;
}

.top_menu .onoff ul li {
  background-color: #000;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  -webkit-transition: .5s;
  transition: .5s;
}

.top_menu .onoff ul li.active {
  -webkit-transform: translateX(14px);
          transform: translateX(14px);
  background-color: #d0021b;
}

.wrap {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  position: relative;
}

header .onoff {
  position: relative;
  z-index: 9;
}

header .onoff ul {
  position: absolute;
  margin-top: 40px;
  right: 0;
  border: 1px solid #000;
  border-radius: 50px;
  width: 26px;
  height: 12px;
  cursor: pointer;
}

header .onoff ul li {
  background-color: #000;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  -webkit-transition: .5s;
  transition: .5s;
}

header .onoff ul li.active {
  -webkit-transform: translateX(14px);
          transform: translateX(14px);
  background-color: #d0021b;
}

header nav {
  position: absolute;
  left: 0;
  z-index: 100;
  margin-top: 40px;
}

header nav .burger div {
  background-color: #000;
  width: 15px;
  height: 1.5px;
  margin: 3px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .toggle .line1 {
  -webkit-transform: rotate(45deg) translate(0px, 6px);
          transform: rotate(45deg) translate(0px, 6px);
  background-color: #d0021b;
}

header .toggle .line2 {
  opacity: 0;
}

header .toggle .line3 {
  -webkit-transform: rotate(-45deg) translate(0px, -7px);
          transform: rotate(-45deg) translate(0px, -7px);
  background-color: #d0021b;
}

header .header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0 20px;
  height: 55px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .header_wrap #current_date, header .header_wrap .weather, header .header_wrap #clock, header .header_wrap #apm {
  font-family: 'Assistant', sans-serif;
  font-size: 13px;
  font-weight: 600;
}

header .weather .City {
  text-align: right;
  padding: 0 0 4px;
}

header .weather .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

header .weather .flex div {
  padding-left: 10px;
}

header .title {
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 50px 0 0 0;
  width: 100%;
  text-align: center;
}

header .title a {
  font-family: Chomsky;
  font-size: 60px;
  cursor: pointer;
}

header .title a .red.active {
  color: #d0021b;
}

header .header_cate {
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #000;
  position: relative;
  padding: 15px 0;
}

header .header_cate::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: -5px;
}

header .header_cate ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Outfit', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

header .header_cate ul li a {
  padding-right: 10px;
  cursor: pointer;
}

header .header_cate ul li a:hover {
  color: #d0021b;
}

header .header_cate ul li span {
  display: none;
  position: absolute;
  color: #777;
}

main #main {
  margin-bottom: 80px;
}

main #main > h2 {
  height: 100px;
  line-height: 100px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
  text-align: center;
}

main #main > h2.active {
  color: #d0021b;
}

main #main > .main_visual {
  width: 1000px;
  width: 100%;
  height: 500px;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main #main > .main_visual > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .container {
  margin: 50px 0;
}

main .tab span {
  display: block;
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: 800;
  font-family: "Nanum Myeongjo", serif;
}

main .first_line {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

main .first_line .text_wrap {
  width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .first_line .img_wrap {
  width: 550px;
}

main .first_line .img_wrap img {
  width: 100%;
  height: 100%;
}

main .second_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #000;
}

main .second_line .img_wrap {
  width: 400px;
}

main .second_line .img_wrap img {
  width: 100%;
  height: 100%;
}

main .second_line .text_wrap {
  width: 550px;
}

main .third_line {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .third_line .content {
  padding: 0 20px;
  width: calc(100% / 3);
  position: relative;
}

main .third_line .content::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #d3d3d3;
}

main .third_line .content:first-child {
  padding-left: 0;
}

main .third_line .content:last-child {
  padding-right: 0;
}

main .third_line .content:last-child::after {
  display: none;
}

main .third_line .content span {
  display: block;
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 800;
  font-family: "Nanum Myeongjo", serif;
  text-align: center;
}

#introduce .introduce_tab {
  border-top: 1px solid #000;
}

#introduce .introduce_tab:first-child {
  border-top: none;
}

#introduce .introduce_tab .title {
  font-weight: 800;
  font-family: "Assistant", sans-serif;
}

#introduce .introduce_tab .title.active {
  color: #d0021b;
}

#introduce .introduce_tab .main_wrap {
  padding: 30px 0;
}

#introduce .introduce_tab .sub_tit {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Nanum Myeongjo", serif;
  text-align: center;
}

#introduce .greeting .main_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#introduce .greeting .main_wrap p > span {
  display: inline-block;
  margin: 0 15px 5px 0;
}

#introduce .greeting .center_wrap {
  padding-right: 20px;
  width: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#introduce .greeting .center_wrap .img_wrap {
  margin-bottom: 10px;
  width: 500px;
  height: 200px;
}

#introduce .greeting .center_wrap .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#introduce .greeting .side_wrap {
  padding-right: 20px;
  width: 250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#introduce .greeting .side_wrap:last-child {
  padding-left: 20px;
}

#introduce .hashtag_story .main_wrap .first_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#introduce .hashtag_story .main_wrap .second_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#introduce .hashtag_story .main_wrap .box1 {
  margin-bottom: 50px;
  width: 590px;
}

#introduce .hashtag_story .main_wrap .box1 .img_wrap {
  margin-bottom: 10px;
  height: 300px;
}

#introduce .hashtag_story .main_wrap .box1 .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#introduce .hashtag_story .main_wrap .box2 {
  width: 390px;
}

#introduce .hashtag_story .main_wrap .box2 .img_wrap {
  margin-bottom: 10px;
  height: 200px;
}

#introduce .hashtag_story .main_wrap .box2 .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#introduce .message_motto .main_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
}

#introduce .message_motto .main_wrap span:nth-child(2) {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

#introduce .message_motto .message {
  width: 500px;
  padding-right: 10px;
  position: relative;
}

#introduce .message_motto .message::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #d3d3d3;
}

#introduce .message_motto .motto {
  width: 500px;
  padding-left: 10px;
}

#like .like_tab {
  margin-top: 50px;
  border-top: 1px solid #000;
  font-family: "Assistant", sans-serif;
}

#like .like_tab:nth-of-type(1) {
  margin-top: 20px;
  border-top: none;
}

#like .like_tab .title {
  font-size: 14px;
  font-weight: 800;
}

#like .like_tab .title.active {
  color: #d0021b;
}

#like .travel .sec1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px solid #d3d3d3;
}

#like .travel .sec1 .text_wrap {
  width: 400px;
  padding: 0 10px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#like .travel .sec1 .text_wrap span {
  margin-bottom: 10px;
  font-size: 30px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
}

#like .travel .sec1 .text_wrap span.active {
  color: #d0021b;
}

#like .travel .sec1 .img_wrap {
  width: 600px;
  height: 400px;
}

#like .travel .sec1 .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#like .travel .sec2 .tab_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  overflow: hidden;
  margin: 30px 0;
}

#like .travel .sec2 .tab_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 850px;
}

#like .travel .sec2 .tab_content > ul {
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#like .travel .sec2 .tab_content > ul::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #d3d3d3;
  width: 1px;
  height: 100%;
}

#like .travel .sec2 .tab_content .img_wrap {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 550px;
  height: 350px;
}

#like .travel .sec2 .tab_content .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#like .travel .sec2 .tab_menu {
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;
}

#like .travel .sec2 .tab_menu .tit {
  font-size: 20px;
  font-weight: 600;
  font-family: "Nanum Myeongjo", serif;
}

#like .travel .sec2 .tab_menu .tit:active {
  color: #d0021b;
}

#like .travel .sec2 .tab_menu ul {
  margin-top: 30px;
}

#like .travel .sec2 .tab_menu ul li {
  margin-bottom: 10px;
}

#like .travel .sec2 .tab_menu ul li.active {
  font-weight: 600;
  text-decoration: underline;
}

#like .fliming .fliming_wrap {
  padding: 30px 0;
}

#like .fliming .fliming_wrap .screen {
  width: 100%;
  height: 500px;
  position: relative;
}

#like .fliming .fliming_wrap .screen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#like .fliming .fliming_wrap .screen .text {
  display: none;
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  height: 70px;
  color: #fff;
  font-size: 13px;
  text-align: right;
  background-color: #0003;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#like .fliming .fliming_wrap .slide {
  margin: 30px auto;
  width: 90%;
  position: relative;
}

#like .fliming .fliming_wrap .slide .slide_container {
  margin: 0 auto;
  width: 790px;
  overflow: hidden;
}

#like .fliming .fliming_wrap .slide .slide_container ul {
  position: relative;
  left: -800px;
  width: calc(160px * 20);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#like .fliming .fliming_wrap .slide .slide_container .slide_content {
  width: 150px;
  height: 100px;
  overflow: hidden;
}

#like .fliming .fliming_wrap .slide .slide_container .slide_content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .5s;
  transition: .5s;
}

#like .fliming .fliming_wrap .slide .slide_container .slide_content:hover {
  cursor: pointer;
}

#like .fliming .fliming_wrap .slide .slide_container .slide_content:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#like .fliming .fliming_wrap .slide a {
  position: absolute;
  top: 0;
  display: block;
  width: 20px;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .2s;
  transition: .2s;
}

#like .fliming .fliming_wrap .slide a span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  border-top-width: 2px;
  border-right-width: 2px;
  -webkit-transform: translate(-70%, -50%) rotate(45deg);
          transform: translate(-70%, -50%) rotate(45deg);
}

#like .fliming .fliming_wrap .slide a.active:hover span {
  border-color: #d0021b;
}

#like .fliming .fliming_wrap .slide a.prev {
  left: 20px;
}

#like .fliming .fliming_wrap .slide a.prev span {
  -webkit-transform: translate(-25%, -40%) rotate(225deg);
          transform: translate(-25%, -40%) rotate(225deg);
}

#like .fliming .fliming_wrap .slide a.prev:hover {
  left: -10px;
  width: 50px;
}

#like .fliming .fliming_wrap .slide a.next {
  right: 20px;
}

#like .fliming .fliming_wrap .slide a.next:hover {
  right: -10px;
  width: 50px;
}

#like .fliming .fliming_wrap .text_wrap p {
  font-size: 14px;
}

#like .movies {
  height: 100%;
}

#like .movies .movies_wrap {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#like .movies .movies_wrap .movies_sec {
  padding: 0 20px;
}

#like .movies .movies_wrap .movies_sec:first-child {
  padding-left: 0;
}

#like .movies .movies_wrap .movies_sec:last-child {
  padding-right: 0;
}

#like .movies .movies_wrap span {
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Nanum Myeongjo", serif;
}

#like .movies .movies_wrap span.active {
  color: #d0021b;
}

#like .movies .movies_wrap .sec1 {
  width: 500px;
  position: relative;
}

#like .movies .movies_wrap .sec1::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #d3d3d3;
  width: 1px;
  height: 100%;
}

#like .movies .movies_wrap .sec1 .img_wrap {
  height: 300px;
  margin-bottom: 10px;
}

#like .movies .movies_wrap .sec1 .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#like .movies .movies_wrap .sec2 {
  width: 300px;
  position: relative;
}

#like .movies .movies_wrap .sec2::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #d3d3d3;
  width: 1px;
  height: 100%;
}

#like .movies .movies_wrap .sec2 .img_wrap {
  height: 300px;
  margin-bottom: 10px;
}

#like .movies .movies_wrap .sec2 .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#like .movies .movies_wrap .sec3 {
  width: 200px;
}

#like .movies .movies_wrap .sec3 .sec3_inner .img_wrap {
  height: 100px;
  margin-bottom: 10px;
}

#like .movies .movies_wrap .sec3 .sec3_inner .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#like .music .music_wrap {
  margin-top: 50px;
  padding: 30px 0;
}

#like .music .music_wrap .music_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#like .music .music_wrap .music_container .left_container {
  width: 490px;
  height: 450px;
  overflow: hidden;
}

#like .music .music_wrap .music_container .left_container .musicLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#like .music .music_wrap .music_container .left_container .box1 {
  width: 500px;
  height: 450px;
}

#like .music .music_wrap .music_container .left_container .box1 > .frame {
  width: 500px;
  height: 300px;
  position: relative;
}

#like .music .music_wrap .music_container .left_container .box1 > .frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#like .music .music_wrap .music_container .left_container .box1 > .frame img.music_cover {
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0;
}

#like .music .music_wrap .music_container .left_container .box1 span {
  display: block;
  padding: 10px;
  font-size: 26px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  text-align: center;
}

#like .music .music_wrap .music_container .left_container .box1 span.active {
  color: #d0021b;
}

#like .music .music_wrap .music_container .left_container .box1 p {
  padding: 10px;
  font-size: 13px;
  color: #5a5a5a;
  text-align: center;
}

#like .music .music_wrap .music_container .right_container {
  width: 490px;
  height: 450px;
  overflow: hidden;
}

#like .music .music_wrap .music_container .right_container .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#like .music .music_wrap .music_container .right_container .wrap > .box2 {
  width: 500px;
}

#like .music .music_wrap .music_container .right_container .wrap > .box2 > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px 10px;
}

#like .music .music_wrap .music_container .right_container .wrap > .box2 > ul > li > .frame {
  width: 170px;
  height: 100px;
}

#like .music .music_wrap .music_container .right_container .wrap > .box2 > ul > li > .frame:hover {
  cursor: pointer;
}

#like .music .music_wrap .music_container .right_container .wrap > .box2 > ul > li > .frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#like .music .music_wrap .music_container .right_container .wrap > .box2 > ul > li > .text_box {
  width: 330px;
  padding: 0 10px 10px;
}

#like .music .music_wrap .music_container .right_container .wrap > .box2 > ul > li > .text_box span {
  font-size: 16px;
  font-weight: 600;
  font-family: "Nanum Myeongjo", serif;
}

#like .music .music_wrap .music_container .right_container .wrap > .box2 > ul > li > .text_box span.active {
  color: #d0021b;
}

#like .music .music_wrap .music_container .right_container .wrap > .box2 > ul > li > .text_box p {
  font-size: 13px;
}

#like .books .books_wrap {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#like .books .books_wrap .img_wrap {
  width: 400px;
  height: 600px;
  border: 1px solid #000;
}

#like .books .books_wrap .img_wrap img {
  width: 100%;
  height: 100%;
}

#like .books .books_wrap .text_wrap {
  padding: 0 0 0 30px;
  width: 600px;
}

#like .books .books_wrap .text_wrap span {
  display: block;
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Nanum Myeongjo", serif;
}

#like .books .books_wrap .text_wrap span.active {
  color: #d0021b;
}

#about_me > .about_me_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about_me > .about_me_wrap > .text {
  margin-top: 100px;
  width: 420px;
  height: 480px;
  overflow: hidden;
  position: relative;
}

#about_me > .about_me_wrap > .text::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #d3d3d3;
  width: 1px;
  height: 500px;
}

#about_me > .about_me_wrap > .text > ul.text_wrap {
  width: calc(420px * 4);
}

#about_me > .about_me_wrap > .text > ul.text_wrap > li {
  width: 420px;
  height: 480px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about_me > .about_me_wrap > .text > ul.text_wrap > li > .tit > .main_tit {
  display: block;
  padding-top: 30px;
  font-family: "Nanum Myeongjo", serif;
  font-size: 40px;
  font-weight: 400;
}

#about_me > .about_me_wrap > .text > ul.text_wrap > li > .tit > .main_tit.active {
  color: #d0021b;
}

#about_me > .about_me_wrap > .text > ul.text_wrap > li > .tit > .sub_tit {
  display: block;
  padding-top: 7px;
}

#about_me > .about_me_wrap > .text > ul.text_wrap > li > ol > li {
  width: 72%;
  font-size: 13px;
  font-weight: 400;
}

#about_me > .about_me_wrap > .text > ul.text_wrap > li > ol > li > span {
  margin-left: 20px;
}

#about_me > .about_me_wrap > .text > ul.text_wrap > li .page_num {
  margin-bottom: 30px;
  width: 72%;
  text-align: center;
}

#about_me > .about_me_wrap > .frame {
  width: 530px;
  height: 580px;
  overflow: hidden;
}

#about_me > .about_me_wrap > .frame > ul.frame_wrap {
  width: calc(530px * 4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about_me > .about_me_wrap > .frame > ul.frame_wrap > li {
  margin-top: 100px;
  width: 530px;
  height: 480px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

#about_me > .about_me_wrap > .frame > ul.frame_wrap > li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#about_me > .about_me_wrap > .frame > ul.frame_wrap > li .black {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  width: 100%;
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  z-index: 100;
}

#career {
  margin-top: 30px;
  border-top: 3px solid #000;
}

#career .career_wrap .container {
  padding: 30px 0;
  border-top: 1px solid #000;
}

#career .career_wrap .container:nth-of-type(2) .left_container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#career .career_wrap .container:nth-of-type(2) .left_container .text_content {
  padding-left: 0;
  padding-right: 20px;
}

#career .career_wrap .left_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#career .career_wrap .left_container .img_content {
  width: 500px;
  height: 300px;
}

#career .career_wrap .left_container .text_content {
  padding-left: 20px;
  width: 500px;
}

#career .career_wrap .left_container .text_content .tit {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Nanum Myeongjo", serif;
}

#career .career_wrap .left_container .text_content .tit.active {
  color: #d0021b;
}

#career .career_wrap .left_container .text_content .tit span {
  font-size: 14px;
  color: #5a5a5a;
}

#career .career_wrap .left_container .text_content p {
  font-size: 14px;
}

#career .career_wrap .right_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

#career .career_wrap .right_container .text_content {
  width: 490px;
}

#career .career_wrap .right_container .text_content span {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Nanum Myeongjo", serif;
}

#career .career_wrap .right_container .text_content span.active {
  color: #d0021b;
}

#career .career_wrap .right_container .text_content p {
  font-size: 14px;
}

#portfolio {
  padding: 30px 0;
}

#portfolio .content_wrap {
  margin-top: 50px;
  border-top: 1px solid #000;
}

#portfolio .content_wrap .tit_box {
  padding: 8px 0 38px;
}

#portfolio .content_wrap .tit_box .main_tit {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 600;
  font-family: "Nanum Myeongjo", serif;
}

#portfolio .content_wrap .tit_box .main_tit.active {
  color: #d0021b;
}

#portfolio .content_wrap .tit_box .sub_tit {
  margin-bottom: 20px;
  color: #5a5a5a;
  font-size: 14px;
}

#portfolio .content_wrap .text_box {
  width: 90%;
  font-size: 14px;
  line-height: 1.3;
}

#portfolio .content_wrap .text_box span {
  font-weight: 800;
  text-decoration: underline;
}

#portfolio .content_wrap .text_box span.active {
  color: #d0021b;
}

#portfolio .content_wrap .img_box {
  margin-bottom: 30px;
  width: 90%;
  height: 500px;
  overflow-y: scroll;
  border: 1px solid #000;
}

#portfolio .content_wrap .img_box a img {
  width: 100%;
}

#contact .title {
  margin-top: 50px;
  border-top: 1px solid #000;
  font-family: "Assistant", sans-serif;
  font-size: 14px;
  font-weight: 800;
}

#contact .title.active {
  color: #d0021b;
}

#contact .contact_wrap {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact .contact_wrap .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 100px;
  position: relative;
}

#contact .contact_wrap .tab::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0px;
  background-color: #d3d3d3;
  width: 1px;
  height: 70px;
}

#contact .contact_wrap .tab:last-child::after {
  display: none;
}

#contact .contact_wrap .tab .txt {
  width: 150px;
}

#contact .contact_wrap .tab .txt span {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 800;
  font-family: "Nanum Myeongjo", serif;
}

#contact .contact_wrap .tab .txt span:active {
  color: #d0021b;
}

#contact .contact_wrap .tab .txt p {
  font-size: 13px;
  font-family: "Assistant", sans-serif;
}

#contact .contact_wrap .tab .icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
}

#contact .contact_wrap .tab .icon img {
  width: 100%;
  height: 100%;
}

footer {
  height: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #5a5a5a;
}

footer::before {
  content: '';
  position: relative;
  top: -5px;
  display: block;
  border-top: 1px solid #5a5a5a;
}

footer > .logo {
  margin-top: 5px;
}

footer > .logo a {
  font-family: Chomsky;
  font-size: 28px;
}

footer > .logo a .red.active {
  color: #d0021b;
}

footer > .bottom {
  position: relative;
  bottom: 0;
  color: #5a5a5a;
  font-size: 13px;
}
/*# sourceMappingURL=index_test.css.map */