@font-face { 
font-family: Chomsky; 
font-style: normal; 
font-weight: 700; 
src: url(../font/Chomsky.otf) format("truetype")
}
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

*{padding:0;margin:0;list-style:none;text-decoration:none;}

a:visited, a:link, a:hover, a:active {
    color:#222;
}

// 컬러변수
$point : #d0021b;
$grey : #d3d3d3;
$sub_grey: #5a5a5a;



// 폰트변수
$assistant : 'Assistant', sans-serif;
$outfit : 'Outfit', sans-serif;
$nanum : 'Nanum Myeongjo', serif;

html{scroll-behavior: smooth;}

body{
    position:relative;
}

// html,body {
//     overflow: scroll;
//     /* IE scroll 숨김 */
//     -ms-overflow-style: none;
  
//     html,body::-webkit-scrollbar { 
//       width: 0 !important;
//       display: none; 
//     }
//   }

@media screen and (max-width:480px) {
    .wrap {
        max-width: 768px !important;
    }

    #main {
        .main_visual {
            // width: 768px;
            height: 400px !important;
        }
    }
    header {
        .onoff {
            
            ul {
                margin-top: 20px !important;
                left: initial !important;
                right: 20px !important;          
            }
        }

        nav {
            margin-top: 20px !important;
            left: 20px;
            display: block !important;
        }

        .header_wrap {
            padding: 0px 10px !important;
            
            position: relative;
            .date {
                position: absolute;
                top: 55px;
                left: 0;
                right: 0;

                display: flex;
                justify-content: space-between;
                align-items: center;
                
                margin-top: 0px;
                padding: 0 20px;

                height: 25px;
                border-top: 1px solid #d3d3d3;
                border-bottom: 1px solid #d3d3d3;
                #current_date, .weather{
                    text-align: center;
                }

                .clock_wrap {
                    margin-left: 10px;
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    #clock {
                        // margin-right: 2px;
                    }
                }
            }
        }


        .weather{
            display: none;
        }

        .title {
            padding: 10px 0 0 0 !important;

            a{
                font-size: 23px !important;    
            }
        }

        .header_cate {
            display: none;
        } // header_cate end
    } // header end

    main {
        padding-top: 30px;
    } // main end


    #main {
        height: initial;
    } // #main end

    #about_me {
        > .about_me_wrap {
            flex-direction: column;
            > .text {
                width: 100% !important;
                height: 400px !important;
                padding: 0 10px;
                order: 200;
                margin-top: 10px !important;
                &::after {
                    display: none;
                }

                > ul {
                    > li {
                        // width: 100% !important; 
                        height: 400px !important;
                    }
                }
            }

            > .frame {
                width: 100% !important;
                height: 400px !important;
                order: 100;

                > .frame_wrap {
                    width: calc(100% * 4) !important;

                    > li {
                        width: 100% !important;
                        margin-top: 50px !important;
                    }
                }
            }
        } // about me wrap end
    } // about me end


    #work {
        > .work_wrap {
            > .content_wrap {
                flex-direction: column-reverse !important;
                > .text_box {
                    width: 100% !important;

                    > .tit_box {
                        > .main_tit {
                            margin-top: 20px;
                        }

                        > .sub_tit {
                            margin-bottom: 30px;
                        }
                    }
                } // text_box end

                > .img_box {
                    width: 100% !important;
                    height: 400px !important;
                } // img_box end
            } // .content_wrap end
        } // work_wrap end
    } // work end


} // 480 end

@media screen and (min-width:480px) and (max-width:768px) {
    .wrap {
        max-width: 768px !important;
    }

    #main {
        .main_visual {
            // width: 768px;
            height: 400px !important;
        }
    }
    header {
        .onoff {
            
            ul {
                left: initial !important;
                right: 20px !important;          
            }
        }

        nav {
            left: 20px;
            display: block !important;
        }

        .header_wrap {
            padding: 20px 10px !important;
            
            position: relative;
            .date {
                position: absolute;
                top: 95px;
                left: 0;
                right: 0;
                height: 40px;
                margin-top: 3px;
                border-top: 1px solid #d3d3d3;
                border-bottom: 1px solid #d3d3d3;
                padding: 4px 20px 0;
                #current_date, .weather{
                    text-align: center;
                }

                .clock_wrap {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    #clock {
                        margin-right: 2px;
                    }
                }
            }
        }


        .weather{
            display: none;
        }

        .title {
            padding: 20px 0 0 0 !important;

            a{
                font-size: 45px !important;    
            }
        }

        .header_cate {
            display: none;
        } // header_cate end
    } // header end

    main {
        padding-top: 50px;
    } // main end


    #main {
        height: calc(100vh - 140px) !important;
    } // #main end

    #about_me {
        > .about_me_wrap {
            > .text {
                width: 300px !important;
                padding: 0 10px;
            }

            > .frame {
                width: 478px !important;
            }
        } // about me wrap end
    } // about me end


    #work {
        > .work_wrap {
            > .content_wrap {
                flex-direction: column-reverse !important;
                > .text_box {
                    width: 100% !important;

                    > .tit_box {
                        > .main_tit {
                            margin-top: 20px;
                        }

                        > .sub_tit {
                            margin-bottom: 30px;
                        }
                    }
                } // text_box end

                > .img_box {
                    width: 100% !important;
                } // img_box end
            } // .content_wrap end
        } // work_wrap end
    } // work end


} // 768 end

.bg{
    &.active{
    position: fixed;
    z-index: -1;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    width:100%;height:100%;
}
}
.aside_menu{
    position:fixed;
    z-index:99;
    top:0;left:0;
    width:300px;
    height:100vh;
    transform: translateX(-100%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition:0.5s;
    background-color: #fff;
    &.active{transform: translateX(0);}
}

.top_menu {
    display: none;
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 30px;
    background-color: #fff;
    box-shadow: 1px 1px 4px #999;

    &.active{
        background-image: url(../img/bg.jpg);
        background-size: cover;
        background-repeat: repeat;
        background-position: center;
    }
    
    .wrap {
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 1000px;
        height: 30px;
        // line-height: 30px;
    }

    .logo {
        width: 50px;
        a {
            font-size: 24px;
            font-family: 'Chomsky';
            
            &.active {
                color:$point;
            }
        }
    }
    .burger{
        width: 50px;
        div{
            background-color: #000;
            width:15px;height:1.5px;margin:3px;
            transition: all 0.5s;
        }
    }

    nav {
        width: 100%;
        padding: 0 70px;
        ul {
            display: flex;
            justify-content: space-between;
            li {
                a {
                    font-size: 12px;
                    font-family: $outfit;
                }
            }
        }
    }

    .onoff{
        position: relative;
        z-index: 100;
        width: 50px;
        height: 30px;
        padding-left: 30px;
    }
    .onoff ul{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid #000;
        border-radius: 50px;
        width:26px;height: 12px;
        cursor: pointer;
        li{
            background-color: #000;
            width:12px;height:12px;
            position: absolute;
            top:0;left:0;
            border-radius: 50px;
            transition: .5s;
            &.active{
                transform: translateX(14px);
                background-color: $point;
            }
        }
    }
}


.wrap{
    max-width: 1000px;
    margin:0 auto;
}

header{
    position: relative;
    .onoff{position: relative;z-index: 100;}
    .onoff ul{
        position: absolute;margin-top:40px;
        left:0px;
        border: 1px solid #000;
        border-radius: 50px;
        width:26px;height: 12px;
        cursor: pointer;
        li{
            background-color: #000;
            width:12px;height:12px;
            position: absolute;
            top:0;left:0;
            border-radius: 50px;
            transition: .5s;
            &.active{
                transform: translateX(14px);
                background-color: $point;
            }
        }
    }
    nav{
        display: none;
        position: absolute;margin-top:40px;
        .burger{
            div{
                background-color: #000;
                width:15px;height:1.5px;margin:3px;
                transition: all 0.5s;
            }
        }
    }
    
    .toggle .line1{transform: rotate(45deg) translate(0px,6px);background-color: #d0021b;}
    .toggle .line2{opacity: 0;}
    .toggle .line3{transform: rotate(-45deg) translate(0px,-7px);background-color: #d0021b;}
    
    .header_wrap{
        display: flex;
        justify-content: space-between;
        padding:50px 0 20px;
        height: 55px;
        align-items: flex-end;

        #current_date, .weather, #clock, #apm{
            font-family: 'Assistant', sans-serif;
        font-size: 13px;
        font-weight: 600;
        }
    }
    .weather{
        .City{
            text-align: right;
            padding: 0 0 4px;
        }
        .flex{
            display:flex;
            justify-content: right;
            div{padding-left: 10px;}
        }
    }
    .title{
        position: absolute;
        top:0px;
        left:50%;
        transform: translateX(-50%);
        padding:50px 0 0 0;
        width: 100%;
        text-align: center;
        a{
            font-family: Chomsky; 
            font-size: 60px;
            cursor: pointer;
            .red.active{color:$point;}
        }
    }

    .header_cate{
        border-top: 1px solid #d3d3d3;
        border-bottom: 1px solid #000;
        position: relative;
        &::after{
            content:"";
            width:100%;
            height:1px;
            background-color: #000;
            position: absolute;
            bottom:-5px;
        }
        padding:15px 0;
        ul{
            display: flex;
            justify-content: space-between;
            font-family: 'Outfit', sans-serif;
            font-size:12px;
            font-weight: 400;
            li{
                a{
                    padding-right:10px;cursor: pointer;
                    &:hover{color:$point;}
                }
                span{
                    display: none;
                    position: absolute;
                    color:#777;
                }
            }
        }
    }
} // header end

#main {
    height: calc(100vh - 172px);
    border-bottom: 1px solid #000;

    > h2 {
        height: 100px;
        line-height: 100px;
        font-family: $nanum;
        font-weight: 800;
        text-align: center;
    }

    > .main_visual {
        width: 1000px;
        width: 100%;
        height: 500px;
        border: 1px solid #000;
        box-sizing: border-box;
        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

#about_me {
    > .about_me_wrap {
        display: flex;
        justify-content: space-between;

        > .text {
            margin-top: 100px;
            width: 420px;
            height: 480px;
            overflow: hidden;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top:0px;right:0px;
                background-color: $grey;
                width: 1px;
                height: 500px;                
            }
            > ul.text_wrap {
                width: calc(420px * 4);
                
                > li {
                    // padding-top: 100px;
                    width: 420px;
                    height: 480px;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    > .tit {

                        > .main_tit {
                            display: block;
                            // margin-bottom: 10px;
                            padding-top: 30px;
                            font-family: $nanum;
                            font-size: 40px;
                            font-weight: 400;
                            &.active {
                                color:$point;
                            }
                        }
                        > .sub_tit {
                            display: block;
                            padding-top: 7px;
                        }
                    }
                    > ol {
                        // margin-top: 0px;
                        > li {
                            width: 72%;
                            font-size: 13px;
                            font-weight: 400;
                            > span {
                                margin-left: 20px;
                            }
                        } // li end
                    } // ol end

                    .page_num {
                        margin-bottom: 30px;
                        width: 72%;
                        text-align: center;
                    }
                } // li end
            } // text_wrap end
        } // text end

        > .frame {
            width: 530px;
            height: 580px;
            overflow: hidden;
            
            > ul.frame_wrap {
                width: calc(530px * 4);
                display: flex;
                > li {
                    margin-top: 100px;
                    width: 530px;
                    height: 480px;
                    box-sizing: border-box;
                    
                    position: relative;
                     img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                     }

                     .black {
                         filter: grayscale(1);
                         width: 100%;
                         position: absolute;
                         opacity: 1;
                         top: 0;
                         left: 0;
                         z-index: 100;
                     }
                } // li end
            } // ul end
        } // frame end

    } // about_me_wrap
} // about_me end

// #main {display: none;}
// #about_me {display: none;}
// #portfolio {display: none;}

#like {

    .like_tab {
        margin-top: 50px;
        border-top: 1px solid #000;
        font-family: $assistant;
        .title {
            font-size: 12px;
            font-weight: 800;
        }    
    }    
    
    .travel {

        .sec1 {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 30px 0;

            border-bottom: 1px solid $grey;

            .text_wrap {
                width: 400px;
                padding: 0 10px 0 0;
                box-sizing: border-box;
                span {

                }

                div {
                    margin-bottom: 10px;
                    font-size: 30px;
                    font-family: $nanum;
                    font-weight: 700;
                }

                p {
                    // font-size: 13px;
                }
            }

            .img_wrap {
                width: 600px;
                height: 400px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }


        } // sec1 end

        .sec2 {
            padding: 30px 0;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            
            .content {
                padding: 0 20px;
                width: 300px;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    top:0px; 
                    right:0px;
                    background-color: $grey;
                    width: 1px;
                    height: 100%           
                }
            
                &:first-child {padding-left: 0;}
                &:last-child {padding-right: 0;&::after{display: none;}}

                .img_wrap {
                    margin-bottom: 10px;
                    height: 200px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                span {

                }

                p {

                }

                
            }
        } // sec2 end

        .sec3 {
            padding: 0 0 30px;
            border-top: 1px solid #000;

            
            span {
                display: block;
                margin: 5px 0 20px;
                font-size: 11px;
                font-weight: 800;
            }
            .sec3_wrap {
            display: flex;
            justify-content: space-between;
                .content {
                    padding: 0 20px;
                    width: 170px;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        top:0px; 
                        right:0px;
                        background-color: $grey;
                        width: 1px;
                        height: 100%           
                    }

                    &:first-child {padding-left: 0;}
                    &:last-child {padding-right: 0;&::after{display: none;}}

                    .img_wrap {
                        height: 100px;
                        margin-bottom: 10px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    
                    p {
                        
                    }
                }
            }
        } // sec3 end
    } // travel end

    .fliming {

    } // fliming end

    .drive {

    } // drive end

    .movies {
        .movies_wrap {
            padding: 30px 0;
            display: flex;
            justify-content: space-between;
        

        .movies_sec {
            padding: 0 20px;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        span {
            margin-bottom: 7px;
            font-size: 20px;
            font-weight: 600;
            font-family: $nanum;
        }

        p {

        }
        .sec1 {
            width: 500px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top:0px;right:0px;
                background-color: $grey;
                width: 1px;
                height: 100%;               
            }

            .img_wrap {
                height: 300px;
                margin-bottom: 10px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }        

        .sec2 {
            width: 300px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top:0px;right:0px;
                background-color: $grey;
                width: 1px;
                height: 100%;               
            }

            .img_wrap {
                height: 300px;
                margin-bottom: 10px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;    
                }
            }
        }

        .sec3 {
            width: 200px;
            // border: 1px solid #000;

            .sec3_inner {
                .img_wrap {
                    height: 100px;
                    margin-bottom: 10px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        }
    } // movies

    .music {

    } // music end

    .books {

    } // books end
} // like end

#career {

}  // career end

#portfolio {
    .portfolio_wrap {

    } // portfolio_wrap end

    .content_wrap {
        margin-top: 50px;
        border-top: 3px solid #000;

        .tit_box {
            padding: 8px 0 38px;
            .main_tit {
                margin-top: 10px;
                margin-bottom: 5px;
                font-size: 30px;
                font-weight: 600;
                font-family: $nanum;
                &.active{color:$point;}
            }

            .sub_tit {
                margin-bottom: 20px;
                color: #5a5a5a;
                font-size: 14px;
            }
        } // tit box end

        .text_box {
            width: 90%;
            font-size: 14px;
            line-height: 1.3;
            span {
                font-weight: 800;
                text-decoration: underline;
                &.active{color:$point;}
            }
        } // text box end

        .img_box{
            margin-bottom: 30px;
            width: 90%;
            height: 500px;
            overflow-y: scroll;
            border: 1px solid #000;
            a {
                img {
                    width: 100%;
                }
            }
        }
    } // content_wrap end
} // portfolio end

#contact {
    // height: 100vh;
    // background-color: pink;
    // border: 1px solid #000;
}

footer {
    height: 300px;
    
    box-sizing: border-box;
    
    border-top: 1px solid $sub_grey;
    &::before {
        content: '';
        position: relative;
        top: -5px;
        display: block;
        border-top: 1px solid $sub_grey;
    }

    > .logo {
        margin-top: 5px;
            a {
                font-family: Chomsky; 
                font-size: 28px;
                .red.active{color:$point;}
            } // a end
    } // logo end

    > .bottom {
        position: relative;
        bottom: 0;
        color: $sub_grey;
        font-size: 13px;
    }
} // footer end