#introduce .introduce_tab {
  border-top: 1px solid #000;
}
#introduce .introduce_tab:first-child {
  border-top: none;
}
#introduce .introduce_tab .title {
  font-weight: 800;
  font-family: "Assistant", sans-serif;
}
#introduce .introduce_tab .title.active {
  color: #d0021b;
}
#introduce .introduce_tab .main_wrap {
  padding: 30px 0;
}
#introduce .introduce_tab .sub_tit {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Nanum Myeongjo", serif;
  text-align: center;
}
#introduce .introduce_tab .sub_tit.active {
  color: #d0021b;
}
#introduce .introduce_tab .sub_tit > span {
  display: block;
  font-size: 13px;
  color: #d3d3d3;
}
#introduce .greeting .main_wrap {
  display: flex;
  justify-content: space-between;
}
#introduce .greeting .main_wrap p > span {
  display: inline-block;
  margin: 0 15px 5px 0;
}
#introduce .greeting .center_wrap {
  padding-right: 20px;
  width: 500px;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s;
  transition-delay: 0.2s;
}
#introduce .greeting .center_wrap.active {
  opacity: 1;
  transform: translateY(0);
}
#introduce .greeting .center_wrap .img_wrap {
  margin-bottom: 10px;
  width: 500px;
  height: 250px;
}
#introduce .greeting .center_wrap .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#introduce .greeting .side_wrap {
  padding-right: 20px;
  width: 250px;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s;
}
#introduce .greeting .side_wrap:last-child {
  padding-left: 20px;
}
#introduce .greeting .side_wrap.active {
  opacity: 1;
  transform: translateY(0);
}
#introduce .greeting .first {
  transition-delay: 0.4s;
}
#introduce .greeting .last {
  transition-delay: 0.6s;
}
#introduce .greeting .last li span {
  display: inline-block;
  margin: 0 15px 5px 0;
}
#introduce .hashtag_story .main_wrap .first_container {
  display: flex;
  justify-content: space-between;
}
#introduce .hashtag_story .main_wrap .second_container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
#introduce .hashtag_story .main_wrap .content .img_wrap {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s;
}
#introduce .hashtag_story .main_wrap .content .img_wrap.active {
  opacity: 1;
  transform: translateY(0);
}
#introduce .hashtag_story .main_wrap .content .text_wrap {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s;
}
#introduce .hashtag_story .main_wrap .content .text_wrap.active {
  opacity: 1;
  transform: translateY(0);
}
#introduce .hashtag_story .main_wrap .first_container .box1 .img_wrap {
  transition-delay: 0.2s;
}
#introduce .hashtag_story .main_wrap .first_container .box1 .text_wrap {
  transition-delay: 0.4s;
}
#introduce .hashtag_story .main_wrap .first_container .box2 .img_wrap {
  transition-delay: 0.6s;
}
#introduce .hashtag_story .main_wrap .first_container .box2 .text_wrap {
  transition-delay: 0.8s;
}
#introduce .hashtag_story .main_wrap .second_container .box1 .img_wrap {
  transition-delay: 1s;
}
#introduce .hashtag_story .main_wrap .second_container .box1 .text_wrap {
  transition-delay: 1.2s;
}
#introduce .hashtag_story .main_wrap .second_container .box2 .img_wrap {
  transition-delay: 1.4s;
}
#introduce .hashtag_story .main_wrap .second_container .box2 .text_wrap {
  transition-delay: 1.6s;
}
#introduce .hashtag_story .main_wrap .box1 {
  margin-bottom: 50px;
  width: 590px;
}
#introduce .hashtag_story .main_wrap .box1 .img_wrap {
  margin-bottom: 10px;
  height: 300px;
  height: 400px;
}
#introduce .hashtag_story .main_wrap .box1 .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#introduce .hashtag_story .main_wrap .box2 {
  width: 390px;
}
#introduce .hashtag_story .main_wrap .box2 .img_wrap {
  margin-bottom: 10px;
  height: 200px;
  height: 300px;
}
#introduce .hashtag_story .main_wrap .box2 .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#introduce .message_motto .main_wrap {
  display: flex;
  height: 300px;
}
#introduce .message_motto .main_wrap span:nth-child(2) {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}
#introduce .message_motto .message {
  width: 50%;
  padding-right: 10px;
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s;
  transition-delay: 0.2s;
}
#introduce .message_motto .message.active {
  opacity: 1;
  transform: translateY(0);
}
#introduce .message_motto .message::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #d3d3d3;
}
#introduce .message_motto .motto {
  width: 50%;
  padding-left: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s;
  transition-delay: 0.4s;
}
#introduce .message_motto .motto.active {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 480px) {
  .greeting .main_wrap {
    flex-wrap: wrap;
    padding: 10px !important;
  }
  .greeting .main_wrap .side_wrap {
    width: 100% !important;
    padding: 10px 20px !important;
  }
  .greeting .main_wrap .first {
    order: 2 !important;
  }
  .greeting .main_wrap .last {
    order: 3 !important;
  }
  .greeting .main_wrap .center_wrap {
    padding-right: initial !important;
    padding: 10px 0 20px !important;
    width: 100% !important;
    order: 1;
  }
  .greeting .main_wrap .center_wrap .img_wrap {
    width: 100% !important;
  }
  .greeting .main_wrap .center_wrap p {
    padding: 0 10px;
  }
  .hashtag_story .container {
    flex-direction: column !important;
  }
  .hashtag_story .container .content {
    width: 100% !important;
    margin-bottom: 50px !important;
  }
  .hashtag_story .container .img_wrap {
    width: 100% !important;
  }
  .hashtag_story .container .text_wrap {
    padding: 0 10px !important;
  }
  .message_motto .main_wrap {
    flex-direction: column;
    height: initial !important;
  }
  .message_motto .message {
    padding-right: 0 !important;
    width: 100% !important;
    padding: 0 10px 30px !important;
    box-sizing: border-box;
  }
  .message_motto .message::after {
    top: initial !important;
    bottom: 0;
    width: 100% !important;
    height: 1px !important;
  }
  .message_motto .motto {
    padding-left: 0 !important;
    width: 100% !important;
    padding: 20px 10px 0 !important;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .greeting .main_wrap {
    flex-wrap: wrap;
  }
  .greeting .main_wrap .side_wrap {
    width: 50% !important;
    order: 2;
    margin-top: 20px;
    padding: 20px !important;
  }
  .greeting .main_wrap .center_wrap {
    padding-right: initial !important;
    width: 100% !important;
    order: 1;
  }
  .greeting .main_wrap .center_wrap .img_wrap {
    width: 100% !important;
  }
  .greeting .main_wrap .center_wrap p {
    padding: 0 10px;
  }
  .hashtag_story .first_container .box1 {
    margin-right: 10px;
    width: 75% !important;
  }
  .hashtag_story .second_container .box1 {
    margin-left: 10px;
    width: 75% !important;
  }
  .message_motto .message {
    padding: 0 10px !important;
  }
  .message_motto .motto {
    padding: 0 10px !important;
  }
}/*# sourceMappingURL=introduce.css.map */