@media screen and (max-width: 480px) {
  #main > .main_visual {
    height: 300px !important;
  }
  #main_container .tab {
    padding: 20px 10px;
  }
  #main_container .tab span {
    font-size: 18px;
  }
  #main_container .first_line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #main_container .first_line .img_wrap {
    width: 100%;
  }
  #main_container .first_line .text_wrap {
    margin-right: 10px;
    margin-bottom: 15px;
  }
  #main_container .second_line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #main_container .second_line .img_wrap {
    width: 100%;
  }
  #main_container .second_line .text_wrap {
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
  }
  #main_container .third_line {
    padding: 20px 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  #main_container .tab {
    padding: 20px;
  }
  #main_container .second_line .text_wrap {
    margin-left: 20px;
  }
  #main_container .third_line {
    padding: 20px;
  }
}

.wrap {
  max-width: 1000px;
  margin: 0 auto;
}

main #main {
  margin-bottom: 50px;
}

main #main > .main_visual {
  margin-top: 50px;
  width: 1000px;
  width: 100%;
  height: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: .5s;
  transition: .5s;
}

main #main > .main_visual.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

main #main > .main_visual > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .tab span {
  display: block;
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: 800;
  font-family: "Nanum Myeongjo", serif;
}

main .first_line {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

main .first_line .text_wrap {
  width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .first_line .text_wrap span {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
}

main .first_line .text_wrap span.on {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

main .first_line .text_wrap span.active {
  color: #d0021b;
}

main .first_line .text_wrap p {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

main .first_line .text_wrap p.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

main .first_line .img_wrap {
  width: 550px;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

main .first_line .img_wrap.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

main .first_line .img_wrap img {
  width: 100%;
  height: 100%;
}

main .second_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #000;
}

main .second_line .img_wrap {
  width: 400px;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
}

main .second_line .img_wrap.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

main .second_line .img_wrap img {
  width: 100%;
  height: 100%;
}

main .second_line .text_wrap {
  width: 550px;
}

main .second_line .text_wrap span {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

main .second_line .text_wrap span.on {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

main .second_line .text_wrap span.active {
  color: #d0021b;
}

main .second_line .text_wrap p {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

main .second_line .text_wrap p.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

main span.active {
  color: #d0021b;
}

main .third_line {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .third_line .content {
  padding: 0 20px;
  width: calc(100% / 3);
  height: 150px;
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
}

main .third_line .content:nth-of-type(1) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

main .third_line .content:nth-of-type(2) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

main .third_line .content:nth-of-type(3) {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

main .third_line .content.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

main .third_line .content::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #d3d3d3;
}

main .third_line .content:first-child {
  padding-left: 0;
}

main .third_line .content:last-child {
  padding-right: 0;
}

main .third_line .content:last-child::after {
  display: none;
}

main .third_line .content span {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 800;
  font-family: "Nanum Myeongjo", serif;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */