// 컬러변수
$point : #d0021b;
$grey : #d3d3d3;
$sub_grey: #5a5a5a;

// 폰트변수
$assistant : 'Assistant', sans-serif;
$outfit : 'Outfit', sans-serif;
$nanum : 'Nanum Myeongjo', serif;

#portfolio {
    padding: 30px 0;

    .content_wrap {
        &:first-child {
            margin-top: 0px;
            border-top: none;    
        }
        margin-top: 50px;
        border-top: 1px solid #000;

        .tit_box {
            padding: 8px 0 38px;
            .main_tit {
                margin-top: 10px;
                margin-bottom: 5px;
                font-size: 30px;
                font-weight: 600;
                font-family: $nanum;
                &.active{color:$point;}

                opacity:0;
                transform: translateY(20px);
                transition: 1s;
                &.on {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            .sub_tit {
                margin-bottom: 20px;
                color: #5a5a5a;
                font-size: 14px;

                opacity:0;
                transform: translateY(20px);
                transition: 1s;
                transition-delay: .2s;
                &.on {
                    opacity: 1;
                    transform: translateY(0);
                }

                span {
                    display: block;
                    font-size: 11px;
                }
            }
        } // tit box end

        .text_box {
            line-height: 1.3;

            opacity:0;
            transform: translateY(20px);
            transition: 1s;
            transition-delay: .8s;
            &.on {
                opacity: 1;
                transform: translateY(0);
            }

            span {
                font-weight: 800;
                text-decoration: underline;
                &.active{color:$point;}
            }
        } // text box end

        

        .img_box{
        margin-bottom: 30px;
        height: 500px;
        overflow-y: scroll;
        border: 1px solid #000;
    
        opacity:0;
        transform: translateY(20px);
        transition: 1s;
        transition-delay: .5s;
        &.on {
            opacity: 1;
            transform: translateY(0);
        }
        
            a {
                img {
                    width: 100%;
                }
            }
        }
    } // content_wrap end
    .seed {
        .img_box {
            height: 100%;
        }
    }
} // portfolio end

@media screen and (max-width:480px) {
    #portfolio {padding: 0 0 30px !important;}

    .content_wrap {
        &:first-child {
            margin-top: 0px !important;
            border-top: none !important;
        }

        .tit_box {padding: 10px !important;}

        .text_box {
            padding: 0 10px !important;
            line-height: 1.5 !important;
        }
    }
}

@media screen and (min-width:480px) and (max-width:768px) {
    #portfolio {padding: 0 0 30px !important;}

    .content_wrap {
        &:first-child {
            margin-top: 0px !important;
            border-top: none !important;
        }

        .tit_box {padding: 10px !important;}

        .text_box {
            padding: 0 10px !important;
            line-height: 1.5 !important;
        }
    }
}