@charset "utf-8";

/* **************************** //필수 CSS 수정 및 삭제 불가 **************************** */

/* tag reset */

/* reset */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, button, p, blockquote, th, td { margin:0; padding:0;-webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
html { width:100%; height:100%;font-size:11px;}
@media screen and (max-width: 4220px) {
    html {font-size:14px;}
}
@media screen and (max-width: 2480px) {
    html {font-size:12px;}
}
@media screen and (max-width: 2220px) {
    html {font-size:11px;}
}
@media screen and (max-width: 1930px) {
    html {font-size:10px;}
}
@media screen and (max-width: 1680px) {
    html {font-size:10px;}
}
@media screen and (max-width: 1440px) {
    html {font-size:9px}
}
@media screen and (max-width: 1280px) {
    html {font-size:55%}
}
@media screen and (max-width: 1024px) {
    html {font-size:10px}
}

body,code { font-size:14px;font-family: 'Noto Sans KR', sans-serif; color:#353535; background:#fff; }
/*body, code { min-width:320px; font-size:13px; line-height:1.2em; color:#1b1b1b; background:#fff; -webkit-text-size-adjust:none; }*/
body { min-width:320px;  }
body#popup {min-width:0;  }
code { background:none; display:block; }
li { list-style:none; }
ul li { list-style:none; }
ol { list-style-position:inside; }
img, fieldset{ border:none; }
img { vertical-align:middle; image-rendering: -webkit-optimize-contrast;}
hr.layout { display:none; }
em, address { font-style:normal; }
ins { text-decoration:none; }
a { text-decoration:none; color:#000; outline: 0 !important;
    -webkit-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
}
a:hover { text-decoration:none; color:#aaa;
    -webkit-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
}
a:active { text-decoration:none; }
table { width:100%;   border:0 none; border-spacing:0; border-collapse:collapse; }
table caption { display:none; }
th, td { border:0;   }
legend { height:0; width:0; display:block; text-indent:-9999em; }
label { cursor:pointer; }
button::-moz-focus-inner { padding:0; border:0; }

 


/* html5 */
object, del, sub, var { margin:0; padding:0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
 


/* image */

img[src$=".gif"], img[src$=".png"], img[src$=".jpg"] {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}
