@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Outfit", "Pretendard-Regular", sans-serif;
}

body.noneScroll {
  overflow: hidden;
  position: relative;
  height: 100%;
}

::-moz-selection {
  background: red;
}

::selection {
  background: red;
}

li {
  list-style: none;
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: #000;
}

span.memo {
  display: none;
  font-size: 10px;
  background-color: lemonchiffon;
}

.wrap {
  position: relative;
}

header {
  position: absolute;
  z-index: 999;
  top: 30px;
  width: 100%;
  text-align: center;
}
header .logo a {
  color: #000;
  font-size: 30px;
  text-transform: uppercase;
}
header nav {
  top: 0;
}
header nav .gnb,
header nav .right_nav {
  position: fixed;
  top: 30px;
}
header nav .gnb.left_nav {
  left: 30px;
  text-align: left;
}
header nav .gnb.left_nav li.active a,
header nav .gnb.left_nav div.active a {
  color: #ff5722;
}
header nav .gnb.left_nav li a {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
}
header nav .right_nav {
  right: 30px;
  text-align: right;
}
header nav .right_nav .menu {
  margin-bottom: 20px;
  overflow: hidden;
}
header nav .right_nav .menu > ul > li {
  height: 30px;
  overflow: hidden;
}
header nav .right_nav .menu > ul > li.active {
  height: 100%;
}
header nav .right_nav .menu > ul > li > a {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}
header nav .right_nav .menu .sub_menu {
  overflow: hidden;
  margin-bottom: 10px;
}
header nav .right_nav .menu .sub_menu li {
  line-height: 1.6;
}
header nav .right_nav .menu .sub_menu li a {
  font-size: 16px;
}
header nav .right_nav .menu .sub_menu li a:hover {
  text-decoration: underline;
}
header nav .right_nav .menu > ul > li:hover > a {
  text-decoration: underline;
}
header nav .right_nav .menu > ul > li:hover .sub_menu {
  transform: translateY(0);
}
header nav .right_nav hr {
  border: 0;
  border-bottom: 1px solid #000;
}
header nav .right_nav .customer {
  margin-top: 20px;
}
header nav .right_nav .customer li a {
  font-size: 16px;
}
header .mobile_nav {
  position: fixed;
  top: 30px;
  z-index: 999;
  display: none;
}
header .mobile_nav > ul {
  position: absolute;
  z-index: 999;
  left: 15px;
}
header .mobile_nav > ul li span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #000;
  margin-bottom: 8px;
  transition: all 0.2s;
}
header .mobile_nav > ul .burger.active span:nth-of-type(1) {
  transform: rotate(45deg) translate(6px, 8px);
}
header .mobile_nav > ul .burger.active span:nth-of-type(2) {
  transform: translateX(-10px);
  opacity: 0;
}
header .mobile_nav > ul .burger.active span:nth-of-type(3) {
  transform: rotate(-45deg) translate(6px, -8px);
}
header .side_menu {
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 60px 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
  transform: translateX(-100%);
  opacity: 0;
}
header .side_menu .wrap > ul hr {
  margin: 20px 10px;
  border: 0;
  border-top: 1px solid #ccc;
}
header .side_menu .wrap > ul li {
  padding-left: 15px;
  line-height: 1.8;
}
header .side_menu .wrap > ul li a {
  font-size: 16px;
}
header .side_menu .wrap > ul li a span.link {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: -3px;
  font-size: 10px;
}
header .side_menu .wrap > ul li a span.link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .side_menu .wrap > ul .menu li a,
header .side_menu .wrap > ul .gnb li a {
  font-size: 20px;
}
header .side_menu.active {
  transform: translateX(0);
  opacity: 1;
}

main .footer_section {
  height: 0;
}

.footer {
  background-color: #f0cb7a;
}
.footer .wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 100px 30px;
  width: 60%;
  height: 100vh;
  box-sizing: border-box;
  text-align: center;
}
.footer .wrap .tit {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
}
.footer .wrap .left_section > ul > li {
  margin: 0 0 20px;
}
.footer .wrap .center_section .logo {
  margin-bottom: 30px;
  font-size: 36px;
  text-transform: uppercase;
}
.footer .wrap .right_section > ul > li {
  margin: 0 0 20px;
}

@media screen and (max-width: 768px) {
  header {
    z-index: 1;
  }
  header .logo {
    position: fixed;
    top: 20px;
    right: 15px;
  }
  header .logo a {
    color: #000;
    font-size: 20px;
  }
  nav {
    top: 20px;
    padding: 0 15px;
    width: initial;
    z-index: 100;
  }
  nav .gnb {
    display: none;
  }
  nav .right_nav {
    display: none;
  }
  .mobile_nav {
    display: block !important;
  }
  .footer {
    padding: initial;
    height: 100%;
  }
  .footer .wrap {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px;
  }
  .footer .wrap .left_section > ul {
    display: flex;
  }
  .footer .wrap .left_section > ul > li {
    width: 50%;
  }
  .footer .wrap .center_section {
    order: 3;
    text-align: left;
    font-size: 13px;
  }
  .footer .wrap .center_section .logo {
    display: none;
  }
  .footer .wrap .center_section .info > ul > li {
    font-size: 12px;
    line-height: 1.5;
  }
  .footer .wrap .right_section .notice {
    display: flex;
  }
  .footer .wrap .right_section .notice li {
    position: relative;
    padding: 0 10px;
  }
  .footer .wrap .right_section .notice li:first-child {
    padding-left: 0;
  }
  .footer .wrap .right_section .notice li:last-child {
    padding-right: 0;
  }
  .footer .wrap .right_section .notice li:last-child::after {
    display: none;
  }
  .footer .wrap .right_section .notice li:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #000;
  }
}/*# sourceMappingURL=common.css.map */