@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
// 폰트변수
$outfit : 'Outfit', 'Pretendard-Regular', sans-serif;
$gowun : 'Gowun Batang', serif;
$mill : 'Sorts Mill Goudy', serif;
$pre : 'Pretendard-Regular';

* { margin: 0; padding: 0; font-size: 14px; font-family: $outfit;}
body.noneScroll {overflow: hidden;    position: relative;    height: 100%;}
::selection {background: red;}
li { list-style: none;}
a:link, a:active, a:visited { text-decoration: none; color: #000; }

span.memo { display: none; font-size: 10px; background-color: lemonchiffon; }

.wrap { position: relative; }

header {
    position: absolute; z-index: 999; top: 30px; width: 100%; text-align: center;
    .logo { 
        a {
            color:#000; font-size: 30px; text-transform: uppercase;
        }
    }
    
    nav {
        top: 0;
        .gnb,
        .right_nav { position: fixed; top: 30px; }
        
        .gnb.left_nav {
            left: 30px;
            text-align: left;
            li.active a,
            div.active a { color:#ff5722; }
            li {
                a {
                    font-size: 18px; line-height: 1.5;
                    font-weight: 600;
                }
            }
            div {
                a {
                    span.link {

                    }
                }
            }
        }
        .right_nav {
            right: 30px; text-align: right;
            
            .menu {
                margin-bottom: 20px;
                overflow: hidden;
                > ul > li {
                    height: 30px;
                    overflow: hidden;
                    
                    &.active {height: 100%;}
                    > a {font-size: 18px; font-weight: 600; line-height: 1.5;}
                }
                .sub_menu {
                    overflow: hidden;
                    margin-bottom: 10px;
                    li {
                        line-height: 1.6;
                        a {
                            font-size: 16px;
                            &:hover {text-decoration: underline;}
                        }
                    }
                }

                > ul > li:hover {
                    > a {
                        text-decoration: underline;
                    }
                    .sub_menu {
                        // display: block;
                        transform: translateY(0);
                    }
                }
            }
            
            hr {
                border: 0;
                border-bottom: 1px solid #000;
            }
            .customer {
                margin-top: 20px;
                li {
                    a { font-size: 16px; }
                }
            }
        }
    } // nav end

    .mobile_nav { 
        position: fixed;
        top: 30px;
        z-index: 999;

        display: none;
        
        > ul {
            position: absolute;
            z-index: 999;
    
            left: 15px;
            li {
                span {
                    display: block;
                    width: 30px;
                    height: 2px;
                    background-color: #000;
                    margin-bottom: 8px;
                    transition: all .2s;
                }
            }
    
            .burger.active {
                span:nth-of-type(1) { transform: rotate(45deg) translate(6px,8px); }
                span:nth-of-type(2) { transform: translateX(-10px); opacity: 0;}
                span:nth-of-type(3) { transform: rotate(-45deg) translate(6px,-8px); }
            }
    
        }
    } // mobile_nav end

    .side_menu {
        // display: none;
        position: fixed;
        top: 0;
        z-index: 1;
        padding: 60px 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        transition: all .3s;
        transition-timing-function: ease-in-out;
        transform: translateX(-100%);
        opacity: 0;
    
        .wrap {
            > ul {
                hr {
                    margin: 20px 10px;
                    border: 0;
                    border-top: 1px solid #ccc;
                }
                li {
                    padding-left: 15px;
                    line-height: 1.8;
                    a {
                        font-size: 16px;
                        span.link {
                            display: inline-block;
                            width: 15px;
                            height: 15px;
                            margin-left: -3px;
                            font-size: 10px;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
    
                .menu li a,
                .gnb li a { font-size: 20px; }
            }
        }
    
        &.active {
            transform: translateX(0);
            opacity: 1;
        }
    } // .side_nav end
} // header end



main { .footer_section{height: 0;}}

.footer {
    background-color: #f0cb7a;
    .wrap {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 100px 30px;
        width: 60%;
        height: 100vh;
        box-sizing: border-box;
        text-align: center;

        
        .tit {
            margin-bottom: 5px;
            font-size: 16px;
            font-weight: 600;
        }
        
        .left_section {
            > ul {
                > li {
                    margin: 0 0 20px;
                    
                }
            }
        }
        
        .center_section {
            // margin: 0 200px;
            .logo {
                margin-bottom: 30px;
                font-size: 36px;
                text-transform: uppercase;
            }

            .info {
                > ul {
                    > li {

                    }
                }
            }
        }

        .right_section {
            > ul {
                > li {
                    margin: 0 0 20px;

                }
            }
        }
    }
} // .footer end



@media screen and (max-width: 768px) {
    header {
        z-index: 1;
        .logo {
            position: fixed;
            top: 20px; right: 15px;
            a {
                color: #000; font-size: 20px;
            }
        }
    }

    nav {
        top: 20px;
        padding: 0 15px;
        width: initial;
        z-index: 100;

        .gnb {display: none;}
        .right_nav {display: none;}
    }
    
    
    .mobile_nav { display: block !important;}
    

    .footer {
        padding: initial;

        height: 100%;
        .wrap {
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: 30px;
            .left_section {
                // order: 2;
                > ul {
                    display: flex;
                    > li {
                        width: 50%;
                        .tit {

                        }

                        > ul {
                            // display: none;
                            > li {

                            }
                        }
                    }
                }
            }

            .center_section {
                // margin-bottom: 50px;
                order: 3;
                text-align: left;
                font-size: 13px;

                .logo {
                    display: none;
                    // margin-bottom: 20px;
                }

                .info {
                    > ul > li {font-size: 12px; line-height: 1.5;}
                }
            }

            .right_section {
                .notice {
                    display: flex;
                    li {
                        position: relative;
                        padding: 0 10px;
                        &:first-child{padding-left: 0;}
                        &:last-child{padding-right: 0; &::after{display: none;}}
                        &:after {
                            content: ''; 
                            position: absolute;
                            top: 0; right: 0;
                            width: 1px; height: 100%; background-color: #000;
                        }
                    }
                }
                .sns {

                }
            }
        }
        
    }
}