.button-wrapper{
  display: flex;
  align-items: center;
  transform: translateY(2px);
}

.button-wrapper a {
  display: flex;
  align-items: center;
}

.circular-button{
  margin-left: var(--spacing-s);
}

.tag {
  display: inline-block;
  border-radius: 4px;
  padding: 3px 7px;
  line-height: 1;
  background: #F2F2F3;
  color:#585858;
  border-radius: var(--border-radius);
  padding: calc(var(--spacing-xs)/2) var(--spacing-xs);
}