.featured-products__wrapper {
    border-top: var(--border);
    border-bottom: var(--border);
}
.featured-products__wrapper .product-card__wrapper {
   padding: var(--spacing-xl);
}
.featured-products__wrapper .product-card__wrapper:not(:last-child) {
    border-bottom: var(--border);
}


@media (min-width: 768px){
    .featured-products__wrapper {
        display: grid;
        grid-template-columns: repeat(var(--nb-products), 1fr);
    }
    .featured-products__wrapper .product-card__wrapper:not(:last-child) {
        border-bottom: unset;
        border-right: var(--border);
    }
}