@import './../styles/variables.scss';

.header_container {
  padding: 30px 0 20px;

  .header_content {
    position: relative;
    display: flex;
    justify-content: center;

    .date {
      position: absolute;
      left: 0; bottom: 20px;
      font-family: $assistant;
      font-weight: 600;
    }
    .main_title{
      font-size: 60px;
      font-family: Chomsky;

      cursor: pointer;
    }
    .onoff {
      position: absolute;
      right: 0; bottom: 20px;

      ul {
        position: relative;
        border: 1px solid #000;
        border-radius: 50px;
        width: 26px; height: 12px;
        cursor: pointer;
        li {
          position: absolute;
          top: 0; left: 0;
          width: 12px; height: 12px;
          border-radius: 50%;
          background-color: #000;
          transition: all .2s;

          &.active {
            transform: translateX(14px);
            background-color: $pointColor;
          }
        }
      }
    }
  }
}

.bugerMenu {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  > li {

    width: 20px; height: 1px;
    background-color: #000;
    margin-top: 10px;
  }
}