/*해당 부분은 수정이 가능하신 분 아니시면 그대로 유지해주세요 */
.move {transition: 1.9s cubic-bezier(.14,.46,0,1.34);opacity: 0;will-change: transform, top ,opacity;}
.move.play {transition: 1.9s cubic-bezier(.14,.46,0,1.34);opacity: 1;will-change: transform, top ,opacity;}

/*
오른쪽으로 50픽셀이동 : transform: translateX(50px);
왼쪽으로 50픽셀이동 : transform: translateX(-50px);
아래로 50픽셀이동 : transform: translateY(50px);
위로 50픽셀 이동 : transform: translateY(-50px);
transition-delay:0.2s;는 모션이 진행 되기까지의 딜레이시간입니다. 0.5s로 수정시 더 늦게 모션이 시작됩니다.
*/

/* 1번째 섹션 내용값*/
#style01_1 .section_wrap #title01.play {transition-delay:0.2s;transform: translateX(-60px);} 
#style01_1 .section_wrap #title02.play {transition-delay:0.3s;transform: translateX(-60px);}
#style01_1 .section_wrap #title03.play {transition-delay:0.4s;transform: translateX(-60px);} 
#style01_1 .section_wrap #title04.play {transition-delay:0.5s;transform: translateX(-60px);}

/* 2번째 섹션 내용값*/
#style01_2 .section_wrap #title01.play {transition-delay:0.2s;transform: translateX(-60px);} 
#style01_2 .section_wrap #title02.play {transition-delay:0.3s;transform: translateX(-60px);}
#style01_2 .section_wrap #title03.play {transition-delay:0.4s;transform: translateX(-60px);} 
#style01_2 .section_wrap #title04.play {transition-delay:0.5s;transform: translateX(-60px);}

/* 3번째 섹션 내용값*/
#style01_3 .section_wrap #title01.play {transition-delay:0.2s;transform: translateX(-60px);} 
#style01_3 .section_wrap #title02.play {transition-delay:0.3s;transform: translateX(-60px);}
#style01_3 .section_wrap #title03.play {transition-delay:0.4s;transform: translateX(-60px);} 
#style01_3 .section_wrap #title04.play {transition-delay:0.5s;transform: translateX(-60px);}

/* 4번째 섹션 내용값*/
#style01_4 .section_wrap #title01.play {transition-delay:0.2s;transform: translateX(-60px);} 
#style01_4 .section_wrap #title02.play {transition-delay:0.3s;transform: translateX(-60px);}
#style01_4 .section_wrap #title03.play {transition-delay:0.4s;transform: translateX(-60px);} 
#style01_4 .section_wrap #title04.play {transition-delay:0.5s;transform: translateX(-60px);}

/* 5번째 섹션 내용값*/
#style01_5 .section_wrap #title01.play {transition-delay:0.2s;transform: translateX(-60px);} 
#style01_5 .section_wrap #title02.play {transition-delay:0.3s;transform: translateX(-60px);}
#style01_5 .section_wrap #title03.play {transition-delay:0.4s;transform: translateX(-60px);} 
#style01_5 .section_wrap #title04.play {transition-delay:0.5s;transform: translateX(-60px);}
