@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cookie&family=DM+Serif+Text:ital@0;1&family=Neonderthaw&family=Outfit:wght@100;200;300;400&display=swap');

* { 
  box-sizing: border-box;
}

header {
  position: fixed;
  z-index: 900;
  width: 100%;
  background-color: none;
}

header > .header-wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #000;
}

header > .header-wrap.remove {
  border-bottom: none;
}

header > .header-wrap > h1 {
  font-family: 'DM Serif Text', serif;
}


header > .header-wrap ul {
  display: flex;
}

header .header-wrap ul > li {
  margin: 0 1.2em;
}

header > .header-wrap ul a {
  font-size: 1.2em;
}

header .header-wrap h1.top-a-active a {
  color:initial;
}

header .header-wrap ul li.top-ul-a-active a {
  color:#222;
}

.top-active {
  background-color: #fff;
  border-bottom: 1px solid #000;
}

header nav > ul > li.on > a,
header nav > ul > li:hover > a {
  color: #d7ff00 !important;
  font-weight: 600;
}

article {
  padding: 30px 0;
  height: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  background-color: #fff;
}

h2 {
  padding: 10px 0 50px;
  font-size: 32px;
}

.sec1 {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../search/img/main-visual.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec1 p {
  font-size: 4em;
  color: #fff;
  letter-spacing: 0.3em;
  font-family: 'Outfit', sans-serif;
}

.sec2 {
  height: 100%;
  height: 1000px;
}

.sec2 .tab-wrap .tab-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  height: 40px;
}

.sec2 .tab-wrap .tab-menu li {
  font-size: 20px;
  margin: 0 10px;
}

.sec2 .tab-wrap .tab-menu li:hover {
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
}

.sec2 .tab-wrap .tab-menu li.active {
  font-weight: 600;
  text-decoration: underline;
}

.sec2 .tab-wrap .tab-content div {
  width: 800px;
  margin: 20px auto;
  overflow: hidden;
}

.sec2 .tab-wrap .tab-content div .img-wrap {
  overflow: hidden;
  margin-bottom: 30px;
  height: 533px;
}

.sec2 .tab-wrap .tab-content div img {
  width: 100%;
  transition: all 0.5s;
}

.sec2 .tab-wrap .tab-content div img:hover {
  transform: scale(1.2);
}

.sec2 .tab-wrap .tab-content div p {
  margin: 5px 0;
  padding: 0 50px;
  font-size: 16px;
}



.sec3 .reverse {
  flex-direction: row-reverse;
}

.sec3 .park-content {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
}

.sec3 .park-content:nth-of-type(1) li {
  margin: 10px 0 0 10px;
}

.sec3 .park-content:nth-of-type(2) li {
  margin: 10px 10px 0 0;
}

.sec3 .park-content:nth-of-type(3) li {
  margin: 10px 0 0 10px;
}

.sec3 .park-content .screen {
  width: 50%;
  height: 700px;
  overflow: hidden;
}

.sec3 .park-content .screen img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.sec3 .park-content .park-sub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  text-align: left;
  max-height: 700px;
}

.sec3 .park-content .park-sub .text-box {
  padding: 30px 50px 0;
  height: 60%;
  box-sizing: border-box;
}

.sec3 .park-content .park-sub .text-box h3 {
  padding-bottom: 20px;
  font-size: 22px;
}

.sec3 .park-content .park-sub .text-box p {
  font-size: 13px;
  padding-bottom: 10px;
}

.sec3 .park-content .park-sub .thmbs {
  display: flex;
  width: 100%;
  height: 40%;
  margin: 0 auto;
}

.sec3 .park-content .park-sub .thmbs li {
  width: 100%;
  overflow: hidden;
}

.sec3 .park-content .park-sub .thmbs li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}

.sec3 .park-content .park-sub .thmbs li img:hover {
  transform: scale(1.2);
}


.sec4 .wrap {
  width: 90%;
  margin: 40px auto 0;
}

.sec4 .reverse {
  display: flex;
  flex-direction: row-reverse;
}

.sec4 .shop {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.sec4 .shop .img-container {
  width: 785px;
  height: 380px;
  overflow: hidden;
  background-color: #000;
}

.sec4 .shop .img-container img {
  transition: all 1s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec4 .shop .img-container img:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

.sec4 .shop .text-container {
  width: 30%;
  position: relative;
}

.sec4 .shop .text-container span {
  position: absolute;
  top: -65px;
  left: 120px;
  font-size: 170px;
  font-weight: 800;
  color: #d7ff00;
  color: #eee;
  opacity: 0.5;
}

.sec4 .shop .text-container h3 {
  position: relative;
  z-index: 10;
  margin-top: 40px;
  font-size: 32px;
}

.sec4 .shop .text-container h4 {
  position: relative;
  z-index: 10;
  font-size: 25px;
  margin-bottom: 40px;
}

.sec4 .shop .text-container p {
  padding: 0 20px 10px;
  font-size: 14px;
  text-align: justify;
}

.sec5 {
  height: 100vh;
}

.sec6 .slides {
  overflow: hidden;
  position: relative;
  width: 1024px;
  height: 600px;
  margin: 0 auto 50px;
}

.sec6 .slides-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  transition: all 0.5s;
}

.sec6 .slides-container p {
  width: 1024px;
  height: 600px;
  background-position: center center;
  background-size: cover;
  text-align: left;
  position: relative;
}

.sec6 .slides-container p a {
  position: absolute;
  display: block;
  color: #fff;
  top: 60%;
  left: 40px;
  /* left: 50%; */
  font-size: 18px;
  text-shadow: 2px 2px 2px  #000;
}

.sec6 .slides-container p a span {
  display: block;
  margin-bottom: 15px;
  font-size: 30px;
}

.sec6 .slides-container p .month {
  position: absolute;
  z-index: 300;
  top: -50px;
  right: 20px;
  font-size: 200px;
  font-family: 'Cookie', cursive;
  opacity: 0.7;
  color: #fff;
}

.sec6 .slides > .slides-container > p:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(./../search/img/sec5/sec05-01.jpg);
}

.sec6 .slides > .slides-container > p:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(./../search/img/sec5/sec05-02.jpg);
}

.sec6 .slides > .slides-container > p:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(./../search/img/sec5/sec05-03.jpg);
}

.sec6 .slides > .slides-container > p:nth-child(4) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(./../search/img/sec5/sec05-04.jpg);
}

.sec6 .slides > .slides-container > p:nth-child(5) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(./../search/img/sec5/sec05-05.jpg);
}

.sec6 .slides > .slides-container > p:nth-child(6) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(./../search/img/sec5/sec05-06.jpg);
}

.sec6 .slides > .slides-container > p:nth-child(7) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(./../search/img/sec5/sec05-07.jpg);
}

.sec6 .slides > .slides-container > p:nth-child(8) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(./../search/img/sec5/sec05-08.jpg);
}

.sec6 .slides > .slides-container > p:nth-child(9) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(./../search/img/sec5/sec05-09.jpg);
}

.sec6 .slides > .slides-container > p:nth-child(10) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(./../search/img/sec5/sec05-10.jpg);
}

.sec6 .slides > .slides-container > p:nth-child(11) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(./../search/img/sec5/sec05-11.jpg);
}

.sec6 .slides > .slides-container > p:nth-child(12) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(./../search/img/sec5/sec05-12.jpg);
}

.sec6 .slides-pagination {
  display: flex;
  margin-top: -150px;
  position: absolute;
  top: 710px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sec6 .slides-pagination li {
  margin: 0 5px;
}

.sec6 .slides-pagination li a {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  text-indent: -9999px;
}

.sec6 .slides > .slides-pagination > li.on > a,
.sec6 .slides > .slides-pagination > li:hover > a {
  background-color: #d7ff00;
  box-sizing: border-box;
}

.sec7 {
  height: 100%;
  background-color: #fff;
}

.sec7 .suburd-wrap {
  width: 100%;
}

.sec7 .tab__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  height: 40px;
}

.sec7 .tab__menu li {
  font-size: 20px;
  margin: 0 10px;
}

.sec7 .tab__menu li:hover {
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
}

.sec7 .tab__menu li.tab__active {
  font-weight: 600;
  text-decoration: underline;
}

.sec7 .tab__content div {
  margin: 20px auto;
  overflow: hidden;
}

.sec7 .tab__content div .tab__img-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  width: 100%;
  overflow: hidden;
}

.sec7 .tab__content div .tab__img-wrap .main-container {
  margin: 0;
  width: 50%;
  border: 1px solid #fff;
}

.sec7 .tab__content div .tab__img-wrap .main-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}

.sec7 .tab__content div .tab__img-wrap .main-container img:hover {
  transform: scale(1.2);
  /* opacity: 0.8; */
}

.sec7 .tab__content div .tab__img-wrap .sub-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.sec7 .tab__content div .tab__img-wrap .sub-container li {
  width: 50%;
  overflow: hidden;
  border: 1px solid #fff;
}

.sec7 .tab__content div .tab__img-wrap .sub-container li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}

.sec7 .tab__content div .tab__img-wrap .sub-container li img:hover {
  transform: scale(1.2);
  /* opacity: 0.8; */
}

.sec7 .tab__content div .text-content h3 {
  margin: 30px auto;
  font-size: 23px;
  width: 900px;
}

.sec7 .tab__content div .text-content p {
  margin: 30px auto 50px;
  padding: 0 100px;
  font-size: 16px;
  text-align: left;
  line-height: 1.9;
}

.sec7 .tab__content div .sub-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}

.sec7 .tab__content div .sub-content .item-wrap {
  margin: 0 5px 50xp;
  width: 320px;
  height: 400px;
}

.sec7 .tab__content div .sub-content .item-wrap .item-img {
  height: 60%;
}

.sec7 .tab__content div .sub-content .item-wrap .item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec7 .tab__content div .sub-content .item-wrap .item-text {
  height: 40%;
}

.sec7 .tab__content div .sub-content .item-wrap .item-text p:nth-of-type(1) {
  font-weight: 500;
  font-size: 18px;
}

.sec7 .tab__content div .sub-content .item-wrap .item-text p:nth-of-type(2) {
  margin-top: 10px;
}

footer {
  height: 300px;
  line-height: 300px;
  text-align: center;
}

@media screen and (max-width:1024px) {

}

@media screen and (max-width:768px) {
  header > .header-wrap ul a {
    font-size: 1.2em;
  }

  .sec2 { /* landmark */
    width: 100%;
  }
  .sec2 .tab-wrap .tab-menu {
    width: 90%;
  }
  .sec2 .tab-wrap .tab-content div {
    width: 100%;
  }


  .sec3 .park-content {
    flex-direction: column;
  }
  .sec3 .park-content .screen {
    width: 100%;
    height: 400px;
  }

  .sec3 .park-content .park-sub {
    width: 100%;
  }

  .sec3 .park-content .park-sub .text-box {
    order: 200;
    width: 100%;
    margin-bottom: 50px;
  }
  .sec3 .park-content:nth-of-type(1) li {margin: 5px 0;}
  .sec3 .park-content:nth-of-type(2) li {margin: 5px 0;}
  .sec3 .park-content:nth-of-type(3) li {margin: 5px 0;}

  .sec3 .park-content .park-sub .thmbs {
    order: 100;
  }
  .sec3 .park-content .park-sub .thmbs li {
    height: 150px;
  }
  .sec3 .park-content .park-sub .thmbs li:nth-child(2) {
    margin: 5px 5px;
  }


  .sec4 .wrap {
    width: initial;
  }

  .sec4 .shop {
    flex-direction: column;
  }

  .sec4 .shop .img-container {
    width: 100%;
  }

  .sec4 .shop .text-container {
    width: 90%;
    margin: 0 auto;
    text-align: right;
  }

  .sec4 .shop .text-container p {
    padding: initial;
    text-align: right;
  }

  .sec4 .reverse .text-container {
    width: 90%;
    margin: 0 auto;
    text-align: left;
  }

  .sec4 .reverse .text-container p {
    padding: initial;
    text-align: left;
  }

  .sec4 .shop .text-container span {
    top: -55px;
    right: 10px;
  }

  .sec4 .reverse .text-container span {
    top: -55px;
    left: 20px;
  }


  .sec6 .slides {
    width: 100%;
  }

  .sec6 .slides-container p {
    width: 768px;
  }

  .sec6 .slides-container p .month {
    right: 50px;
  }
  
  .sec7 .tab__menu {
    width: 90%;
  }

  .sec7 .tab__content div .tab__img-wrap {
    flex-direction: column;
  }

  .sec7 .tab__content div .tab__img-wrap .main-container {
    width: 100%;
  }

  .sec7 .tab__content div .tab__img-wrap .sub-container {
    width: 100%;
  }

  .sec7 .tab__content div .text-content h3 {
    padding: 0 30px;
    width: initial;
  }

  .sec7 .tab__content div .text-content p {
    padding: 0 50px;
  }

  .sec7 .tab__content div .sub-content {
    width: 100%;
  }

  .sec7 .tab__content div .sub-content .item-wrap {
    width: 50%;
    padding: 0 5px;
  }

  .sec7 .tab__content div .sub-content .item-wrap .item-text {
    padding: 0 10px;
  }

}



@media screen and (max-width:425px) {
  header > .header-wrap {
    flex-direction: column;
    height: 100px;
    line-height: 50px;
    border-bottom: none;
  }

  header > .header-wrap > h1 {
    text-align: center;
  }

  header > .header-wrap nav {
    border-bottom: 1px solid #000;
  }

  header > .header-wrap nav.nav-remove {
    border-bottom: none;
  }


  header > .header-wrap ul {
    justify-content: center;
  }

  header .header-wrap ul > li {
    margin: 0 0.6em;
  }

  header > .header-wrap ul a {
    font-size: 1.1em;
  }

  .top-active {
    background-color: #fff;
    border-bottom: 1px solid #000;
  }

  h2 {
    font-size: 2em;
    padding: 10px 0 40px;
  }

  .sec1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../search/img/425-main-visual.jpg);
  }

  .sec1 p {
    font-size: 3em;
  }

  .sec2 {
    height: 800px;
  }

  .sec2 .tab-wrap .tab-menu li {
    font-size: 1.3em;
  }

  .sec2 .tab-wrap .tab-content div .img-wrap {
    height: 300px;
  }

  .sec2 .tab-wrap .tab-content div p {
    font-size: 1.1em;
    padding: 0 20px;
    text-align: left;
    line-height: 1.7;
  }

  .sec3 .park-content .park-sub .text-box {
    padding: 20px 20px 0;
    margin-bottom: 20px;
  }


  .sec4 .shop {
    margin-bottom: 80px;
  }

  .sec4 .shop .img-container {
    height: 280px;
  }


  .sec6 .slides {
    height: 400px;
  }

  .sec6 .slides-container p {
    width: 425px;
    height: 400px;
  }

  .sec6 .slides-container p a {
    left: initial;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    top: 30%;
  }

  .sec6 .slides-container p a span {
    font-size: 1.5em;
  }

  .sec6 .slides-container p .month {
    font-size: 8em;
    top: initial;
    right: 30px;
  }

  .sec6 .slides-pagination {
    top: 520px;
  }


  .sec7 .tab__menu li {
    font-size: 1.3em;
  }

  .sec7 .tab__content div {
    margin: 15px auto;
  }

  .sec7 .tab__content div .tab__img-wrap .sub-container {
    width: 100%;
  }

  .sec7 .tab__content div .tab__img-wrap .sub-container li {
    width: 100%;
  }

  .sec7 .tab__content div .text-content h3 {
    font-size: 1.3em;
    margin: initial;
  }

  .sec7 .tab__content div .text-content p {
    padding: 0 20px;
  }

}

@media screen and (max-width:375px) {

  header > .header-wrap h1 a {
    color:#fff;
  }

  header > .header-wrap ul a {
    color: #fff;
    font-size: 1em;
  }

  article {
    padding: 10px 0;
  }

  h2 {
    padding: 10px 0 30px;
  }

  .sec1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../search/img/375-main-visual.jpg);
  }

  .sec1 p {
    font-size: 2em;
  }


  .sec2 {
    height: 700px;
  }

  .sec2 .tab-wrap .tab-menu li {
    font-size: 1.2em;
  }

  .sec2 .tab-wrap .tab-content div {
    margin: 5px auto;
  }

  .sec2 .tab-wrap .tab-content div .img-wrap {
    margin-bottom: 20px;
    height: 250px;
  }

  .sec4 .shop .img-container {
    height: 230px;
  }

  .sec4 .shop .text-container span {
    font-size: 130px;
    top: -40px;
  }

  .sec4 .shop .text-container h3 {
    font-size: 2em;
    margin-top: 30px;
  }

  .sec4 .shop .text-container h4 {
    font-size: 1.6em;
    margin-bottom: 30px;
  }


  .sec6 .slides {
    height: 400px;
  }

  .sec6 .slides-container p {
    width: 375px;
    height: 400px;
  }

  .sec6 .slides-container p a {
    left: initial;
    font-size: 1em;
    top: 35%;
  }

  .sec6 .slides-container p a span {
    font-size: 1.6em;
  }

  .sec6 .slides-container p .month {
    font-size: 6em;
    top: initial;
  }

  .sec6 .slides-pagination {
    top: 520px;
  }
}

@media screen and (max-width:320px) {
  header > .header-wrap {
    height: 80px;
    line-height: 40px;
  }

  header > .header-wrap h1 a {
    color: initial;
  }

  header .header-wrap ul > li {
    margin: 0 0.3em;
  }

  header > .header-wrap ul a {
    color: initial;
    font-size: 1em;
  }

  
  
  h2 {
    font-size: 1.5em;
    padding: 10px 0 20px;
  }

  .sec1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../search/img/320-main-visual.jpg);
  }
  
  .sec2  {
    height: 630px;
  }

  .sec2 .tab-wrap .tab-menu li {
    font-size: 1em;
  }


  .sec3 .park-content .park-sub .text-box {
    margin: 20px 10px 0;
    padding: 20px 10px 0;
  }

  .sec2 .tab-wrap .tab-content div .img-wrap {
    height: 210px;
  }



  .sec3 .park-content .park-sub .thmbs li {
    height: 50px;
  }







  .sec6 .slides {
    width: 320px;
  }

  .sec6 .slides-container p {
    width: 320px;
  }

  .sec6 .slides-container p .month {
    right: 10px;
  }



  .sec7 .tab__menu li {
    font-size: 1em;
  }

  .sec7 .tab__content div .text-content p {
    font-size: 1em;
  }

  .sec7 .tab__content div .sub-content .item-wrap .item-text {
    font-size: 1em;
  }

  .sec7 .tab__content div .sub-content .item-wrap {
    height: 500px;
  }

  .sec7 .tab__content div .sub-content .item-wrap .item-text {
    height: initial;
  }








}